[2021-05-24 12:57] #240 closed, assigned to tchellomello

[2021-05-24 16:51] rooftopcellist opened #332 "Extend Permissions of Service Account for imagePullSecret management"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

As part of the work to be able to use EE's from protected registries in the AWX codebase [here](https://github.com/ansible/awx/pull/10204), we need to extend the permissions of the service account generated by the awx-operator to include creating and deleting secrets.

In addition, we should update the docs on creating a service account to reflect thi

[2021-05-25 00:52] MrBones757 commented on #286
Another interesting observation, it appears your can use the "run command" feature of an inventory and it successfully spins up a new container, however if you run a job with the same EE it fails. Not this occurs for the default EE 0.2.0 and a custom EE based off 0.2.0.

[2021-05-25 03:03] tchellomello commented on #321
@pythonwood Thanks for reporting this. I was able to reproduce the issue.

[code]
I tested on a `k8s` cluster and `OCP` and worked fine. I'll dig into that.

[2021-05-25 05:33] MrBones757 commented on #286
Update Again, A fresh install of AWX works, but for some reason our database migrated from 17.0.1 does not work
I have looked at tables (main_instance, main_instancegroup, main_executionenvironment, main_project, conf_setting, main_organization) and compared between a fresh instance and my instance using the same containers, ees, deployment etc (only difference being awx self managed db for the ne

[2021-05-25 20:04] 0x4e44 commented on #321
I think this situation is occuring on single node minikube. still is doing this behaviour since the install was made last week. Only a reboot made this issue pop-out.

[2021-05-26 00:50] #326 closed, assigned to tchellomello

[2021-05-26 14:12] sry90 opened #336 "Manifest file"
Hi !

I am looking for the manifest file location that specify the deployment resource for pods replica (awx and not the operator).
Do you know where can i find it ?

Thanks a lot

[2021-05-26 16:06] #311 closed, assigned to nobody

[2021-05-26 16:08] tchellomello commented on #336
@sry90 not sure if I'm following your question, but you can look at the deployment template at https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/deployment.yaml.j2.

[2021-05-26 16:11] tchellomello commented on #325
@DanRod1 try to inspect the logs from your `awx` pod to see why you are getting the error 500.

[2021-05-26 16:24] tchellomello commented on #313
@Seb0042 could you please provide the output for the command below:

[code]

[2021-05-26 16:31] tchellomello commented on #309
@cira-jonathan it looks like the resolution of your cluster is not working. If you connect on your `awx` pod, are you able to resolve names? For instance: <podname>.<namespace>?  Do you have any particular `dnsPolicy` set on your cluster?

Have you checked the `/etc/tower/conf.d/credentials.py` look as expected?

[2021-05-26 17:32] jw-maynard commented on #326
Thanks you @shanemcd

[2021-05-26 18:19] jurschel opened #337 "Adding a custom krb5.conf via operator?"
##### ISSUE TYPE
 - Question

##### SUMMARY
I need to add a custom krb5.conf to the awx-task container so that it can connect to my Active Directory ldap for kerberos.  How can I do that via the operator?

##### ENVIRONMENT
* AWX version: 19.1
* Operator version: 0.9.0
* Kubernetes version: 1.19.6
* AWX install method: operator

[2021-05-26 18:23] rooftopcellist commented on #332
I tested that these permissions allow a user to run a job in an AWX deployment in Openshift using pods in that cluster.  Here are the details: https://github.com/ansible/awx/pull/10204#issuecomment-848244192

[2021-05-26 18:23] #332 closed, assigned to rooftopcellist

[2021-05-26 18:52] tchellomello commented on #337
@jurschel have you tried the options as explained at https://github.com/ansible/awx-operator#custom-volume-and-volume-mount-options?

[2021-05-26 19:08] jurschel commented on #337
I did.  Didn't realize that I had to add tower_ to the 0.9.0 values.  Also once I got that changed now I'm getting this when the awx-task container tries to start.

[code]

This is the bit I added to my awx.yaml
[code]

[2021-05-26 21:40] jurschel commented on #337
Once I copied someone's who was actually working this started functioning.  the syntax is exactly the same.  Not sure why it worked when I copied it...  You can close this thanks for your help.

[2021-05-27 01:13] tchellomello commented on #337
Awesome!! Glad it worked!

[2021-05-27 01:13] #337 closed, assigned to nobody

[2021-05-27 09:30] sry90 commented on #336
Thanks for your answer @tchellomello :)
Okay nice, but i notice in that file that the replica parameter take the variable "replica" that is 1 by default in the variable default file. When i launch the manifest deploy my-awx, the awx pods are 4 , where is the "4" value that i can changed (or not ?).
I don't know if i'm clear :p

Thanks !

[2021-05-27 10:28] Zokormazo opened #338 "Operator loops forever with invalid images"
I made a typo on my CR with the image override.

The operator is looping forever now.

It timeouts here:
[code]

Would be great to mark the CR as invalid and skip it after N failures or so, stoping the reconciliation loop instead of looping due to a `ImagePullBackOff` deploying the instance

[2021-05-27 10:57] Seb0042 commented on #313
Hi,

Data is anonymized here but it is the same form (respect of the - and . in the name):
mydbservice.db-namespace.svc.my-cluster

[2021-05-27 12:52] tchellomello commented on #336
The 4 you see it's the number containers you have in that pod. If you look at the file I linked, you will see the `image` listed for times. (web, task, memcache and we).

When you add a new replica, you will see another pod with a another set of 4.

[2021-05-27 15:30] cira-jonathan commented on #309
@tchellomello Here's a the output from `kubectl get pods`

[code]

I've connected to each of the pods and I'm unable to use any tools such as `ping` or `nslookup`. I just get a `command not found` error. I do not have any particular dnsPolicy set on my cluster. I'm just following the instructions found here: https://github.com/ansible/awx/blob/devel/INSTALL.md

Also, when I logged into each pod I

[2021-05-27 19:50] bandwiches opened #340 "AWX instance template variables require "tower_""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX instance variables fail to validate without "tower_" being prepended.

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: minikube (v1.18.0 and v1.20.0)
* AWX install method: docker on linux

##### STEPS TO REPRODUCE
Follow install steps in `README.md`

##### EXPECTED RESULTS
To validate and install the AWX inst

[2021-05-27 20:09] tchellomello commented on #309
Can you try something like this?

**note**: for your end, user the pod name `awx-5b58db49c-8d5n9`. So replace `awx-sa-annotations` by `awx` on your end.
[code]
Another thing you can do is start a new pod using the dnstools on the same namespace and you can troubleshoot it.

[code]

Then on this pod, you should be able to run command commands and test the DNS resolution

[code]

[2021-05-28 04:50] tchellomello commented on #340
@bandwiches the version `0.9.0` was released before PR #331 and therefore you still need you use the `tower_` to get things configured. The new format is currently only in the `devel` branch and it will be present whenever the newer version gets released.

If you are using the `0.9.0` version, then you have to follow the docs on the same branch at https://github.com/ansible/awx-operator/tree/0.9.0

[2021-05-28 04:50] #340 closed, assigned to nobody

[2021-05-28 08:17] sry90 commented on #336
Oh oK ok very thanks for your reply :)

[2021-05-28 08:18] #336 closed, assigned to nobody

[2021-05-28 10:14] evilmonkeyslayer opened #341 "Generated password not working with webui"
EDIT: This issue only occurs if I set a custom awx-admin-password secret and then try to install awx. It does work with the randomly created password. However, any password I set myself fails to work. (just tried a fresh deploy and it gives me a whole long list of fails related to the password. Am I doing something wrong in creating this secret somehow?)

##### ISSUE TYPE
 - Bug Report

##### SUMM

[2021-05-28 14:27] evilmonkeyslayer commented on #341
To re-explain:

Edit my-awx.yaml to include the two bottom lines:

[code]

Create a file named secret.yaml with the contents:

[code]

Then run:

kubectl apply -f secret.yaml
kubectl apply -f my-awx.yaml

And include the ingress from the above post.

Looking at the logs with `kubectl logs -f deployments/awx-operator` gives me a whole bunch of fails. And awx doesn't deploy.

[2021-05-28 17:10] cira-jonathan commented on #309
@tchellomello Ran those commands you suggested and got the following output...

[code]

[2021-05-28 17:12] kurokobo commented on #341
The names of parameters seems have been changed few days ago, so the latest parameters' name that described in the latest README.md which doesn't have `tower_` prefix can be passed to the operator but seems can't work with actual `0.9.0` image.

Seems you are using the latest `awx-operator.yaml` in this repository but the recommended way is to use [latest "tagged" version of awx-operator.yaml](htt

[2021-05-28 17:44] tchellomello commented on #341
Just to complement what @kurokobo said, if you are deploying the `0.9.0`, make sure to follow the https://github.com/ansible/awx-operator/tree/0.9.0 branch documentation.

[2021-05-29 04:48] dat1041988 opened #342 "Virtualenv job mount PV"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I'm running awx on k8s. Can I mount PV for a job (using custom virtualenv)?
I tried using "ee_extra_volume_mounts" but volume is mounted on awx-ee container inside awx pod, not mount on job when i run a job template.

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: devel
* Kubernetes version: 1.20.0
* AWX install method: openshift 4

#####

[2021-05-29 10:13] macthev opened #343 "cr format"
##### ISSUE TYPE
 - Doco Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version:19.1.0
* Operator version: latest
* Kubernetes version:  1.21
* AWX install method: kubernetes
##### STEPS TO REPRODUCE

Following the doco to add loadbalancer(or any mods in the main doco), instructions say

spec:
    ingress_type: LoadBalancer
    loadbalancer_protocol: http

But get verification error.

Actually

[2021-05-30 15:09] dat1041988 commented on #342
Sorry, my mistake. We can use instance groups to do that.

[2021-05-30 15:09] #342 closed, assigned to nobody

[2021-05-30 18:24] tchellomello commented on #343
@cr if you are getting this error it's because you are running the version `0.9.0` therefore please follow the documentation at https://github.com/ansible/awx-operator/tree/0.9.0 which matches that particular branch.

The change you mentioned is https://github.com/ansible/awx-operator/pull/331 and will be present on the next released version.

[2021-05-30 18:24] #343 closed, assigned to nobody

[2021-05-31 05:46] macthev commented on #343
Thank you, yes make sense now.

[2021-05-31 08:00] Zokormazo opened #345 "Backup is broken"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Backup is broken

##### ENVIRONMENT
* AWX version: 19.1
* Operator version: devel
* Kubernetes version: OCP 4.6
* AWX install method: operator

##### STEPS TO REPRODUCE

1. Install operator
2. Deploy an awx instance
3. Backup

##### EXPECTED RESULTS

Get a backup

##### ACTUAL RESULTS

Operator fails on https://github.com/ansible/awx-operator/blob/deve

[2021-05-31 10:27] Zokormazo opened #346 "ca.crt is ignored when termination mode = `Passthrough`"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

with `Route` ingress, I can provide a `ca.crt` on the secret while using `Edge` termination mechanism, but is ignored on `Passthrough` mechanism

##### ENVIRONMENT
* AWX version: 19.1
* Operator version: devel
* Kubernetes version: OCP 4.6
* AWX install method: operator

##### STEPS TO REPRODUCE

1. Create a tls secret with `tls.key`, `tls.crt` and `c

[2021-05-31 11:45] peterge1998 opened #347 "AWX Operator gives error: event runner on failed after deploying on minikube"
##### ISSUE TYPE
 - AWX Operator gives error: event runner on failed

##### SUMMARY

##### ENVIRONMENT
* AWX version: Latest
* Operator version: 0.9.0
* Kubernetes version: minikube version: v1.20.0
* AWX install method: minikube > docker

##### STEPS TO REPRODUCE

[code]
Fill:
[code]
[code]

##### EXPECTED RESULTS
Start awx?!?

##### ACTUAL RESULTS
,"job":"3797840465501570741","name":"awx","names

[2021-06-01 08:28] evgenij-vorotnikov opened #349 "Migrating data from an old AWX instance"
Error from server (BadRequest): error when creating "myawx.yml": Secret in version "v1" cannot be handled as a Secret: v1.Secret.StringData

[2021-06-01 08:29] evgenij-vorotnikov commented on #349
Error from server (BadRequest): error when creating "myawx.yml": Secret in version "v1" cannot be handled as a Secret: v1.Secret.StringData

[2021-06-01 09:00] #349 closed, assigned to nobody

[2021-06-01 09:11] evgenij-vorotnikov opened #350 "ERROR Migrating data from an old AWX instance"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After command execution I got error: Secret in version "v1" cannot be handled as a Secret: v1.Secret.StringData: ReadString: expects " or n, but found 5, error found in #10 byte of ...|"

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: 1.20.2
* AWX install method: minikube

##### STEPS TO REPRODUCE

I follow inst

[2021-06-01 13:25] Seb0042 commented on #313
If I put the ip address of the service it works, but still fails with the name.
I event tried by creating the base64 data with an "echo -n xxx | base64 -w 0".

[2021-06-01 15:51] emmc15 opened #351 "AWX Containers keep getting evicted"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Multiple pods are spawning but are evicted shortly after a timeout. Disk pressure and mentions of taint keeps coming up for both operator pod as well as awx pod itself.

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: v1.21.1+k3s1
* AWX install method: Docker via Kubernetes Operator

##### STEPS TO REPRODUCE

Fo

[2021-06-01 20:10] #205 closed, assigned to nobody

[2021-06-01 20:10] #281 closed, assigned to tchellomello

[2021-06-01 20:10] #284 closed, assigned to nobody

[2021-06-02 08:08] wohnout opened #357 "Permission denied when using persistent volume AzureDisk"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am getting permission denied when trying to clone git into /var/lib/awx/projects when using persistent storage over AzureDisk

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.10.0
* Kubernetes version: 1.18.14
* AWX install method: Azure Kubernetes services

##### STEPS TO REPRODUCE
1) Create PV and PVC with defined storage class
[code]

[2021-06-02 09:11] emmc15 commented on #351
Issue was due to vm not having enough storage on it. Once wiped kubernetes and the operator reinstalled with more storage, issue was resolved

[2021-06-02 09:11] #351 closed, assigned to nobody

[2021-06-02 09:32] Zokormazo commented on #346
Pre chaining the .crt files as [indicated on nginx](http://nginx.org/en/docs/http/configuring_https_servers.html) documentation should work.

[2021-06-02 09:32] #346 closed, assigned to nobody

[2021-06-02 09:34] psreddy22 opened #359 "AWX - Setup with external Postgress - Fresh installation."
Hi Experts,

I'm able to use old postgress DB with new setup, but not able to to fresh setup. Getting below error, while connecting to awx web. Can anyone look into issue please !!

Error!
Failed to fetch custom login configuration settings. System defaults will be shown instead.
GET /api/ 404
404 page not found

[2021-06-02 09:36] Spredzy commented on #345
Fixed by https://github.com/ansible/awx-operator/pull/354

[2021-06-02 09:36] #345 closed, assigned to rooftopcellist

[2021-06-02 12:13] mo-saeed opened #360 "Install awx-operator all resources in one namespace"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I would like to install AWX operator resource in one namespace but this is not possible coz some resources generated in this file https://raw.githubusercontent.com/ansible/awx-operator/0.10.0/deploy/awx-operator.yaml have namespace "default" hardcoded (e.g. serviceaccount, clusterrolebinding)

How can i install awx-operator in namespace other than defa

[2021-06-02 12:16] Zokormazo commented on #360
donwload the file, modify those `namespace: default` as you wish and deploy with `-f ./awx-operator.yaml`

[2021-06-02 12:17] mo-saeed commented on #360
I am looking for sth dynamic, downloading the file for each version and modify the namespace is not really how it should work.

[2021-06-02 12:44] mo-saeed commented on #360
maybe solution for that, create namespace in the yaml file (e.g. with name `awx-operator` and add it to all resources to avoid installing software in default namespace

[2021-06-02 14:20] mo-saeed commented on #360
Right now also I have another issue, which the current installation procedure requires me to update the yaml files manually.

in our cluster we are using node selectors and node taints, which needs to be added to the deployment file so the pod can be scheduled in a specific node.

The installation procedure in this way is just a nightmare if we need every time to upgrade the operator, is there any

[2021-06-02 16:03] Gobam commented on #347
I am having the same issue with the following environment:

AWX version: Latest
Operator version: 0.10.0
Kubernetes version: minikube version: v1.20.0
AWX install method: minikube > docker

[2021-06-02 18:15] gstorme commented on #347
Can you paste the output from `kubectl describe pods`

[2021-06-02 19:06] Gobam commented on #347
Please find it below:

`~$ kubectl describe pods
Name:           awx-6d97bb8b9f-gcsx8
Namespace:      default
Priority:       0
Node:           <none>
Labels:         app.kubernetes.io/component=awx
                app.kubernetes.io/managed-by=awx-operator
                app.kubernetes.io/name=awx
                app.kubernetes.io/part-of=awx
                app.kubernetes.io/version=19.2.0

[2021-06-02 19:07] Gobam commented on #347
Please find it below:
`~$ kubectl describe pods
Name:           awx-6d97bb8b9f-gcsx8
Namespace:      default
Priority:       0
Node:           <none>
Labels:         app.kubernetes.io/component=awx
                app.kubernetes.io/managed-by=awx-operator
                app.kubernetes.io/name=awx
                app.kubernetes.io/part-of=awx
                app.kubernetes.io/version=19.2.0

[2021-06-02 19:11] Gobam commented on #347
PLease find it below:
[code]

[2021-06-02 19:41] gstorme commented on #347
Take a look at the Events from the output for your pods, for example you got a `0/1 nodes are available: 1 Insufficient cpu.`.
I suggest you upgrade your resources, or you limit the resources your pods can use, this is described in the documentation how you can do this.

[2021-06-02 19:49] Gobam commented on #347
Yes, I noted that and increased the number of CPUs, now it worked fine. Thanks for your help!

[2021-06-03 19:39] ghost commented on #360
I'm trying to install the awx-operator in its own namespace called AWX.  I tried changing all instances of the namespace keyword from default to awx and it's still creating some resources in default.

[2021-06-03 19:58] ckozler opened #367 "Upgrading AWX to 19.2 from 19.1 with Operator fails"
Hello - I did the `kubectl apply -f <url>awx-operator.yaml` as I have before and Operator normally updates the running version of awx, however, after multiple restarts the 19.1 is not being updated. When I look at the logs for Operator, this is what I see

`,\\\"status\\\":\\\"Failure\\\",\\\"message\\\":\\\"Service \\\\\\\\\\\"awx-service\\\\\\\\\\\" is invalid: spec.ports[0].nodePort: Forbidden:

[2021-06-04 02:28] AndrewSav opened #368 "Removing a single awxbackup object removes the entire PV with all the backups"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
If the PVC was not supplied for the backup the role creates a new one. This PVC will have an owner reference of the initial awxbackup. Subsequent backups will go to the same PVC but the owner reference will not change. When the initial backup is deleted, kubernetes will also delete children in this case the PVC, PV will be releases and all the backups

[2021-06-04 06:52] ghost commented on #12
This file only shows default as namespace.
https://raw.githubusercontent.com/metabsd/awx-operator/devel/deploy/awx-operator.yaml

[2021-06-04 10:23] AndrewSav opened #369 "Feature Request: restore backup on a different cluster"
As it stands, details required for restoring are written to the `status` of `awxbackup` and thus cannot be changed. If I want to restore the instance on the new cluster I cannot do that because there is no `awxbackup` object is there, and if I create it then `status` will not have the correct information.

This is a request to support such a scenario.

A few further thoughts. The lowest hanging fr

[2021-06-04 12:57] AndrewSav commented on #369
Never mind, I did not notice that you can omit the backup name and specify the directory and claim separately

[2021-06-04 12:57] #369 closed, assigned to nobody

[2021-06-04 13:11] AndrewSav opened #370 "Restore fails if a value in the deployment has colon"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
In awx object spec I have `ingress_annotations: 'cert-manager.io/cluster-issuer: letsencrypt'`, the value that has a colon. In such a case the awx object does not serialize correctly and restore fails with "unknown playbook failure".

##### ENVIRONMENT
* AWX version: 19.2.0
* Operator version: 0.10.0
* Kubernetes version: v1.21.0+k3s1
* AWX install met

[2021-06-04 14:00] peterge1998 commented on #347
Thank you, i got awx up and running with 0.10.0 :dancers:

One last question: How can i change the ip of awx?
minikube service awx-demo-service --url gives http://192.168.49.2:30263.
I would like to have it on the same ip which the host has: 10.0.5.109 in this case.

[2021-06-04 14:16] gstorme commented on #347
You can run a reverse proxy, such as nginx or haproxy, on your server, to take in traffic on the primary ip of your server, and pass traffic to the minikube network.

[2021-06-04 14:30] Gobam commented on #347
I had success using iptables rules with NAT, like the following:

iptables -t nat -I PREROUTING 1 -i ens3 -p tcp --dport 8080 -j DNAT --to-destination 192.168.49.2:30063
iptables -I DOCKER-USER 1 -j ACCEPT -i ens3 -d 192.168.49.0/24

This will allow all traffic directed to the real IP of the host port 8080 and redirect it to the AWX service IP/port

[2021-06-04 14:37] v1rtual-exe opened #371 "dhcp enterprise network"
Hello.
Tell me ...
Installed AWX in the enterprise network ... 10.50 ....
How to make the address from the DHCP server of the local network, and not 192.168 ..... ??

[2021-06-04 18:43] #327 closed, assigned to nobody

[2021-06-04 19:59] BrandonALXEllisSS opened #373 "Image versions are really confusing and not well documented."
It's not well documented how operator versions correlate to versions of awx.

There's variables like `image` and `image_version` leading me (and probably many others) to think that you can deploy any version of AWX using the operator (which clearly isn't the case, as 0.6.0 could deploy 17.1.0 and below whereas 0.8.0 could deploy 18.0.0, etc.)

But even more confusing is this line:

What is the "ve

[2021-06-04 21:04] BrandonALXEllisSS commented on #360
Wouldn't it be best to just use a kustomization.yml file and use that to edit the namespaces (instead of manually setting it yourself)?

Here's what I used:

[code]
Where `${Namespace}` is the name of your namespace, `awx-operator.yml` is the Custom Resource Definition config file you downloaded from `https://raw.githubusercontent.com/ansible/awx-operator/<TAG>/deploy/awx-operator.yaml`, and `awx-

[2021-06-05 00:49] ksquires commented on #230
i first came across experiencing this issue this week (which has been causing me a lot of grief).  seeing how this has been opened for a month and half, I'm sort of sad.  But @daenney , maybe tag your issue as a bug? maybe it will get better visibility

thank you for the quick and simple workaround, too!

[2021-06-06 02:11] metabsd commented on #373
You can find all the answers in the code. You are right, the documentation is not complete. With each release I have to rewrite my deployments, because there are still changes in the core of this operator. But it is described at the beginning of the documentation. This Operator is Alpha. I think it works well for an alpha operator.

For version 0.10.0 the default AWX version is 19.2.0.

The defaul

[2021-06-07 06:42] MaximilianMeister commented on #367
@ckozler JFYI: I have encountered the same error while upgrading from 19.1.0 to 19.2.0

There have been some notable breaking changes you need to address. In this case you need to set a `service_type` through the awx spec, and also all variables lost the `tower_` prefix, see https://github.com/ansible/awx-operator/blob/devel/CHANGELOG.md#0100-jun-1-2021 and https://github.com/ansible/awx-operator/

[2021-06-07 06:52] mihai-satmarean opened #375 "as an ansible user I would like to install the AWX using ansible"
##### ISSUE TYPE
 - Feature request

##### SUMMARY

Before the mandatory use of the AWX operator, we had a nice simple ansible playbook to maintain the whole life cycle of an AWX service. We would like to have that with the AWX operator. Unfortunately, the operator is ever-changing so any attempts to maintain a playbook are failing.

[2021-06-07 08:02] suukit opened #376 "Add private CAs to the containers"
Hi,
to allow access to TLS sites using private CAs we need to add CA certificates to the AWX containers. Is there a native way to do so using AWX operator?

I used extra_volumes/ee_extra_volume_mounts to get crt files to /etc/pki/ca-trust/source/anchors/ but a run of update-ca-trust is missing. Is there a native way to accomplish adding own CAs?

Currently we got two use cases for that:
1. fetchin

[2021-06-07 08:53] Gamerboy59 commented on #371
You mean exposing awx ingress on your public network for remote access (eth0, vnet0 etc.) and not for internal access (192.168.x.x),?

[2021-06-07 10:25] peterge1998 commented on #347
Awesome!
sudo iptables -t nat -I PREROUTING 1 -i ens18 -p tcp --dport 8080 -j DNAT --to-destination 192.168.49.2:30263
and
sudo iptables -I DOCKER-USER 1 -j ACCEPT -i ens18 -d 192.168.49.0/24
worked for me <3
AWX is now reachable via http://awx.DOMAIN.local:8080/#/login

[2021-06-07 10:25] #347 closed, assigned to nobody

[2021-06-07 13:56] ckozler commented on #367
Apologies, what do I need to address? I have 19.2 running by running the patch command in my original post. I've never actually accessed operator so, for me, whether it is ClusterIP or NodePort or LoadBalancer is irrelevant

[2021-06-07 17:14] TheITRx commented on #360
I'm having the same issue. I hope we can put all the resource in one bucket (namespace).

[2021-06-07 19:39] andrewsav-bt commented on #376
[This comment](https://github.com/ansible/awx-operator/issues/312#issuecomment-843607563) describes a couple of way to customize an execution environment. I do not have a first hand experience with the `ansible-builder` but simply deriving a docker image from the "official" EE (in combination with extra volume mounting) works for me.

[2021-06-07 19:39] AndrewSav commented on #376
[This comment](https://github.com/ansible/awx-operator/issues/312#issuecomment-843607563) describes a couple of way to customize an execution environment. I do not have a first hand experience with the `ansible-builder` but simply deriving a docker image from the "official" EE (in combination with extra volume mounting) works for me.

[2021-06-07 19:47] andrewsav-bt commented on #375
Just my two cents: Given that the team recently chose to depart from the legacy installation way with an ansible playbook to use more modern operator approach, it is not very likely that they will bring the old way back. They [already stated](https://github.com/ansible/awx/issues/10340#issuecomment-854049813) that they are a small team and can do only so much, so they are primarily focused on what

[2021-06-07 19:47] AndrewSav commented on #375
Just my two cents: Given that the team recently chose to depart from the legacy installation way with an ansible playbook to use more modern operator approach, it is not very likely that they will bring the old way back. They [already stated](https://github.com/ansible/awx/issues/10340#issuecomment-854049813) that they are a small team and can do only so much, so they are primarily focused on what

[2021-06-07 19:50] wenottingham commented on #375
This is correct - it was an intentional decision to move to operator-first deployment, to have a more native k8s way of doing it. We don't intend to go back to playbook-based deployments for that.

[2021-06-07 19:50] #375 closed, assigned to nobody

[2021-06-07 19:53] AndrewSav commented on #371
Yeah, it's not clear what's being asked. At the face value awx-opearator is not something that is concerned with networking, questions like that are usually solved on docker/kubernetes level and are not specific to particular apps such as awx.

[2021-06-07 20:09] AndrewSav commented on #367
It may be irrelevant for you but from the error message clearly relevant for the operator ;)

It sounds like you already solved your issues with the patch command you quoted. I'm guessing that incompatibilities like that are more or less unavoidable, while the team is experimenting with the operator on the way to version 1 (and even after that I have not seen any compatibility promises ;)

[2021-06-08 00:54] felipe4334 opened #380 "Mounting extra volumes on Pods"
I need help figuring this out, I have spent over a day troubleshooting this and can't seem to make any progress. I'm trying to mount a volume claim into AWX as shown below and when I go into the pods I notice that even though the mount path is there, its actually mounted to the primary volume instead of the external one. I have verified that my volume is created and volume claim is spelled correct

[2021-06-08 03:08] v1rtual-exe commented on #371
Yes, that would be the address from my dhcp server

[2021-06-08 03:10] v1rtual-exe commented on #371
Most likely it was incorrectly expressed, I still feel bad in docker/kubernetes.

[2021-06-08 08:07] mihai-satmarean commented on #375
Hi guys, @wenottingham long time no see :) last time I guess was at Paris automate.
I agree with you that you need to move to more k8s'quesque ways. What I just wanted to point is that we are used with Ansible and every tool surrounding it as a "battery included" philosophy. While now, with the operator, the AWX becomes a lotus on the lake. You need to make the planet, the lake, and the operator j

[2021-06-08 08:59] daenney commented on #230
@ksquires I'm a "contributor", not a member of this org/repo so unfortunately I'm not able to set labels. A maintainer/member will have to do that.

[2021-06-08 14:13] rantonmo opened #381 "Variable loadbalancer_annotations is ignored even when service_type is LoadBalancer"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Variable loadbalancer_annotations is ignored even when service_type is LoadBalancer

##### ENVIRONMENT
* AWX version: 0.19.2
* Operator version: 0.10.0
* Kubernetes version: v1.19.11
* AWX install method: openshift

##### STEPS TO REPRODUCE

Using this CR:
[code]
The annotations configured by the operator are None:

[code]

##### EXPECTED RESULTS

Ann

[2021-06-08 14:22] rantonmo commented on #381
There is a PR ([#377](https://github.com/ansible/awx-operator/pull/377)) to solve this issue, so I will close it.

[2021-06-08 14:22] #381 closed, assigned to nobody

[2021-06-08 16:14] rooftopcellist commented on #322
We need to add the `image_pull_secret` as part of this.  This is the list:
* route_tls_secret
* ldap_cacert_secret
* image_pull_secret

[2021-06-09 04:08] AndrewSav commented on #380
What do you mean by that? FWIW it's working as expected for me. Also check your volume resource, volumes [do not have the mountPath field](https://kubernetes.io/docs/reference/kubernetes-api/config-and-storage-resources/volume/).

[2021-06-09 07:53] mo-saeed opened #382 "configure execution_envs pod spec during installation"
##### SUMMARY
Is it possible to configure execution environment pod spec https://docs.ansible.com/ansible-tower/latest/html/administration/external_execution_envs.html#customize-the-pod-spec during AWX installation by the operator  ?

##### ENVIRONMENT
* AWX version: latest
* Operator version: latest
* Kubernetes version: 1.20.4

[2021-06-09 08:28] m4r1u2 opened #383 "K8S securityContext / runAsNonRoot"
We have a policy of not running any containers as root.
By default it looks like all awx and redis containers is starting as root and will fail/not start in our cluster do to default PSP in cluster.

If i manually update deployment manifest with SecurityContext for container is looks like its working...
[code]

Running as root is general not a recommended practice.

I also had to manually create f

[2021-06-09 08:45] ebarped commented on #383
Im using the 0.10.0 tag, and my containers run like this:

- redis: `uid=0(root) gid=0(root) groups=0(root)`
- web: `uid=1000(awx) gid=0(root) groups=0(root)`
- task: `uid=1000(awx) gid=0(root) groups=0(root)`
- ee: `uid=1000(runner) gid=0(root) groups=0(root)`

So the only one that has to be changed is the redis one.

BTW, im having the same problem with the rsyslog file.. Also tested 0.9.0 and s

[2021-06-09 13:16] blindrood commented on #350
This happens if You have port as int while it should be string (double quoted)

[2021-06-09 13:21] tchellomello commented on #382
@mo-saeed currently it's not.  You can determine the EE images (https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx)  via the operator spec, but not customize spec.

Closing as duplicated at https://github.com/ansible/awx-operator/issues/242

[2021-06-09 13:21] #382 closed, assigned to nobody

[2021-06-09 13:23] tchellomello commented on #129
I'm closing this one since we got https://github.com/ansible/awx-operator/pull/330 merged

[2021-06-09 13:23] #129 closed, assigned to nobody

[2021-06-09 13:24] tchellomello commented on #77
@aporwal3 could you try again with the latest version to see if that works?

[2021-06-09 13:27] tchellomello commented on #134
Closing this as tests are passing on devel.

[2021-06-09 13:27] #134 closed, assigned to nobody

[2021-06-09 14:12] WeetA34 commented on #370
Hello
it fails too if you defined extra envs in task_extra_env and/or web_extra_env.

the following awx definition:
[code]
results to the following backup's awx_object:
[code]
As you can see, task_extra_env and web_extra_env is not properly defined:
- \ of new lines have been removed
- yaml indentation is lost

Regards

[2021-06-09 14:13] felipe4334 commented on #380
@AndrewSav  I appreciate you SO MUCH for guiding me the right way. I was following AWX example on how to attach extra volumes but never stopped to realize that I could use other generic Kubernetes field. For anybody having issues in the future this is what the code I ended up doing.

Btw "mountPath:" did work. It's in the awx-operator I guess.

![image](https://user-images.githubusercontent.com/13

[2021-06-09 14:16] #380 closed, assigned to nobody

[2021-06-09 14:24] tchellomello commented on #373
Thanks for your update @metabsd

@BrandonALXEllisSS  as noted in the documentation, to see the bundled version you can look at https://github.com/ansible/awx-operator/blob/devel/roles/installer/defaults/main.yml#L108-L115

![image](https://user-images.githubusercontent.com/809840/121372873-9ade9100-c90c-11eb-8dac-3fb47c370ca3.png)

[2021-06-09 14:24] #373 closed, assigned to nobody

[2021-06-09 14:30] tchellomello commented on #367
@ckozler this issue is expected due to the breaking change introduced by https://github.com/ansible/awx-operator/pull/330

Before the `NodePort` was always added, while with the new version, you must set the `service_type: NodePort` in order to have it.

You should be able to adjust it by modifying your `spec` and determining if you either want to use `NodePort` or `ClusterIP`. (see https://github

[2021-06-09 14:30] #367 closed, assigned to nobody

[2021-06-09 14:47] tchellomello commented on #309
@cira-jonathan dns seems to be fine. Let's check your `pgsql` pod.  I noticed that your pod has 7 restarts.

[code]
What is the output for the commands below:

[code]

Then if you connect to the `awx-postgres-0` are you able to connect to the database locally?

[code]

[2021-06-09 14:50] tchellomello commented on #350
Please, have it double-quoted. Feel free to reopen if needed.

[2021-06-09 14:50] #350 closed, assigned to nobody

[2021-06-09 15:38] rooftopcellist commented on #274
Hi @bnaydenov ,

Your first issue as you said was the old image being pinned.  Pointing to devel as you mentioned should solve that.  Alternatively, you can build your own image from the source code, pushing it to your registry of choice, then specifying that in your spec:

[code]

For your second issue, it looks like that has been fixed since your comment, it's hard to pin down the exact issue (t

[2021-06-09 23:44] willhaines opened #385 "Publish bundle and catalog images for consumption via OLM"
##### ISSUE TYPE
 - Feature Request

##### SUMMARY
In our OKD cluster, we like to use the built-in OperatorHub functionality to keep track of our operators, rather than installing them with helm or direct manifests.

##### ENVIRONMENT
* AWX version: 19.2.0
* Operator version: 0.1.0
* Kubernetes version: 1.20
* AWX install method: openshift

##### DESIRED SOLUTION
I would like to be able to install

[2021-06-10 20:51] tchellomello commented on #376
https://docs.openshift.com/container-platform/4.6/networking/configuring-a-custom-pki.html

[2021-06-11 04:56] tchellomello commented on #376
@suukit could you please give a try with the changes noted on this branch https://github.com/ansible/awx-operator/compare/devel...tchellomello:custom-ca?expand=1

To make it easier for you, I've published this testing image at https://quay.io/repository/tchellomello/awx-operator?tab=tags `quay.io/tchellomello/awx-operator:custom-ca`

So basically you can do the following steps:

1. Update your `aw

[2021-06-11 05:17] tchellomello commented on #371
As noted above, your question is more related to the k8s infrastructure than the `awx-operator` itself.  I would recommend checking how to configure an ingress controller, or implementing a `LoadBalancer` such as `metallb`  on your k8s cluster choice.

Closing it for now.

[2021-06-11 05:17] #371 closed, assigned to nobody

[2021-06-11 05:19] tchellomello commented on #359
@psreddy22 we will need more information to assist you. Could you share your `awx` spec?

[2021-06-11 05:24] tchellomello commented on #341
@evilmonkeyslayer  could you share the errors you are getting at the operator level?

[2021-06-11 05:24] v1rtual-exe commented on #371
So what's the problem?
This is all part of one ... Maybe someone will have the same question and he will need a decision ... or he already decided to ...

[2021-06-11 05:25] tchellomello commented on #320
Closing in favor of https://github.com/ansible/awx-operator/pull/372

[2021-06-11 05:25] #320 closed, assigned to rooftopcellist

[2021-06-11 05:29] tchellomello commented on #316
@mothy60 it seems the `awx-operator` is passing the variables as expected. I would say its something up on your network.

So in light of this, what happens if you enable the "Run Project Updates With Higher Verbosity" on Settings -> Jobs and then re-run the project sync. Could you share that output?

[2021-06-11 06:22] suukit commented on #376
@tchellomello :  thank you, i'll give it a try

[2021-06-12 23:16] nniehoff opened #389 "Node Selector for Execution Environments"
I'm not sure if this is a bug, if so I can provide more info, but I'm hoping it's a simple question.  I need to provide a `nodeSelector` for the execution environments.  I have added `node_selector` to the spec of the awx object and I can see it in the awx deployment but execution environments are spun up on the wrong hosts, not following the `node_selector`.  Is there a way to specify a nodeSelec

[2021-06-13 18:10] KarthikKalla opened #390 "Updating 'admin' username after data migration fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have completed data migration from Old to New Postgres. Therefore admin username will exist and "initialize_django.yml"
is supposed to update it depending on its first task. But sadly it fails with few errors. which i'll provide below.
Next it skips to creating admin user and it fails due to the error(ID already exists)

##### ENVIRONMENT
* AWX versi

[2021-06-14 05:26] golgotow opened #391 "RuntimeError: Error creating pod: container failed with exit code 1:"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
every job ends in similar error

Traceback (most recent call last):
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 1384, in run
    res = receptor_job.run()
  File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/main/tasks.py", line 2900, in run
    return self._run_internal(receptor_ctl)
  File "/var/lib/

[2021-06-14 10:54] AndrewSav commented on #370
Another issue is that templating a dictionary [like this](https://github.com/ansible/awx-operator/blob/af5983cb6879cbb2b653af142d9a65d7f7d96117/roles/restore/templates/awx_object.yml.j2#L7) does not necessarily results in a valid yaml. E.g.

[code]

where `test.yml` has `{{ bla }}`

Will template into `'extra_volumes': '- name: myvolume\n  persistentVolumeClaim:\n    claimName: manual-claim\n`  wh

[2021-06-14 12:01] Zokormazo opened #394 "Reconciliation loop error if tower_deployment_result.changed is True and tower_resources_result.changed is False"
I was doing weird things and got the way to reach https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/resources_configuration.yml#L54-L69 with `tower_deployment_result.changed == True` and `tower_resources_result.changed == False`, getting a reconciliation loop error after exhausting retries on https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/resources_

[2021-06-14 14:36] Zokormazo commented on #394
Ok, I can reproduce this without doing weird things. no manual changes on the listed resources and I'm getting reconciliation loop errors on the same step

[2021-06-14 15:15] wenottingham commented on #389
Marking as a duplicate of https://github.com/ansible/awx-operator/issues/242

[2021-06-14 15:15] #389 closed, assigned to nobody

[2021-06-14 15:25] tchellomello commented on #391
@golgotow we are not seeing any issues on the operator level itself.
[code]

Having said this, do you see this only when running jobs, right? Can you send us your POD spec?

[2021-06-14 15:26] wenottingham commented on #312
This issue tracker is for tracking feature enhancements and bugs to the awx operator itself.

If you need help troubleshooting an AWX install or an EE build, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera.chat

[2021-06-14 15:26] #312 closed, assigned to nobody

[2021-06-14 15:28] wenottingham commented on #286
Hi - we are resolving this in a combination of the awx operator and a new version of AWX (19.2.1 or later) that changes the default instance group used by the control plane. That should fix this.

[2021-06-14 15:29] wenottingham commented on #252
Closing due to lack of update.

[2021-06-14 15:29] #252 closed, assigned to nobody

[2021-06-14 15:30] wenottingham commented on #254
Hi -

You have a mismatch between your AWX version and your awx-ee versions. Unfortunately there was some protocol changes. If you are using AWX 19 or later you need awx-ee 0.3.0 or later, and you'll need to rebuild any custom EEs on top of that.

[2021-06-14 15:30] #254 closed, assigned to nobody

[2021-06-14 15:32] wenottingham commented on #236
There was a protocol change that requires syncing EE versions with AWX versions. AWX 19.2 requires awx-ee 0.3.0, and all custom images will need rebased on that.

[2021-06-14 15:37] wenottingham commented on #56
Hi -

The intiial issue describes changes to the AWX environment (installing roles) that is incompatible with how jobs are now run in execution environments. Please try again with AWX 19 and building a custom execution environment with your content.

[2021-06-14 15:37] #56 closed, assigned to nobody

[2021-06-14 15:40] wenottingham commented on #13
This should already be covered with this: https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/config.yaml.j2#L92-L98

Please comment and reopen if that doesn't work for you.

[2021-06-14 15:40] #13 closed, assigned to nobody

[2021-06-14 15:42] wenottingham commented on #12
@sdmattheww You can change/override that `default` to the namespace you want to use. We do use `default` out of the box as that's a namespace that will generally exist, but you can override it as you see fit.

[2021-06-14 15:42] #12 closed, assigned to nobody

[2021-06-14 15:43] wenottingham commented on #201
This is https://github.com/ansible/awx/issues/10137, will be tracked there.

[2021-06-14 15:43] #201 closed, assigned to nobody

[2021-06-14 16:32] felipe4334 opened #395 "Not able to write to NFS volume mount"
Hello guys, I'm having an issue that seems to be easy to fix but somehow everything I try is not working. The NFS volumes are mounting properly but the awx user is not able to write to them only read. Even after running the pods in privileged mode I still can't write to the mount points. I tried using securityContext but AWX does not support it.
![image](https://user-images.githubusercontent.com/1

[2021-06-14 16:32] felipe4334 commented on #395
![image](https://user-images.githubusercontent.com/13802820/121927073-a49d3580-cd0c-11eb-822d-c9343dc403d4.png)

[2021-06-14 16:40] daenney commented on #236
I don't think that's quite correct.

* AWX 19.0 worked with EE 0.1.1
* AWX 19.1 I couldn't get things to work with EE images based on 0.1.x or 0.2.x
* AWX 19.2 is out which mentions needing EE 0.3.x, I'll give that a go

[2021-06-14 17:15] golgotow commented on #391
@tchellomello can you let me know what exactly you need to investigate ?
[spec.txt](https://github.com/ansible/awx-operator/files/6650113/spec.txt)

[2021-06-14 17:45] wenottingham commented on #286
Closing - please retry with 19.2.1, which should be released in the next day or so.

[2021-06-14 17:45] #286 closed, assigned to nobody

[2021-06-14 18:16] shanemcd commented on #390
Hi. This was a bug fixed in https://github.com/ansible/awx-operator/commit/6b57caeb9237501c27d1aae18a996fde15baa7f5 and will be out in the next release of the operator later today.

[2021-06-14 18:16] #390 closed, assigned to nobody

[2021-06-14 18:21] tchellomello commented on #395
@felipe4334 just to check something on your NFS share configuration. If you go to the actual host which exports this share and do:
[code]
Then, try:
[code]

Thanks!

[2021-06-14 18:24] felipe4334 commented on #395
@tchellomello This is all hosted on Oracle Cloud Kubernetes cluster I do not have access to ssh into the actual OKE host.

[2021-06-14 18:24] felipe4334 commented on #395
@tchellomello I created another normal linux pod on the cluster and that one is able to read and write to those NFS shares with no problems.

[code]

[2021-06-14 18:27] tchellomello commented on #395
@felipe4334 cool. So if you do the `touch`  command on that share, could you send us the output? What is the `effective user`  you are getting on this share? Is the NFS server mapping to `nobody`?

[2021-06-14 18:29] felipe4334 commented on #395
@tchellomello this is the output of touch
![image](https://user-images.githubusercontent.com/13802820/121941142-e7ffa000-cd1c-11eb-96c1-ac5fa81c4b9b.png)

What way would I be able to view the effective users and mapping, sorry for the dumb question

[2021-06-14 18:31] tchellomello commented on #395
@felipe4334 can you do the same on your `nginx` testing pod? Please send also the other `ls`  output.

For the `effective uid` you and do: `stat <FILENAME>`

[2021-06-14 18:36] felipe4334 commented on #395
![image](https://user-images.githubusercontent.com/13802820/121941862-c94dd900-cd1d-11eb-8cf4-5175d3e57943.png)

Let me spin up the nginx testing pod again

[2021-06-14 18:42] felipe4334 commented on #395
![image](https://user-images.githubusercontent.com/13802820/121942593-a839b800-cd1e-11eb-8761-320572197bf3.png)

The testing pod is letting me in as root so that might be why its working.
@tchellomello

[2021-06-14 18:44] tchellomello commented on #395
@felipe4334 yup.. this is what I wanted to confirm. Now, since you got it working on this pod, what happens if you do:
[code]

Then destroy the testing pod and start the `awx` again. Once you have the awx running, you could do
[code]
Can you send that ^ for us?

[2021-06-14 19:14] wenottingham commented on #280
This would need done in AWX itself, not in the operator. See https://github.com/ansible/awx/issues/7051.

[2021-06-14 19:14] #280 closed, assigned to nobody

[2021-06-14 19:38] felipe4334 commented on #395
![image](https://user-images.githubusercontent.com/13802820/121943785-eedbe200-cd1f-11eb-94de-3d5f56f0f0fe.png)

![image](https://user-images.githubusercontent.com/13802820/121949502-82181600-cd26-11eb-886f-75b2c9fcfa7d.png)

@tchellomello Sorry my cluster decided to not let AWX deploy for an hour.

[2021-06-14 19:39] felipe4334 commented on #395
How can I make the root nfs share have the same permissions as /scratch/testing_dir for all **new** files created

[2021-06-14 19:41] tchellomello commented on #395
@felipe4334 thanks for providing all the details. Yes, we will need to address this at the `awx-operator`  level.

[2021-06-14 19:46] tchellomello commented on #395
https://github.com/kubernetes/examples/issues/260 interesting (maybe via `InitContainer`)? I'll give a test on this stuff tonight

[2021-06-14 20:22] felipe4334 commented on #395
@tchellomello the issue seems to be happening with normal volume mounts as well not just NFS. I currently have " projects_existing_claim: oke-ocipvc-awx-projects" configured and when I try updating a project on AWX I get a Permissions denied error. I went into '/var/lib/awx' and can see that I do not have permissions to write to 'projects'
![image](https://user-images.githubusercontent.com/1380282

[2021-06-15 11:55] craph opened #399 "Ingress TLS not working (K8S rancher)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

I'm unable to configure correctly the ingress for HTTPS in AWX.

What am I doing wrong ?

##### ENVIRONMENT
* AWX version: 19.2.0
* Operator version: 0.10.0
* Kubernetes version: Kubernetes v1.20.6
* AWX install method: k8s rancher

##### STEPS TO REPRODUCE

1. Create a secret certificate that contains private key and certificate with name "awx-certif

[2021-06-15 13:47] felipe4334 commented on #395
@tchellomello Were you able to by any chance test InitContainer?

[2021-06-15 15:33] ctournoux-maincare commented on #309
Hello,

I have the same problem but I think I have a dns problem :

[code]
[code]

[code]

How I can resolv that ?

[2021-06-15 19:28] tchellomello commented on #399
@craph  could you share how you created your `awx-certificate` secret?

[code]

When you inspect eh `ingress` object, do you see the `tls.secretName` specified?

[code]

If you see it there, check the ingress controller configuration as well. Depending on the ingress configuration, sometimes if you have a different namespace, you will see this kind of behavior.

[2021-06-16 00:02] k8s42 opened #402 "How do I upgrade AWX from 15.0.0 to 19.x.x?"
I installed AWX 15 using AWX Operator v0.6.0. There is no documentation that covers the AWX upgrade process from v15 to v19. I'm using Postgres PaaS.

[2021-06-16 05:24] felipe4334 commented on #402
I had a playbook create awx-old-postgres-configuration and awx-secret-key secrets on K8. Make sure all the information is base64 encoded.
[code]

Then on the AWX deployment playbook I added the `old_postgres_configuration_secret: awx-old-postgres-configuration` line inside the spec:

[code]

[2021-06-16 05:26] felipe4334 commented on #402
The base64 encoded data does not actually decode into anything. I used it as an example. Make sure port 5432 is mapped from the server to the container on the old AWX-Postgress installation.

[2021-06-16 05:29] felipe4334 commented on #399
You need to create a secret like this and assign it to your ingress rule. Cluster needs to have an Ingress controller configured for the ingress to work as well.
![image](https://user-images.githubusercontent.com/13802820/122164747-3ad47700-ce45-11eb-9c32-23070594b8d4.png)

[2021-06-16 05:38] felipe4334 opened #403 "Adding extra search domain to AWX "/etc/resolv.conf" file"
Hello guys, so I'm having an issue that after hours of trying different solutions I have not been able to resolve. Currently I have a Kubernetes cluster hosted on Oracle Cloud. One of the limitations of Oracle is that the DHCP configuration for the network only supports one search domain at a time, therefore, when my pods(AWX) inherit the `/etc/resolv.conf` from the cluster they can only search on

[2021-06-16 13:27] rooftopcellist commented on #368
This was fixed by https://github.com/ansible/awx-operator/pull/400.  For all future backup pvc's created, the ownerReferences on it will be null.  As a result, the default finalizer won't clean up the pvc when the awxbackup object is deleted.

[2021-06-16 14:32] Zokormazo commented on #322
Verified, the tls cert is properly backed and restored with https://github.com/ansible/awx-operator/pull/397

[2021-06-16 14:32] #322 closed, assigned to rooftopcellist

[2021-06-16 15:40] Chris-Carmichael commented on #360
This is the right answer, but more clear documentation and examples for folks that aren't familiar with kustomize would be super helpful.

I'm deploying this for a new gig and will share what I come up with.

[2021-06-16 17:05] felipe4334 commented on #403
@tchellomello Have you every come across something similar?

[2021-06-17 07:37] AndrewSav commented on #370
That does not fix the second scenario when the spec contains `\n` as described [above](https://github.com/ansible/awx-operator/issues/370#issuecomment-860592062) should I open a separate issue? @Spredzy

[2021-06-17 08:51] Spredzy commented on #370
Sorry, I prob missed it, I got focus on top message. Please do. I'll work on it.

[2021-06-17 12:39] #341 closed, assigned to nobody

[2021-06-17 14:32] jbradberry commented on #148
What's the actual status on this?  Following the links, I see one PR that is closed and two more that are merged.

[2021-06-17 16:21] Spredzy commented on #148
Sorry yes this one is now closed. #406  and #407 addressed it.

[2021-06-17 16:21] #148 closed, assigned to Spredzy

[2021-06-18 03:43] tchellomello commented on #357
I tried to reproduce a similar environment on azure with the following:

[code]

Some of the resources created
[code]

Then trying to create a directory at `/var/lib/awx/projects`  we got the expected error:

[code]

Then I made the following modification and tried again

[code]
Reconciliation happed a new deployment was launched. Then tests worked as expected:

[code]

And then we will have the p

[2021-06-18 03:47] tchellomello commented on #395
@felipe4334 I'll try to work on this tonight. In the meantime, I think this is related to https://github.com/ansible/awx-operator/issues/357#issuecomment-863732211. Can you test on your end to see if the `fsGroup` takes effect on the NFS share you have? According to some other k8s threads, it seems to not work, therefore, you will need to address this differently or we will have to extend the oper

[2021-06-18 05:29] AndrewSav opened #410 "Restore fails because of an extra space in postgres configuration secret name"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Restore is failing because backup process [adds and extra space](https://github.com/ansible/awx-operator/blob/bfec61ad8d42d565e8b92e474a899e75c1a0cc79/roles/backup/tasks/awx-cro.yml#L26) at the end of `postgres_configuration_secret` value.

This is what `awx_object` file end up looking like:

[code]

Note the extra space after `awx-postgres-configurati

[2021-06-18 05:32] AndrewSav commented on #370
I cannot open the issue right now, because with the latest release there is a [new issue](https://github.com/ansible/awx-operator/issues/410) that is preventing me from reliable testing.

Please let me know if anything is unclear in _this_ issue I'll add more details if that's the case.

[2021-06-18 08:04] DieWeb21 commented on #309
Hello,

I have exactly the same problem as @ctournoux-maincare

`
Traceback (most recent call last):
File "/usr/bin/awx-manage", line 8, in <module>
sys.exit(manage())
File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/awx/__init__.py", line 155, in manage
if (connection.pg_version // 10000) < 12:
File "/var/lib/awx/venv/awx/lib64/python3.8/site-packages/django/db/__init__.py", line 28, in

[2021-06-18 08:23] #410 closed, assigned to nobody

[2021-06-18 09:00] Spredzy commented on #370
@AndrewSav a fix has landed for the above issue. (extra space) If you pull `devel` you should be good to go

[2021-06-18 14:43] felipe4334 commented on #403
Any help would be appreciated.

[2021-06-18 16:07] #376 closed, assigned to tchellomello

[2021-06-18 17:04] wenottingham commented on #325
Closing due lack of input.

[2021-06-18 17:04] #325 closed, assigned to nobody

[2021-06-18 17:12] wenottingham commented on #289
Closing, lack of input. Please reopen if yuo have the requested information.

[2021-06-18 17:12] #289 closed, assigned to nobody

[2021-06-18 17:46] wenottingham commented on #360
The way to do this right now is to edit the namespace in the deployment before deploying. You can use the kustomization.yml as described as well. Let us know if that doesn't work for you.

[2021-06-18 17:46] #360 closed, assigned to nobody

[2021-06-18 17:48] wenottingham commented on #236
I've updated the comment. I believe that will fix the issues described here - please reopen if you still see issues once the EE and AWX versions have been synchronized.

[2021-06-18 17:48] #236 closed, assigned to nobody

[2021-06-18 19:23] rooftopcellist commented on #370
I can reproduce the newline issue you mentioned.  I will look into it and report my findings (or PR) here.

[2021-06-19 06:14] tchellomello commented on #403
@felipe4334 are you trying to hit just the shortname when running a playbook (via ee) or when trying to sync hosts via inventory?

Could you provide us an example why or how you are using a shortname resolution?

Thanks

[2021-06-19 16:16] felipe4334 commented on #403
@tchellomello I'm trying to hit short names when running playbooks via EE. The inventory I work with use short names and it's not possible to get the FQDN for the inventory at the moment.
![image](https://user-images.githubusercontent.com/13802820/122648658-28359880-d0f8-11eb-8074-844d8e8e88e8.png)

I'm trying to run playbooks on hosts that look like the picture above. Those hosts are part of grou

[2021-06-19 16:23] tchellomello commented on #403
@felipe4334  I hear you. So, have you tried to customize the pod spec for your instance group, so the `ee` will have the `spec.dnsConfig.searches` properties that you are looking for?  something like this?

![image](https://user-images.githubusercontent.com/809840/122648885-24564600-d0f9-11eb-9c2c-52b364ffebaa.png)

[2021-06-19 16:45] felipe4334 commented on #403
@tchellomello You're a genius. automation-jobs pods are now able to resolve prod servers, you rock!
![image](https://user-images.githubusercontent.com/13802820/122649521-253ca700-d0fc-11eb-8cfa-3e0bc9b957fe.png)

EE is still not able to but I'm guessing for that I will need to create my own custom image and just provide it here?
![image](https://user-images.githubusercontent.com/13802820/122649533

[2021-06-19 17:48] tchellomello commented on #403
Glad it worked for you! You are correct. You can build your own EE so you can build your image (or it can be a clone or a new tag) from the original one and then provide your own pod spec.  There is currently a PR around the `control_plane` to enhance the documentation in this area at https://github.com/ansible/awx-operator/pull/412.

[2021-06-19 19:31] tchellomello commented on #395
So I tested a similar environment by creating a local NFS server on my environment and trying the `fsGroup` and as expected, it did not work. Basically these are the steps I followed:

[code]

Having said this, I have the `fsGroup` set however, still not able to write on that directory due to the NFS topology. `fsGroup` is still a good route to be followed, however, it does not apply for NFS share

[2021-06-20 14:46] tchellomello commented on #402
@k8s42 could you please clarify what you mean by an upgrade? Are you referring to migrate de database from your PaaS solution to the one managed by `awx-operator`? If so, then yes, you would need to follow the steps at  https://github.com/ansible/awx-operator/blob/devel/docs/migration.md

Now, if you want to keep the external same PostgreSQL PaaS solution but just want to update the AWX version, t

[2021-06-20 21:51] tchellomello opened #414 "Add livenessProbe, startupProbe do AWX deployment"
##### ISSUE TYPE
 - Feature Idea

##### SUMMARY
Adding *livenessProbe*, *startupProbe* is a step towards the right direction to use HPA rules and ensure pod availability.

[2021-06-20 22:42] felipe4334 commented on #395
@tchellomello your approach worked like a charm. Would it be possible to do the same for ee_extra_volume_mounts, task_extra_volume_mounts and web_extra_volume_mounts? Thanks!
![image](https://user-images.githubusercontent.com/13802820/122690279-93fe2b00-d1f6-11eb-8ec7-aca963bd630e.png)
![image](https://user-images.githubusercontent.com/13802820/122690283-995b7580-d1f6-11eb-8dbc-1eecac922a3c.png)

[2021-06-21 01:26] felipe4334 commented on #395
Thank you for providing the code. I was able to modify it and add permissions fixes for my other custom volume mounts.
[code]

[2021-06-21 11:43] Zokormazo opened #415 "restored route_tls secret is malformed"
After backup and restoring an instance with Route mode passtru and user provided tls certificates the restored instance is not listening properly on the route.

-web container logs during initialization:
[code]

during calls to the route:
[code]

The restored secret:
[code]

Ok, couple of things here:
- ownerReference: removing the restore CR will remove this.
- annotation with full spec, includin

[2021-06-21 11:47] 0xbrigles opened #416 "how to import database from old awx installation"
Hello, i can't find a related topic for my problem so created a new one.
SInce we change from the docker based awx installation to awx-operator I'm not able to import our database.
I scaled the deployments to "0" but when I use the drop command in postgres i became the message `ERROR:  cannot drop the currently open database`.

To reproduce i use the following commands:
[code]
I've tried as much i

[2021-06-21 16:06] marcoatenway opened #418 "Add possibility to define "loadBalancerIP""
Many production environments are using predefined public IP which are used to make load-balancers accessible from the internet on a persist Address, even if the cluster gets redeployed for any reason.

Beside the already available solution using annotations, there is also the "loadBalancerIP" which some hosters allow to set to configure a pre-registered public ip in a Loadbalancer object.
(see: ht

[2021-06-21 16:41] wenottingham commented on #414
See also: https://github.com/ansible/awx/issues/7828

[2021-06-22 08:39] Zokormazo commented on #394
Can't see this anymore on our nightly runs. Closing for now

[2021-06-22 08:39] #394 closed, assigned to nobody

[2021-06-22 14:19] suukit commented on #376
Works fine here, sorry for late feedback!

[2021-06-22 14:50] rooftopcellist commented on #416
If your previous deployment was in k8s (via the old playbook installer), then you can use the migration logic we added.  Here are the docs: https://github.com/ansible/awx-operator/blob/devel/docs/migration.md

If you had a local docker deployment (containers on your machine, no cluster), then you will probably want to do a `[pg_dump](https://www.postgresql.org/docs/10/app-pgdump.html)` and `[pg_re

[2021-06-22 14:50] #416 closed, assigned to nobody

[2021-06-22 17:09] tchellomello commented on #395
Thanks for the feedback @felipe4334 We are still studying the best route to address this, but your feedback is very appreciated and we are happy it helped you.

[2021-06-23 07:49] lemmy04 opened #420 "awx-operator 0.11.0 and 0.12.0: Deployment with database migration fails"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Deploying AWX > 19.1 with migration / import of an older AWX database (from 17.1 in my case) fails with "role AWX not found" errors

##### ENVIRONMENT
* AWX version: 19.2.x
* Operator version: 0.11.0
* Kubernetes version:
[code]
* AWX install method: kubernetes (k3s) on debian buster

##### STEPS TO REPRODUCE

Follow the steps described in https://gith

[2021-06-23 08:20] Zokormazo opened #421 "Backup is failing"
Backup is failing with this cr (it was working until yesterday):

[code]

[code]

[2021-06-23 12:49] cbermudez82 opened #422 "ErrImagePull on AWX-Demo.yml"
Just doing the basic install options following the AWX Operator instructions.  I'm getting this error every time.   This was working a couple of weeks ago.  Has anyone else been getting this issue?
ENVIRONMENT
AWX version: 19.2.1
Operator version: 0.11.0
MiniKube with Kubernates stable version and Docker Docker version 20.10.7, build f0df350

![AWX-19-2-1](https://user-images.githubusercontent.com

[2021-06-24 00:01] shanemcd commented on #415
This should be resolved by https://github.com/ansible/awx-operator/pull/427

[2021-06-24 08:44] Zokormazo commented on #421
Verified, pining k8s fixed this

[2021-06-24 08:44] #421 closed, assigned to nobody

[2021-06-24 08:48] Zokormazo commented on #415
Verified, the newline thing is restore.

I'll close this and open a new issue about ownerReferences after collecting all of them

[2021-06-24 08:48] #415 closed, assigned to rooftopcellist

[2021-06-24 08:49] AndreasDavour opened #428 "Ansible version in the execution environment is generating warnings"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The ansible version in the execution environment is sprouting warnings, as it is a development version. I expected it to be the latest release, at the most. Maybe this could be configurable?

This is how it looks like when running jobs in AWX:

##### ENVIRONMENT
* AWX version: 19.2.1
* Operator version: 0.11.0
* AWX install method: operator installati

[2021-06-24 11:44] Zokormazo commented on #368
I'm seeing this. I would swear that I tested this and was working, but right now I'm watching ownerReference on the backup pvc

[2021-06-24 20:02] AndrewSav commented on #370
@Zokormazo Why was it closed?

[2021-06-25 06:48] Zokormazo commented on #368
Just tested, verified, it works again.

[2021-06-25 06:48] #368 closed, assigned to Zokormazo, rooftopcellist

[2021-06-25 07:00] Zokormazo commented on #370
Sorry, I should have explained this while closing:

Colon thing was fixed on https://github.com/ansible/awx-operator/pull/404
Extra space on postgres on https://github.com/ansible/awx-operator/pull/411
Lost newlines thing was fixed on https://github.com/ansible/awx-operator/pull/427

I tested with a backup including tls secrets (newlines), a custom private ee image (identation and colons) and ever

[2021-06-25 07:36] AndrewSav commented on #370
Nope, it's just because without the explanation above it was not clear why it was closed. Now it is, thank you.

[2021-06-25 08:13] AlekseiSaff commented on #420
I just finished exactly the same migration. And the only working path was to update for operator 0.8.0 and then to 0.11.0

[2021-06-25 09:44] Zokormazo commented on #370
Yeah, sorry about that :)

[2021-06-25 16:15] wenottingham commented on #428
This is an issue with how the execution environment is built. Can you file this against https://github.com/ansible/awx-ee? It would need to pull a particular ansible-runner image to change this.

[2021-06-25 16:15] #428 closed, assigned to nobody

[2021-06-25 17:06] shanemcd commented on #274
Closing due to lack of response. Please let us know if we should reopen this issue.

[2021-06-25 17:06] #274 closed, assigned to nobody

[2021-06-25 17:06] shanemcd commented on #316
Closing due to lack of response. Please let us know if we should reopen this issue.

[2021-06-25 17:06] #316 closed, assigned to nobody

[2021-06-25 17:09] shanemcd commented on #399
Sounds like this is a config error? Please let us know if this is a real bug and we'll reopen.

[2021-06-25 17:09] #399 closed, assigned to tchellomello

[2021-06-25 17:36] shanemcd commented on #422
Can you provide the output of `kubectl describe pod awx-demo-578b...`?

[2021-06-25 19:16] cbermudez82 commented on #422
Shanemcd,
   Thanks I think the helped me figure out my issue.  Looks like my /var/ partition ran out of space since Minikube is using that partition to run.  I will extend the partition and try again.

[2021-06-25 20:27] felipe4334 opened #433 "Default Container group not downloading collections/requirements.yml"
I'm currently having an issue were when a job is created on a container group, and it triggers a job pod to be created. The new pod does not use the collections/requirements.yml file or even requirements.yml in the root directory of  the project.

This is the error I get when running a job from a container group, it looks like "ansible collection location" does not get updated to represent the req

[2021-06-25 21:53] rooftopcellist commented on #370
@Zokormazo I ran through that one more time with this in the spec, I suspect there is still an issue here.

[code]

The extra_volume passed via the spec gets added to the deployment (utilizing a pvc I created manually in this namespace)
This is what the applied spec looks like on the original awx deployment:

[code]

But it does fail at restore time:

[code]

This is what the spec looks like on th

[2021-06-27 00:20] #422 closed, assigned to nobody

[2021-06-27 00:20] cbermudez82 commented on #422
Issue was the /var partition didn't have enough space for Minikube and docker to run.

[2021-06-28 08:27] marcoatenway commented on #418
i've implemented the change but i'am unable to test it correctly to open a PR.
https://github.com/marcoatenway/awx-operator/tree/feature_loadbalancerIP

[2021-06-28 09:28] AndreasDavour commented on #428
There is already [one](https://github.com/ansible/awx-ee/issues/72) that's soon a month old, unassigned and not commented upon.

[2021-06-28 10:51] marcoatenway opened #434 "Add possibility to define custom Loadbalancer specs"
It would be great if the Loadbalancer Service could configured more specific using dynamic Specs, because:

There is currently no way to define Loadbalancer based ACL Rules.
Regarding Kubernetes documentation: This can be implemented using spec.LoadBalancerSourceRanges.

and because of the ticket:
https://github.com/ansible/awx-operator/issues/418

Both could be implemented using something like do

[2021-06-28 15:12] kdelee commented on #370
sounds like @Zokormazo and @Spredzy consider this a release blocker because even if we fixed on 4.0.1, backups from 4.0.0 would be corrupted. it is generally a good idea to do a backup before an upgrade to 4.0.1, so if the upgrade failed, and the backup was unusable, the user would be out of luck

[2021-06-29 10:45] lemmy04 commented on #420
This still happens with the 0.12.0 operator.

[2021-06-29 12:56] felipe4334 commented on #433
Any help would be appreciated please :)

[2021-06-29 20:51] tchellomello commented on #395
@felipe4334  I've included this ability on the PR https://github.com/ansible/awx-operator/pull/413. :+1:

[2021-06-29 23:00] metabsd commented on #433
You have to review what's coming with awx-ee:0.4.0 and maybe fork it and add the dependencies you need for that specific collection.

[2021-06-30 01:09] felipe4334 commented on #433
I ended up building a custom image of awx-ee:0.4.0 with the dependencies I needed ex. "ansible-galaxy collection requirements.yml" then I specified the custom image on the container group and the execution environment. Make sure your playbooks have the dependencies specified on the correct file and not on the playbook.yml. If you have for example community.windows on your projects dependencies the

[2021-06-30 05:17] wohnout commented on #357
Works for me. Thanks !

[2021-06-30 09:36] thorian93 opened #439 "Deployment fails when migrating PostgreSQL Database from Docker AWX 17 to Kubernetes AWX 19"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When deploying AWX using the `awx-operator` in minikube and performing a database migration from an existing AWX setup running on local docker the awx-web container gives the error message below. We followed the installation instructions from this very project to the letter.

##### ENVIRONMENT
* AWX version: 19.2.2 (bundled with operator)
* Operator ve

[2021-06-30 12:15] ctournoux-maincare commented on #420
I still have the problem in the latest versions of the operator.
 Any solution to solve postgres resolution problem ?

[2021-06-30 12:16] ctournoux-maincare commented on #309
I still have the problem in the latest versions of the operator

Any solution to solve postgres name resolution problem ?

[2021-06-30 15:57] tchellomello commented on #439
@thorian93 this is happening because the `SECRET_KEY` you have does not match with the old instance you are trying to import.

If you look at your old instance, you will see a `SECRET_KEY` under `/etc/tower/SECRET_KEY`. Basically what you need to do is to modify or create a new secret `awx-secret-key` with that content and then you will able to decrypt the information in the database.

[code]

[2021-06-30 16:06] tchellomello commented on #439
@thorian93 here is the function that does that https://github.com/ansible/awx/blob/a58d5718586483da4aacacb88cd54645dcee74e6/awx/main/utils/encryption.py#L140

So if you try it manually via `awx-manage shell_plus` are you able to decrypt it?

[code]

[2021-06-30 18:16] tchellomello commented on #403
Closing this as #412  got merged and documentation has been updated

[2021-06-30 18:16] #403 closed, assigned to nobody

[2021-07-01 08:29] sysnasri opened #443 "Request forbidden by administrative rules."
##### ISSUE TYPE
 - Request forbidden by administrative rules.

##### SUMMARY
After AXW installation on kubernetes, When I go to dashboard or jobs or any resource on the web panel I get the following error.

OPTIONS /api/v2/unified_jobs/ 403
<html><body><h1>403 Forbidden</h1> Request forbidden by administrative rules. </body></html>

##### ENVIRONMENT
* AWX version:  AWX 19.2.0
* Operator version:

[2021-07-01 08:30] sysnasri commented on #443
![image](https://user-images.githubusercontent.com/73346319/124092625-50b08180-da6c-11eb-89d2-236144a86582.png)

[2021-07-01 10:22] thorian93 commented on #439
Hi @tchellomello and thanks for the prompt help!

I ran the command `settings.SECRET_KEY` on the old system and can verify that the SECRET_KEY I used for the new deployment is the very same. I assume the `b'` in the beginning and `'` in the end need to be omitted? So I have the right old key.

Update: I just logged into the newly created `awx_web` container and looked into `/etc/tower/SECRET_KEY`

[2021-07-01 10:33] Zokormazo commented on #370
Tested with some extra_envs and now it works properly

[2021-07-01 10:33] #370 closed, assigned to Zokormazo, rooftopcellist

[2021-07-01 12:23] Commifreak opened #445 "[minikube] Upgrade from 19.2.0 to any newer version fails: could not translate host name "awx-postgres" to address: Name or service not known"
Hi,

I migrated from docker to minikube and that was working great. The last few updates as well. But now any newer update ends in error and blank awx page.

### Current config
minikube start command until now:
`minikube start --cpus=4 --memory=8g --driver=docker --addons=ingress`

which I had updated to:
`minikube start --cpus=4 --memory=8g --driver=docker --addons=ingress --cni=flannel --install

[2021-07-01 12:35] coolbry95 commented on #445
I have a similar error [here](https://github.com/ansible/awx/issues/10527).

I am running in AKS. A fresh install or even an upgrade will cause the same issue.

[2021-07-01 12:38] Commifreak commented on #445
So, I have two issues here? The static files issue and my "cannot find postgres" issue? Great..

Hope for a fast fix - the second test upgrade suceeded and static files as well as postgres was working. Next reboot: Problem occuring again. Interesting.

[2021-07-01 17:47] coolbry95 commented on #445
Based on my logs it doesn't see postgres immediately or postgres isn't accepting connections but should be because its up and running.

I wonder if they issues are related and if one step fails they both fail.

[2021-07-02 09:57] Zokormazo opened #449 "Restored instances first install loop fails"
During the first loop of the installer after restore role restored the AWX CR, the operator is waiting for a pod while the deployment is set to 0 replicas. After exhausting the loops the playbook fails.

Good news: the next iteration on the loop sets everything properly

[2021-07-02 12:26] AndreasDavour opened #451 "GUI not working through nginx proxy"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When accessing the GUI through a nginx proxy, I can't get to the GUI. I only get a page saying "Not Found the requested resource could not be found" and a Red Hat copyright message, which suggests that it is indeed awx that answers.

##### ENVIRONMENT
AWX version: 19.2.1
Operator version: 0.11.0
AWX install method: operator installation on rancher

###

[2021-07-02 14:36] EagleIJoe opened #452 "TASK [Update URL status] fails with undefined variable"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The task [Update URL status] fails with:
The task includes an option with an undefined variable. The error was: list object has no element 0\n\nThe error appears to be in '/opt/ansible/roles/installer/tasks/update_status.yml': line 83, column 7, but may\nbe elsewhere in the file depending on the exact syntax problem.\n\nThe offending line appears to be

[2021-07-02 17:15] shanemcd commented on #433
Does it work if you put your requirements.yml under `collections`? This is documented here: https://docs.ansible.com/ansible-tower/latest/html/userguide/projects.html#collections-support

[2021-07-02 17:21] shanemcd commented on #433
Let's track this in https://github.com/ansible/awx/issues/10529

[2021-07-02 17:21] #433 closed, assigned to nobody

[2021-07-02 17:22] shanemcd commented on #434
If you are able to open a PR, we'd be happy to review.

[2021-07-02 17:37] shanemcd commented on #443
Sounds like a config issue with your Kubernetes environment. You may have better luck troubleshooting on IRC or the mailing list.

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2021-07-02 17:37] #443 closed, assigned to nobody

[2021-07-02 19:02] coolbry95 commented on #445
I commented in the other issue I linked before. There is an issue connecting to postgres right away

[2021-07-03 13:16] sysnasri commented on #443
@shanemcd

I fixed this problem with following edit on the awx ingress service .
First you should find ingress resource definition file on your cluster , for mine this is the resource
`kubectl edit ingress awx-ansible-ingress -n ansible-awx`

then I have added the following piece of codes

[code]

in the same file then I added this too
[code]

[2021-07-05 09:48] marcoatenway opened #454 "Connection to external postgres not possible if ca-certificate verification using custom cert is required"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using AWX-Operator on a hoster requiring a ca certificate for connection verification (like Digitalocean) a connection to the database can not be established.

As a workaround one can mount a ca-bundle containing the needed ca certificate to /etc/pki/tls/certs/ca-bundle.crt to make a connection possible but many tasks like the operator itself are

[2021-07-05 22:36] biancoda commented on #321
I don't know if this helps, but I got the same error when I used hostPath to configure the postgres pv
I have another instance on the same cluster, same namespace, but using a nfs-provider to create the pv and its running without problems

[2021-07-06 04:44] MrBones757 opened #455 "Ingress Path / Causes 404 when running eks + alb in aws"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The default ingress config uses / for the path, when running in AWS/EKS using the aws-load-balancer-controller, it adds a listener with a rule:

IF
Host is awx.domain
Path is /

Any requests to not / paths (such as those fetching static resources) end in a 404.

##### ENVIRONMENT
* AWX version: 19.2.2
* Operator version: 0.12.0
* Kubernetes version: 1.

[2021-07-06 04:46] jitterjuice commented on #455
I am also interested in this issue/pull request

[2021-07-06 04:46] MrBones757 commented on #455
We're happy to make the change as a PR, just wanted feedback first (or you guys can do it if youd prefer)
Update: aparently its not just static content that fails, all api requests also fail.

[2021-07-07 04:59] aporwal3 opened #457 "Jobs continue to remain in Pending State"
##### ISSUE TYPE
 - Bug Report

Any job that is launched on AWX goes to the Pending state and does not start.

##### SUMMARY
I did a fresh install of AWX and launched a job but it goes to the Pending state and does not start.

##### ENVIRONMENT
* AWX version: 15.0
* Operator version: 0.6.0
* Kubernetes version: 1.20
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

Create a fresh in

[2021-07-07 13:32] dimatha opened #459 "Failed to parse CRD on restore"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The restore fails when ingress_annotations is defined.
##### ENVIRONMENT
* AWX version: 19.2.0
* Operator version: 10.0.0
* Kubernetes version: 1.21
* AWX install method: operator

##### STEPS TO REPRODUCE

Create AWX CR and define ingress annotations:

Based on the example here: https://github.com/ansible/awx-operator/blob/0.10.0/roles/installer/defa

[2021-07-07 13:37] dimatha commented on #445
Sometimes it also happens during awxrestore. Didn't had a chance to check if the service really exists. Maybe just a timing issue ?
AWX: 19.2.0
Operator: 10.0.0

task path: /opt/ansible/roles/restore/tasks/postgres.yml:64
ok: [localhost] => {\"ansible_facts\": {\"pg_restore\": \"pg_restore --clean --if-exists -U awx -h awx-postgres.awx-restore.svc.cluster.local -U awx -d awx -p 5432\"}, \"changed\

[2021-07-07 13:38] dimatha commented on #449
Could you please provide AWX/Operator version details ?

[2021-07-08 06:38] iohenkies opened #461 "Folder /var/lib/awx/public doesn't get created"
Hi all,

I must be doing something wrong, hope you can help. We're running on Kubernetes 1.20.7 on AKS. I've tried operator 0.11.0 and 0.12.0. I'm trying to get a basic install going and I've followed the documentation almost* exactly:
https://github.com/ansible/awx-operator

\* The only thing I changed is the namespace.

Operator and all resources get created successfully in the specified namespa

[2021-07-08 06:48] iohenkies commented on #461
This is probably the same problem https://github.com/ansible/awx-operator/issues/357

But for me doesn't explain why without persistent volumes I seem to hit the same issue and I don't understand how I can solve this in a non-dev environment.

[2021-07-08 06:57] iohenkies commented on #461
Yes, editing the security context as described in the linked article works, but I would of course like to not do that :)
[code]
(Because this deployment gets of course created by the operator)

[2021-07-08 09:57] ddellarocca commented on #454
Same problem here on GCP with a managed Postgres SQL instance in CloudSQL.

[2021-07-09 12:42] tklsnk opened #462 "Wrong number of AWX instances (unmanaged PostgreSQL, replicas>1)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After creation AWX deployment with external (unmanaged) PostgreSQL api/v2/instances shows count < replicas

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.12.0
* Kubernetes version: 1.17.9
* AWX install method: operator

##### STEPS TO REPRODUCE

kubectl apply -f awx-deploy.yml

[code]

##### EXPECTED RESULTS

AWX HA configuration with 2

[2021-07-09 12:44] tklsnk commented on #462
[logs.tar.gz](https://github.com/ansible/awx-operator/files/6791375/logs.tar.gz)

operator and containers log files

[2021-07-09 17:04] #452 closed, assigned to nobody

[2021-07-09 17:07] shanemcd commented on #455
Happy to review and accept a PR for this.

[2021-07-09 17:21] shanemcd commented on #461
Closing as a dupe of https://github.com/ansible/awx-operator/issues/357

[2021-07-09 17:21] #461 closed, assigned to nobody

[2021-07-09 17:31] shanemcd commented on #462
@tchellomello @rooftopcellist  If either of you have some time next week, could you help look into this?

[2021-07-09 18:32] tklsnk commented on #462
If it's is needed I can reproduce and provide you with kubeconfig and external ip for the api for a few hours.

[2021-07-10 19:39] tchellomello commented on #462
Worked for me with an external DB on my end but I'll dig a little bit more.

[code]

[code]

[2021-07-12 04:27] jitterjuice commented on #455
A PR has been created here - https://github.com/ansible/awx-operator/pull/464

[2021-07-12 07:41] CWollinger opened #465 "Unable to pull postgres image from local/private registry"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am not able to pull the postgres image from a local/private registry. I tried it with different docker-tokens and tags.

##### ENVIRONMENT
* AWX version: 19.2.2
* Operator version: 0.12.0
* Kubernetes version: v1.20.8
* AWX install method: kubernetes

##### STEPS TO REPRODUCE

1. Push the postgres:12 image to a private registry
2. Create the secret f

[2021-07-12 10:06] tklsnk commented on #462
The issue probably occurs when image_version=19.1.0
I tried with 19.2.2, creation of 2 replicas was successful.

But if then set replicas: 3 (scale from 2 to 3)

[code]

api/v2/ping/

[code]

[code]

api/v2/ping/

[code]

[2021-07-13 01:55] worfinator opened #466 "Missing static web resources when deploying on Azure AKS"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Web instance is missing static resources. /var/lib/awx/public directory is missing.

##### ENVIRONMENT
* AWX version: 19.2.2
* Operator version: 0.12.0
* Kubernetes version: 1.19.11 - 1.21.1
* AWX install method: Azure AKS

##### STEPS TO REPRODUCE

1. Deploy 0.11.0 - 0.12.0 AWX Operator to Cluster
2. Apply an AWX.yml template (Even the basic version)

[2021-07-13 03:58] metabsd commented on #466
I also experienced that bug. I redeploy and it worked. Don't know why. I was thinking that was my microk8s setup the problem. Maybe not.

[2021-07-13 09:46] fsdrw08 commented on #284
Hi bandwiches
Great thanks for your hint, I have the same issue to deploy ansible awx on k3s cluseter in a VM, and no idea what happen and how to trouble shooting, regarding to your post, finally I increase my ansible awx VM host memory and CPU core, and the problem get fix.

[2021-07-13 16:27] wenottingham commented on #466
See #461 and #357.

[2021-07-13 16:27] #466 closed, assigned to nobody

[2021-07-13 23:55] jacksondaw opened #467 "AWX-Demo 504 Gateway Timeout"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Ran through the basic installation on AKS. After applying the awx.yaml below, webpage returns 504 Gateway Timeout.

awx.yaml
[code]

##### ENVIRONMENT
* Operator version: 0.11.0/0.12.0
* Kubernetes version: 1.19
* AWX install method: Followed installation instructions in read me

##### STEPS TO REPRODUCE

Deploy to cluster using default configuration.

[2021-07-14 22:55] karezza opened #468 "Improve documentation with additional steps to add TLS certs to a minikube style setup"
##### ISSUE TYPE
 - Enhancement Request

##### SUMMARY
Existing AWX Operator getting started installation documentation mentions some variables associated with setting up TLS certificates, but does not give an example of how to get valid certificates working, or provided the necessary steps to get valid certificates working.  -- Given that the basic install is minikube, please provide the addition

[2021-07-15 13:20] cira-jonathan commented on #309
The cause of my issue was my networking set up on my end. Based on how our network/security was set up, I needed port forwarding enabled in order to forward the port to the pod.

[2021-07-15 13:28] tchellomello commented on #309
@cira-jonathan Thanks for the feedback and since it has been fixed on your end, I'm closing this issue. Thanks!

[2021-07-15 13:28] #309 closed, assigned to nobody

[2021-07-15 16:55] shanemcd commented on #468
Thank you for doing the hard work here. If you're able to open a PR that'd be great.

[2021-07-15 20:30] karezza commented on #468
I would upload a suggested fix except that I wasn't able to figure out how to get it to work...

[2021-07-16 08:38] urskog84 commented on #465
I experiance the same problem!

[2021-07-16 19:50] wuarthur opened #469 "Does awx-operator support adding isolated instances via awx-manage"
Hi guys,

Is is possible for AWX installed this way to also install awx-manage for adding isolated instances as execution environments.

[2021-07-16 19:53] wenottingham commented on #469
Legacy isolated instances aren't the same thing as execution environments, and are no longer supported in AWX itself. So, no, the operator will not do this.

[2021-07-16 19:53] #469 closed, assigned to nobody

[2021-07-17 01:01] Just-Insane opened #470 "static assets not being created"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

When trying to launch AWX in any configuration of persistent or non-persistent storage, the directories and files within /var/lib/awx are not created.

##### ENVIRONMENT
* AWX version: 2.10.9
* Operator version: 0.12.0
* Kubernetes version: 1.20.6
* AWX install method: Rancher RKE

##### STEPS TO REPRODUCE

Create a new AWX instance with the following

[2021-07-19 14:56] bsushant-athena opened #471 "What are the basic steps to get started with AWX 19.2.0?"
I was trying the awx operator way but the installation page is a little confusing for me. I completed the steps till "You just completed the most basic install of an AWX instance via this operator. Congratulations!!!!". Can someone suggest/help now with how to get the AWX GUI?

Are there more steps needed? I think it would be much easier if there would have been a step-by-step guide.

[2021-07-19 15:03] karezza commented on #471
You can run:
[code]
and this should start up your browser with the url to access the installation.

In my case I installed chromium-browser and when that command is run it will start up chromium if it is not already running.  The documentation has:  minikube service awx-demo-service --url which should just give you the url.

[2021-07-19 15:08] karezza commented on #468
With minkube / kubernetes the certificates can be handled in a standardized way dealing with the SSL encoding/decoding outside of the app and the app need only implement the usual 80.  A reverse proxy can be used along with hostnames allowing for many apps which actually use different ports behind the scene to all appear to use 443.

What is unusual about the AWX install is that it is setting its

[2021-07-20 07:43] phospi commented on #470
same issue here. I fixed it. I stumbled across the following issue: [awx-container](https://github.com/geerlingguy/awx-container/issues/6)

Going to the container bash and adding the symlink, fixed it (temporarily, of course):
[code]

[2021-07-20 11:05] bsushant-athena commented on #471
thanks @karezza , it worked!

NAME                               TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)             AGE
awx-demo-postgres      ClusterIP   None                    <none>        5432/TCP            34m
awx-demo-service       NodePort    10.100.181.127   <none>        80:32179/TCP        34m
awx-operator-metrics   ClusterIP   10.97.177.180    <none>        8383/TCP,8686/T

[2021-07-20 13:19] thenets opened #472 "Postgres StatefulSet and Pod are created when using unmanaged database"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I created an AWX and a `Secret` for an external database, but a PostgreSQL pod is created anyway by a StatefulSet.

##### ENVIRONMENT
* AWX version: 19.2.2
* Operator version: 1.20.0
* Kubernetes version: v1.21.2+k3s1
* AWX install method: AWX Operator on k3s cluster

##### STEPS TO REPRODUCE

- Create a Namespace called `awx`
- Change https://raw.gith

[2021-07-20 16:23] karezza commented on #471
I know how to do this in general using a reverse proxy, here's the technique over at minikube:  https://minikube.sigs.k8s.io/docs/tutorials/nginx_tcp_udp_ingress/

But, I have not been able to figure out how to do it via the technique described in the Network and TLS Configuration section on the AWX Operator install page.  I'll watch this Issue with interest for the solution.  I've got a ticket in

[2021-07-20 17:18] karezza commented on #468
I'm not positive at the moment, but I think it may be a requirement with minikube that you add a port forward rule to the firewall of the host system which forwards requrests on to minikube's internal ip such as:

[code]

[2021-07-20 17:19] karezza commented on #468
Still testing, but it appears the needed steps are:
1. Create a TLS secret with the website certs
[code]
2. A possible CRD is the following:
[code]
3. Enable port & forward port to minikube port (not sure if this is the right technique, but it works):
[code]

I will submit a PR with a documentation update.

[2021-07-20 17:20] karezza commented on #471
I'm not positive at the moment but I think it may be a requirement with minikube to add a port forward rule on the host system to point to the internal ip used by minikube such as:

[code]

[2021-07-21 02:56] #468 closed, assigned to nobody

[2021-07-21 14:08] koshrf commented on #470
I can confirm this, having the same issue, making it impossible to use at this poing.

`2021/07/21 13:59:41 [error] 24#0: *14 open() "/var/lib/awx/public/static/js/runtime-main.7202f99a.js" failed (2: No such file or directory), client: 10.42.0.36, server: _, request: "GET /static/
js/runtime-main.7202f99a.js HTTP/1.1", host: "xyz.myserverurl.com"`

Adding a ln to the container doesnt help much, i

[2021-07-21 15:39] bsushant-athena commented on #471
@karezza is it possible to share the repo/files which you are using for awx demo purposes?
as per required by this link >> https://minikube.sigs.k8s.io/docs/tutorials/nginx_tcp_udp_ingress/

[2021-07-21 16:06] #395 closed, assigned to tchellomello

[2021-07-21 16:06] #357 closed, assigned to tchellomello

[2021-07-21 17:07] bsushant-athena commented on #471
Hey, I followed this doc and it worked for me
https://www.techbeatly.com/2021/07/install-ansible-awx-on-kubernetes.html

and this as well >> https://minikube.sigs.k8s.io/docs/faq/#how-can-i-access-a-minikube-cluster-from-a-remote-network

[2021-07-21 18:57] bsushant-athena commented on #471
Now I'm facing an issue where for inventory to fetch the hosts it needs a python SDK installation. In awx v16 as the venv was same we used to run the install python sdk job template followed by the inventory sync. But in v19.2.2 venv's are not supported.
I tried to keep the execution environment same but no luck

[2021-07-22 08:02] kenichimilo commented on #252
Hi,
Was faced with a similar issue in the latest operator.. 0.12.0
The problem seems to be stemming from the CRD definition..
----
versions:
    - name: v1beta1
      served: true
      storage: true
      subresources:
        status: {}
----
I removed the subresource under versions and put it directly under the spec..
spec:
  group: awx.ansible.com
  names:
    kind: AWX
    listKind: AWXList

[2021-07-22 10:21] jpVm5jYYRE1VIKL opened #473 "Fresh deployment no access to web gui"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* Operator version: 0.12.0
* Kubernetes version: latest minikube
* AWX install method:  docker on linux

##### STEPS TO REPRODUCE

Use instruction "Basic install" step by step from here :
https://github.com/ansible/awx-operator#basic-install

kubectl get secrets
[code]
Expose port:

ssh -i ~/.minikube/machines/mi

[2021-07-22 15:08] JRNC opened #474 "Operator 0.12.0 White Screen for Web Interface after Restarting Node"
Hi Everyone,

I recently got a test instance of awx running on kubernetes and migrated some data from a previous docker install. Everything seems to be working as expected; however, after restarting the node the web interface is just white. No background, no login page, nothing. It is important to note that this happens with both Chrome and firefox, where it is just a blank white page. When I take

[2021-07-22 18:56] ZachHoiberg commented on #474
I was able to get it working again by dropping into the minikube via Docker, then stopping/starting the web container.

[2021-07-22 21:00] ZachHoiberg commented on #457
What worked for me on Operator 0.12.0 is dropping into the minikube via Docker, then using Docker to restart the K8S_NAME-task-name container

[2021-07-23 12:42] VasseurLaurent opened #475 "Postgresql docker : ‘/var/lib/postgresql/data’: Permission denied"
## Issue type

Bug report

##### SUMMARY

Hello, I am trying to deploy AWX 19.2 on k3s for testing purpose.
However, it seems that the postgresql docker cannot write on this volume.

You can find below my installation procedure.
Funny things, I successfully deployed an AWX for testing yesterday with the same procedure

I saw some already created issue related to postgresql but I didn't find one wi

[2021-07-23 12:59] coolbry95 commented on #470
This could be fixed by this PR. https://github.com/ansible/awx/pull/10583

Sometimes the database isn't ready right away and then the awx-manage collectstatic command fails because it depends on the database.

[2021-07-23 13:01] coolbry95 commented on #445
Yes this looks like the service does not exist or is not ready yet. I run istio and the service may not be connectable for a few seconds after the istio sidecar proxy starts. This PR may resolve your issues https://github.com/ansible/awx/pull/10583.

[2021-07-23 17:06] shanemcd commented on #459
@rooftopcellist Is this one of the things we fixed recently? It might be resolved the next time we release?

[2021-07-23 17:28] shanemcd commented on #470
This should be resolved by the PR linked above, and will go out in the next release of AWX.

[2021-07-23 17:28] #470 closed, assigned to nobody

[2021-07-23 17:45] shanemcd commented on #471
Hello,

This issue tracker is for tracking feature enhancements and bugs for the AWX Operator.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2021-07-23 17:45] #471 closed, assigned to nobody

[2021-07-23 17:53] shanemcd commented on #472
@tchellomello When you have a few, can you look at this?

[2021-07-23 18:32] tchellomello commented on #472
[code]

@thenets  I was not able to reproduce it against the `devel`

[code]

@thenets  I'll ping you so we can troubleshoot this together

[2021-07-23 19:20] RosarioVinoth commented on #465
I hit the same problem as well.

[2021-07-23 21:19] thenets commented on #472
@tchellomello found the problem.

The issue was related to time between actions during the sequence that I followed. I was creating the environment for the first time, so:
1. First I deployed the `awx-operator`
2. Then I deployed the `awx`, without any secret (here's the problem)
3. Finally, a few minutes later, I created the `Secret` for external database, because that information was down in the

[2021-07-23 21:19] #472 closed, assigned to tchellomello

[2021-07-24 03:22] chipn commented on #475
I'm hitting the same issue, but it appears to be caused by this k3s issue: https://github.com/k3s-io/k3s/issues/3704.

Downgrading to k3s v1.20.9+k3s1 resolved it for me.

[2021-07-25 02:49] tchellomello commented on #475
Thanks for the heads up @chipn  Since this is related to the external k3s, I'm going ahead and close this up. Feel free to reopen if needed.

[2021-07-25 02:51] tchellomello commented on #473
@jpVm5jYYRE1VIKL  we will need more information to understand the error. Could you provide some of the logs so we can better idea of what is going on?

[2021-07-25 03:05] tchellomello commented on #465
We should be covered by https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/postgres.yaml.j2#L36-L39

[code]

Having said this, could you show us how you created your `secret`?

[code]

Also, what happens if you do the following:

[code]

Please note the jinja2 template expected the `'{{ postgres_image }}:{{ postgres_image_version }}'` where `postgres_image_version` by def

[2021-07-25 03:07] tchellomello commented on #457
You mentioned using the operator `0.6.0` which is quite outdated. Please try again using the latest version and reopen if the issue happens again.

[2021-07-25 03:07] #457 closed, assigned to nobody

[2021-07-25 03:14] tchellomello commented on #462
With `replicas:2 ` this was the output from AWX API

[code]

Then modified the AWX spec `kubectl edit awx awx-toca` and set `replicas:3` got the 3 as expected:

[code]

Looking the API, it worked as expected:
[code]

Please keep in mind that any `kubecl scale --replicas` command issued manually will be overridden by the operator. All changes must be performed directly in the AWX spec. @tklsnk as I

[2021-07-25 03:31] tchellomello commented on #454
Yes, I can work in something similar, however, I just want one clarification @marcoatenway. The database population happens on the `awx-task` container and when you have the `ca_trust_bundle` mounted, it should work as expected.

I can work in providing one dedicated certificate tag for PostgreSQL, however, you mentioned that `many tasks like the operator itself are not working`. Could you please

[2021-07-25 03:41] tchellomello commented on #445
+1 that should be fixed by the next operator version and the awx release due  ansible/awx#10583.

[2021-07-25 03:50] tchellomello commented on #439
Hello @thorian93, now that you are sure that your `<awx-resourcename>-secret-key` looks correct. What happens if you do:
[code]

Then check again if the `secret_key` inside the container got populated as expected.

[2021-07-25 03:52] tchellomello commented on #434
@marcoatenway could you provide YAML example of how an entry would look like?

[2021-07-25 03:53] tchellomello commented on #418
@marcoatenway could you provide YAML example of how an entry would look like?

[2021-07-25 05:06] tklsnk commented on #462
After deploy with replicas=2 i edit awx-deploy.yml (set replicas=3) and exec kubectl apply -f awx-deploy.yml

[2021-07-25 17:55] tchellomello commented on #462
@tklsnk yes that was what I did on my end here, however I cannot reproduce the same issue.

[2021-07-26 07:04] marcoatenway commented on #418
either:
[code]

or

[code]

the last one would be more flexible for other possible custom specs.

[2021-07-26 07:09] tklsnk commented on #462
Ok I'll try with another k8s cluster.
Thank you.

[2021-07-26 08:06] marcoatenway commented on #454
Hi,
with "many tasks" i mean the stuff in: "roles/installer/tasks/main.yml"
this stuff is executed on the operator not in the task pod, or are i'am wrong?

[2021-07-26 08:25] profhase commented on #475
@tchellomello Not sure we should close this - There are certain things that can be done on the operator to fix it in the operator e.g. assure permissions on postgres start

[2021-07-26 08:58] CWollinger commented on #465
Secret created from the dockerconfigjson:
[code]

The creation of a pod or deployment with this image and secret is working without any problem. The image tag in the registry is `12`

[2021-07-26 13:54] #455 closed, assigned to nobody

[2021-07-27 05:09] MrBones757 opened #476 "extra ees' created using ee_images dont have ee_extra_env and ee_extra_volume_mounts applied"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When deploying AWX with a pre-defined set of ee_images that are globally available, i expected the ee_extra_env and ee_extra_volume_mounts would be applied to these images as per the documentation:

'''
The ee_extra_volume_mounts and extra_volumes will only take effect to the globally available Execution Environments. For custom ee, please customize th

[2021-07-27 13:12] mkayontour commented on #359
Hi, I got the same issue. I'm behind a traefik ingress and I get this message.

[code]

I use a fresh database, my specs are the following:

[code]

In Addition if I click close on the message and try to log in with the generated secret, the login fails.

[2021-07-27 14:06] mkayontour commented on #359
I found an error in the postgres log which states something about conf settings.

[code]

[2021-07-28 02:19] amtilghman opened #477 "Admin password is reset to initial value following scale =0 operation (awx-operator 0.12.0)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Running oc scale --replicas=0 deployment <AWX-DEPLOYMENT> and allowing awx-operator to restore the replica to operational status will result in the admin password being reset to the default value.  Is there a way to set a new default value so that when the admin password is rotated it will stay at the new value?

By default value I am referencing the v

[2021-07-28 07:19] bsushant-athena opened #478 "When does this AWX upgrading stops?"
I deployed the latest awx using AWX-Operator on Kubernetes env. For the last 2+ hours getting the same message.
[code]

latest operator logs
[code]

After the page refreshes, I get the blank page.

Please help

[2021-07-28 07:41] mkayontour commented on #359
Startup Log from the postgres pod looks like this, after the first Error many others of the same kind appear and never stop.
[code]

[2021-07-28 08:45] ebarped commented on #403
This is still a "workaround". The awx CRD should have a podSpec field that enables the user to override config like this (dnsConfig, securityContext, etc.)

[2021-07-28 08:57] ebarped opened #479 "Add podSpec/podTemplate/statefuSet field to override pod settings"
Many kubernetes operators add a field called podSpec/podTemplate that allows the user to override pod´s configuration with custom properties.

Examples:

- [ECK](https://github.com/elastic/cloud-on-k8s) uses podTemplate. [example](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-customize-pods.html)
- [RabbitMQ](https://github.com/rabbitmq/cluster-operator) uses override. [example](https:/

[2021-07-28 10:11] kagarcia1618 opened #480 "Unable to run a job using cisco.nxos module - [Errno -2] Name or service not known"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Unable to run a job using cisco.nxos module

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: 1.20.2
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

- Add a running cisco nxos device as a host in the inventory with variables below:
`ansible-host: x.x.x.x`
`ansible_connection: network_cli`
`ansible

[2021-07-28 10:14] 0LaLaLa0 opened #481 "Usage of ee_images not working"
ISSUE TYPE

    Bug Report

SUMMARY

Using parameter `ee_images` does not add Execution Environments.

ENVIRONMENT

    AWX version: 19.2.0
    Operator version: 0.11.0
    AWX install method: minikube v1.18.1

STEPS TO REPRODUCE

Follow installation guide in minikube to the point of applying awx deployment.
Apply the following awx.yml

    ---
    apiVersion: awx.ansible.com/v1beta1
    kind: AWX

[2021-07-28 13:01] kagarcia1618 commented on #480
Issue already resolved. Typo error in the host variable declaration wherein I used "-" instead of "_" in ansible_host parameter.

[2021-07-28 13:01] #480 closed, assigned to nobody

[2021-07-28 14:23] mkayontour opened #482 "pg_restore No connection to the server"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I tried to migrate the data from the old awx docker environment and the operator tries to migrate the data before the postgres container is created.

The error message is `pg_restore: error: could not execute query: no connection to the server`

##### ENVIRONMENT
* AWX version: 19.
* Operator version: 12
* Kubernetes version:
[code]

##### AWX-OPERATOR

[2021-07-28 15:55] flisak-robert opened #483 "Managed postgres - /var/lib/postgresql/data: permission denied"
I am trying to install AWX using the awx-operator running on k3s and awx-postgres pod fails with the message:
`mkdir: cannot create directory ‘/var/lib/postgresql/data’: Permission denied`
Here is my `awx.yml`:
[code]
What am I doing wrong here?

[2021-07-29 09:17] AleksejEgorov commented on #321
Have а similar problem. kubectl logs pod/awx-postgres-0 is full of same records:
[code]

Looks like the problem orccurs, because pgdata is in /tmp on the host machine:
[code]
I'll try to add to  /usr/lib/tmpfiles.d/tmp.conf these lines:
[code]

UPD:
It helps. After excluding /tmp/hostpath-provisioner/default/ from deletion (in tmp.conf or separate config), issue is not reproduce. Restore database

[2021-07-29 15:40] Syntax3rror404 commented on #474
Same here

[2021-07-29 22:20] scott-vick commented on #475
This is still a problem with AWX. I installed the previous version of k3s (v1.20.9+k321) and I'm still getting the same "permission denied" error. I've been trying for 4 days to install AWX and I cannot get it to install.

[2021-07-30 07:12] Marwel commented on #483
Have a look at this.
https://github.com/kurokobo/awx-on-k3s

[2021-07-30 07:23] colixxx commented on #481
+1

[2021-07-30 08:03] colixxx commented on #402
@tchellomello Hi. I faced a similar problem.
I am trying to upgrade my docker + extPostgres installation from version 17.0.0 to latest (19.2.2).
I have described secrets with secketkey and naming as specified [here](https://github.com/ansible/awx-operator#external-postgresql-service). I want to leave the configuration with extPostgres, but start using the operator.
But after starting awx-web says:

[2021-07-30 17:17] scott-vick commented on #483
I'm am following the exact instructions @marwel linked above but I'm getting the exact same error (mkdir: cannot create directory ‘/var/lib/postgresql/data’: Permission denied). I've been banging my head for 4 days w/ no success on installing AWX.

[2021-07-30 17:25] wenottingham commented on #478
This issue tracker is for tracking feature enhancements and bugs to AWXand the operator itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

Mailing list: https://groups.google.com/forum/#!forum/awx-project
IRC: ansible-awx on irc.libera.chat

[2021-07-30 17:25] #478 closed, assigned to nobody

[2021-07-30 17:26] wenottingham commented on #477
When scaling a deployment done by an operator, you have to set the replicas on the awx object, not try and run `oc scale` directly. Please try that and reopen if it doesn't work.

[2021-07-30 17:26] #477 closed, assigned to nobody

[2021-07-30 17:33] wenottingham commented on #476
We may look at this, but "For custom ee, please customize the Pod spec." is correct - for customizations to EEs, it's better to have that in the podspec that is on the EE object.

[2021-07-30 17:35] wenottingham commented on #476
Chatting with engineering - those variables are for modifying the control plane EE only.

[2021-07-30 17:35] #476 closed, assigned to nobody

[2021-07-30 17:56] tchellomello commented on #483
I'll give a try this afternoon using `k3s` since I cannot reproduce on my current lab

[2021-07-30 22:25] amtilghman commented on #477
I've provided the exact steps I'm performing below.
Prior to awx-operator when I've upgraded/reinstalled AWX the admin password was always preserved and not overwritten.
As you can see in the output below some data is being preserved but the admin password is being overwritten, is this a bug or am i going about this the wrong way?

#This is the password set by the installer
$ kubectl get secret aw

[2021-07-30 23:24] amtilghman opened #484 "awx-operator resets admin password after scale down of awx deployment"
related: https://github.com/ansible/awx-operator/issues/477

My original issue was closed with a note to try something and if it didn't work to re-open the issue, I didn't see how to reopen the original issue so opening a new one.

I've provided the exact steps I'm performing below.
Prior to awx-operator (the docker-compose install) when I've upgraded/reinstalled AWX the admin password was always

[2021-07-31 01:53] tchellomello commented on #462
Any updates on this @tklsnk?

[2021-07-31 03:27] tchellomello commented on #483
Hello guys, I've deployed a `k3s` with a single node on my testing machine as described at https://rancher.com/docs/k3s/latest/en/quick-start/#install-script
[code]

Then I generated the latest `devel` operator image and deployed:

[code]

The operator started as expected:

[code]

So now to troubleshooting, I'm using a similar AWX spec provided earlier on as follows below. As you can see, I have

[2021-07-31 04:40] tchellomello commented on #483
So basically we will need to leverage on a `initContainer approach to fix the permission so the database can be created. This snippet will do the job:
[code]

It does result in a working state  once the patch is applied:

[code]

I'll create a PR for it. Thanks for reporting the issue @flisak-robert and @scott-vick

[2021-07-31 05:17] tchellomello commented on #484
@amtilghman reading the code it looks that is exactly what is expected to happen. If you look at
https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/initialize_django.yml#L2-L26 the password will get updated for the `admin` user according to the password set in the `<resource>-admin-password`.

Since the `awx` instance must be driven by the `operator`, operations like `scaling

[2021-07-31 05:30] #484 closed, assigned to nobody

[2021-07-31 05:50] tklsnk commented on #462
I'm sorry, haven't had a chance to try this yet. Hope to do this week.

[2021-07-31 06:05] tchellomello commented on #475
Yes it makes sense. It's reopened and linked to a PR.

[2021-07-31 06:06] tchellomello commented on #475
Yes it makes sense. The issue is reopened and linked to a PR

[2021-08-02 09:21] tklsnk commented on #462
Works as expected with the alternative k8s cluster. Probably a problem with the specific k8s implementation of a specific cloud provider.

[2021-08-02 09:21] #462 closed, assigned to nobody

[2021-08-03 04:05] tchellomello commented on #462
Thank you for the feedback @tklsnk

[2021-08-03 13:12] davidtluong opened #486 "[RFE] Create a must-gather to collect logs for AAP"
##### ISSUE TYPE
 - Feature Request

##### SUMMARY

Currently there is no way to easily collect logs for the operator.  Sosreports can no longer be used as it's overkill to get it for the openshift nodes.

##### ENVIRONMENT
* AWX version: X.Y.Z
* Operator version: 2.0.0
* Kubernetes version: v1.20.0+2817867
* AWX install method: openshift

##### STEPS TO REPRODUCE

Try and collect logs

##### EXPE

[2021-08-03 18:08] felipe4334 opened #487 "Editing idle_timeout and job_timeout for ansible-runner environment settings"
So currently I'm having an issue were our windows patching playbook is failing because the working Kubernetes Pod gets terminated before the patching is completed. We believe this is because of the idle_timeout set inside ansible-runner environment settings

settings:
---
idle_timeout: 600
job_timeout: 3600
pexpect_timeout: 10

I'm currently building a custom AWX-EE image based out of quay.io/ansi

[2021-08-04 08:23] Elyytscha opened #488 "ansible.cfg located in project dir not working with inventory sync from git when vault_identity_list is set"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
It seems like its not possible to use ansible.cfg directly located in the ansible git repo within awx

##### ENVIRONMENT
* AWX version:19.2.2
* Operator version: 0.12.0
* Kubernetes version: openshift 4.7.19
* AWX install method: operator on openshift

##### STEPS TO REPRODUCE

setup awx.
configure 1 project with 1 inventory source from git
in the git

[2021-08-05 12:03] thorian93 commented on #439
Hi @tchellomello, below for reference the output of your commands:

    user@awx:~$ kubectl get awx -A
    NAMESPACE   NAME   AGE
    default     awx    5m19s
    user@awx:~$ kubectl delete awx awx
    awx.awx.ansible.com "awx" deleted
    user@awx:~$ kubectl get awx -A
    No resources found
    user@awx:~$ kubectl get secret awx-secret-key
    NAME             TYPE     DATA   AGE
    awx-secret-

[2021-08-06 02:31] webees commented on #483
Is there any temporary solution before the update?

[2021-08-06 15:20] flisak-robert commented on #483
Don't know if it suits your needs, but I just ran postgres in a docker container and pointed awx to use that postgres instance instead.
Here is my config:
[code]
Don't forget to include `postgres_configuration_secret: awx-postgres-configuration` in your awx config. If you don't, AWX won't be able to decrypt stuff in your postgres database when you restart your awx node for example. Been there, don

[2021-08-06 16:21] wenottingham commented on #488
What is your goal? Do you truly want vaulted, encrypted, content to be decrypted and stored as plaintext in the API and fully viewable in the UI?

[2021-08-06 17:19] wenottingham commented on #488
Also, those knobs (ee_extra...) are for mounting in the control plane EE. To modify the EE used for inventory updates, you'd modify the podspec.

[2021-08-06 17:39] wenottingham commented on #475
See #483, closing as a duplicate.

[2021-08-06 17:39] #475 closed, assigned to nobody

[2021-08-06 17:40] wenottingham commented on #481
Can you upgrade to the 0.12 operator and try this?

[2021-08-06 17:58] wenottingham commented on #486
Closing this, this should be tracked elsewhere.

[2021-08-06 17:58] #486 closed, assigned to nobody

[2021-08-08 06:25] VasseurLaurent opened #489 "Ansible-awx backup/restore documentation"
##### ISSUE TYPE
 - Asking for information/documentation

##### SUMMARY

Hello,

I am currently testing Ansible-awx and it is really great. However,  I am struggling a bit about how ansible-awx backup/restore process works with the operator.

I took a look on internet, but except the awx-operator specification file itself [awx-operator,](https://raw.githubusercontent.com/ansible/awx-operator/0.12.

[2021-08-08 08:37] VasseurLaurent commented on #488
Hello @Elyytscha ,

I have faced the same issue while I tried to load a full inventory including vault files within AWX.
Like @wenottingham  said, it is possible to do that but your password decrypted and readable on AWX UI/API.

As a workaround, what I have done is that I have moved all my vault files to a dedicated ``secrets`` folder. Because AWX is not able to parse this folder, you won't have

[2021-08-09 11:14] marcoatenway commented on #454
Hey @tchellomello any update regarding this?

[2021-08-09 14:51] molson504x commented on #420
I also experienced the same thing when attempting to deploy an upgraded instance of AWX 19 using the awx-operator.

Details:
AWX 15 -> AWX 19 upgrade
AWX 15 running on Postgres 11 (Azure Postgres), AWX 19 running on containerized Postgres 12
Secret key was updated to match on both.
We had the same error about a role not existing.

[2021-08-09 15:29] 0LaLaLa0 commented on #481
Using operator 0.12.0 results in the same outcome, still using AWX EE 0.2.0
Since the EEs are coming from the database, is it possible that the ee_images variable is not connected to the migration process in any way?

As I mentioned, the correct images is set in the deployment as seen in the following snippet from `kubectl describe deployment awx`

[code]

But inside main_executionenvironment only

[2021-08-10 11:35] draculacowboy83 commented on #481
Since i upgraded to awx-operator 0.11 (or 0.12), i have the same problem.

Here an extract of my yaml file and a custom awx-ee which it works perfectly on awx-operator 0.10.

    ---
    apiVersion: awx.ansible.com/v1beta1
    kind: AWX
    metadata:
    ....
    spec:
      ....
      ee_images:
      - name: awx-ee-custom
        image: <privateregistry>/awx-ee-custom:2.11
     .....

[2021-08-10 11:54] andrinbr opened #491 "bundle-ca.crt missing from automation-job worker container"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
bundle-ca.crt is missing from /etc/pki/ca-trust/source/anchors/ in automation-job worker container. Therefore custom certificates are missing for the ansible modules. Custom certificates are working for the LDAP logon and GIT clone on AWX WebUI but not working using git module in a playbook task delegated to localhost.

##### ENVIRONMENT
* AWX version:

[2021-08-10 12:44] Elyytscha commented on #488
well the awx api/ui is protected by authentication, so where is the problem to see those credentials if you can login into awx and have the ldap groups for administrate awx?

i think you dont understand the problem, our inventorys looking like this:

[code]

there is no encrypted data in our inventorys. but because our ansible.cfg, located in all of our (86!!) ansible repos has this line:
[code]
t

[2021-08-10 12:54] Elyytscha commented on #488
well well well, so i need to mount our vault_pass files in this pod spec inside awx? did i understand this correctly?
![image](https://user-images.githubusercontent.com/10408311/128870350-b62cda1f-78e3-4c47-9f7f-5eceed8882f2.png)

[2021-08-10 12:55] 0LaLaLa0 commented on #481
I just tried it with AWX Operator 0.10.0 and can verify what @draculacowboy83 mentioned.
With that version the correct execution environment is set in the database and can be found in AWX, but newer versions than 0.10.0 seem to not work properly with the `ee_images` variable.

[2021-08-10 14:11] Elyytscha commented on #488
[code]
yep, with this the inventory sync is working, thanks a ton!

[2021-08-10 14:11] #488 closed, assigned to nobody

[2021-08-10 17:28] micksey9 opened #492 "UI shows internal server error has occurred for fresh install"
VM: **Centos 7.9**
Minikube version: **1.22 (resources 4 vCPU/8G RAM)**
AWX Operator release: **0.12.0**

All the pods get deployed successfully and I'm not providing any custom config, using the same awx-demo.yml file that's provided in basic install instructions:

NAME                            READY   STATUS    RESTARTS   AGE
awx-demo-9975db9b6-kjhtq        4/4     Running   0          13m
awx

[2021-08-10 19:45] shanemcd opened #493 "Control plane capacity calculation is broken"
In versions of AWX prior to the operator, the following variables were set: https://github.com/ansible/awx/blob/17.1.0/installer/roles/kubernetes/templates/configmap.yml.j2#L136-L137

This is required because the system stats (cpu in particular) reported inside the container, is a lie on Kubernetes.

Current AWX is attempting to use these variables: https://github.com/ansible/awx/blob/747231d3500d

[2021-08-10 20:33] micksey9 commented on #492
Was able to resolve this issue myself, there was an old pv still bound and up. Once that was deleted, I was able to redeploy with a clean cluster and access the ui.

[2021-08-10 20:33] #492 closed, assigned to nobody

[2021-08-11 15:02] Kaauw opened #494 "AWX Operator cannot create pods after upgrading from k8s 1.21.3 to 1.22.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX Operator cannot create awx-pods after upgrading from k8s 1.21.3 to 1.22.0
Worked well before.

##### ENVIRONMENT
* AWX version: 19.2.2
* Operator version: 0.12.0
* Kubernetes version: v1.22.0
* AWX install method: on premise with ubuntu 20.04 and docker

##### STEPS TO REPRODUCE

From 1.21.3 install awx-operator and setup awx. It work well.
Upgrade

[2021-08-11 22:11] felipe4334 commented on #395
@tchellomello I deployed devel version of awx-operator(kubectl apply -f https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml) and tried using init_container but it did not work, the init container was not even created with my deployment.

awx.yml
[code]
Init container is not even starting.
![image](https://user-images.githubusercontent.com/13802820/129110016-e3a596

[2021-08-12 13:47] felipe4334 opened #496 "init_container not working"
@tchellomello I deployed devel version of awx-operator(kubectl apply -f https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml) and tried using init_container but it did not work, the init container was not even created with my deployment.

awx.yml
[code]
Init container is not even starting.
![image](https://user-images.githubusercontent.com/13802820/129110016-e3a596

[2021-08-12 14:26] stasstryukov opened #497 "password authentication failed for user "awx""
Hi.
I have a problem with fresh install of awx on CentOS 8. I made all like in this instruction https://github.com/ansible/awx-operator.  But when i made all i cant' connect to web. There is an error "Server Error A server error has occurred". When I opened logs, i saw, that in postgress pod are errors:
2021-08-12 14:11:52.734 UTC [62] FATAL:  password authentication failed for user "awx"
2021-08-

[2021-08-12 16:59] NikolaiNikolovskiNik commented on #474
I am also experiencing this issue.
It seems to occur when system is slightly under load (using 6 out of 10 GB of memory and about 40% of cpu)

[2021-08-12 17:00] anolan80 opened #498 "Failed to pull image "quay.io/ansible/awx-ee:0.5.0": rpc error: code = Unknown desc = Error writing blob: error storing blob to file "/var/tmp/storage419932491/8": error happened during read: unexpected EOF"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: latst
* Operator version: 0.12.0
* Kubernetes version:  1.20
* AWX install method: openshift

##### STEPS TO REPRODUCE

installed the operator - then deployed awx

##### EXPECTED RESULTS

awx to run fine

##### ACTUAL RESULTS

Failed to pull image "quay.io/ansible/awx-ee:0.5.0": rpc error: code = Unknown desc = Error w

[2021-08-13 12:39] miguelgmedina commented on #59
Sorry for answering to a closed topic but I still have this same issue in a fresh deployment, the latest 0.12.0 operator version. I am installing it on a clean namespace.
Same error messages than the ones reported by @metabsd. As a workaround, if I delete manually the Pod, when the ReplicaSet recreates it, everything is working again.
Kubernetes version: 1.18.5

Thanks in advance

[2021-08-13 12:50] miguelgmedina commented on #474
Same here. Deployment in a VMWare Tanzu Kubernetes Cluster with k8s v1.18.5. White screen when connecting to AWX Web URL, but after removing the deployment awx-operator, the new pod with the four containers inside (awx-task, awx-web, redis and awx-ee) is OK.

[2021-08-13 14:11] felipe4334 commented on #496
Anybody?

[2021-08-13 20:00] tchellomello commented on #496
I'll take a look at it. @felipe4334 could you provide more information? It looks like you have the containers running as expected. Please provide the `kubectl describe pod <pod-name>` so we can take a look.

[2021-08-14 17:13] felipe4334 commented on #496
@tchellomello release 0.13.0 fixed it thank you. It looks like it was a problem with devel one.

[2021-08-14 17:13] #496 closed, assigned to tchellomello

[2021-08-14 18:17] tchellomello commented on #496
Great to hear that @felipe4334 . Just a comment: the 0.13 version was cut from devel. Usually if you want to run the devel, besides getting the awx-operator.yml from the devel branch, you also need to modify the image url to pull the devel image too. Glad it's working for you now. Thanks for being an active user and providing feedback.

[2021-08-16 03:45] duntonr commented on #494
Observing the same.

After updating microk8s to 1.22 and then trying to deploy operator 0.13, the operator container upgraded but seem to get errors when it tries to upgrade the awx pod

[code]

the awx yaml is extremely basic:
[code]

[2021-08-16 13:34] derhoeppi commented on #376
Does this solution work for WinRM CA certificates? I open an issue to awx, because i don't know if it is an operator or awx problem.
https://github.com/ansible/awx/issues/10884

[2021-08-16 23:54] shanemcd commented on #498
This looks like a transient error with either quay or kubernetes. Either way, this is not an issue with AWX itself.

[2021-08-16 23:54] #498 closed, assigned to nobody

[2021-08-16 23:55] shanemcd commented on #497
Hello,

This issue tracker is for tracking feature enhancements and bugs to AWX itself.

If you need help troubleshooting an AWX install, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2021-08-16 23:55] #497 closed, assigned to nobody

[2021-08-16 23:55] shanemcd commented on #459
Hi - can you test with the latest version of the operator?

[2021-08-17 15:59] DnaMes commented on #474
Same here.

Workaround: `kubectl delete pod awx-...`

[2021-08-17 17:47] shanemcd commented on #481
Is the operator failing for some other reason, and erroring out before it can populate the EEs? Please check the operator logs for any info.

[2021-08-18 07:59] andrinbr commented on #474
Static content is missing. Creating a symlink inside the web container solves the issue temporarily:
[code]

see https://github.com/ansible/awx-operator/issues/470

[2021-08-18 09:40] daenney commented on #230
This got fixed in #464.

[2021-08-18 09:40] #230 closed, assigned to tchellomello

[2021-08-18 09:46] daenney opened #502 "CHANGELOG and release notes missing"
The CHANGELOG hasn't been updated since 0.10.0, and the releases don't contain a changelog either. It would be tremendously helpful for people that may want to upgrade the operator to actually know what's changed. Right now the only way to do it is by going through each commit since the 0.10.0 tag.

[2021-08-18 10:20] lumarel commented on #491
I'm also experiencing this with:

[code]

My current workaround is to create a custom EE where the certificate gets imported, but if this would work like with the core containers, this would help a lot!

[2021-08-19 09:28] ntlzthm8 opened #503 "AWX on OKD 3.11"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX Operator cannot create awx-pods

##### ENVIRONMENT
* AWX version: unknow
* Operator version: 0.13.0
* Kubernetes version: v1.11.0
* AWX install method: openshift

##### STEPS TO REPRODUCE

changes in operator.yml
from:
[code]
to:
[code]
##### EXPECTED RESULTS

create pods

##### ACTUAL RESULTS

nothing

##### ADDITIONAL INFORMATION

OKD 3.11 not su

[2021-08-19 15:17] jscorre1a commented on #474
Hello there, just to provide some feedback:

Clean install with minikube kvm2.

1st login attempt: Blank screen. http://192.168.XX.XX/static/* -> not found

/var/lib/awx/public/static exists and has files.

kubectl delete pod awx-operator-XXX

2nd login attempt: Blank screen. http://192.168.XX.XX/static/* -> not found

Still getting the blank screen.
Thanks :)

[2021-08-19 17:18] t6nisalt commented on #439
Shouldn't the first two secrets in the awx.yml have the three dashes in between them, like so:
[code]

For me it worked like this, didn't test without the dashes.

[2021-08-19 21:43] jscorre1a commented on #474
Update2:
This only happens using a reverse proxy. (nginx - proxy_pass https://192.168.xx.xx:xxxx/;)

Upon running inside the virtual machine and accessing the webpage there, no problems found. :)

[2021-08-20 09:19] raamca opened #504 "Please add support for defining custom nodePort"
When defining a custom service type as explained [here](https://github.com/ansible/awx-operator/tree/0.13.0#service-type), please allow the possibility to define a custom nodePort port as well for service_type=nodeport.

[2021-08-20 17:07] shanemcd commented on #503
We don't support OKD or OCP 3.x with the Operator, only 4+.

[2021-08-20 17:07] #503 closed, assigned to nobody

[2021-08-20 17:51] wenottingham commented on #491
https://github.com/ansible/awx/issues/10787

[2021-08-20 17:51] #491 closed, assigned to nobody

[2021-08-20 20:35] shanemcd commented on #494
Chatting with some folks from the operator-sdk team.

This seems like it might be caused by the fact that our operator is built upon version 0.19 of the sdk.

cc @Spredzy @rooftopcellist

[2021-08-20 21:17] renatogalera commented on #402
Same problem here.

Upgrade AWX 17.1.0 to 19.3.0

I still migrated only the database.

[code]

[2021-08-21 09:55] sk-cho-a opened #506 "A deploy demo on AWS with EKS and Route53"
This is a [good demo](https://asciinema.org/a/416946) to install AWX on minikube.

But for production as install on AWS, there are many things to integrate.

# Load Balancer

The AWX document shows a load balancer example:

    ---
    spec:
      ...
      service_type: LoadBalancer
      loadbalancer_protocol: https
      loadbalancer_port: 443
      loadbalancer_annotations: |
        environme

[2021-08-22 06:42] sk-cho-a commented on #506
@tchellomello Could you check it? Thank you.

[2021-08-22 22:45] gjsmo opened #507 "LDAP login works only once per user"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After configuring LDAP, I'm able to login. Attributes and groups seem to sync correctly, After logging out however I can no longer login with that same username. The only error in the `awx-task` log is `awx.api.generics Login failed for user`.

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.12.0
* Kubernetes version: 1.20.0-1089
* AWX in

[2021-08-23 09:32] eselvam commented on #78
Hi All,

I try to do the upgrade as per readme however it is not working as expected.  The operator get updated however not the awx version.

I am doing upgrade from 19.1 to 19.3

Current version: ansible/awx:19.1.0,quay.io/ansible/awx-ee:0.2.0
Current operator: 0.13.0

[2021-08-23 15:49] jorgeyanesdiez commented on #507
I am having the same issue. Furthermore, LDAP users no longer have the "LDAP" label as in previous versions.
![image](https://user-images.githubusercontent.com/1261722/130477482-dafdb38e-f67e-45b8-bb71-520f57d7c8bc.png)

On a sidenote: If I change the password for the "admin" user, it is reset every time I restart minikube. The issues are probably related.

[2021-08-24 02:02] eselvam commented on #402
I am also facing same issue.  Once the operator installed, it is automatically starts to create all 4 container in awx name space.  It never looks up for the awx.yaml which has the config.

operator 0.13.0 and awx: latest

[2021-08-24 10:00] daenney commented on #506
For AWS, you need [the (A)LB controller on your cluster](https://kubernetes-sigs.github.io/aws-load-balancer-controller/), and then on the CRD:

[code]

(drop the `tower_` prefixes if you're using operator v0.10+)

When using the (A)LB controller, you don't need to specify the cert for use with the ingress if you've issued it using ACM. The controller will find and use the right ACM cert itself.

[2021-08-24 20:22] felipe4334 commented on #507
Same issue here, I have awx-operator 0.13.0 here. I tried creating an awx instance from scratch without restoring from any backups and still the same issue. I have another cluster running AWX 19.2.2 and this issue does not appear there. This issue only appears with new users though, users already configured for LDAP will keep working.
![image](https://user-images.githubusercontent.com/13802820/130

[2021-08-25 05:11] HarishaAmeen opened #509 "extra_settings does not add quotes around string values"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Using extra_settings its not possible to set string values to AWX setting keys as it does not encompass the string value in quotes resulting in python error as settings.py treats it as variable name hence resulting in failure to bring up web and task containers.

##### ENVIRONMENT
* AWX version: 19.2.2
* Operator version: 0.13.0
* Kubernetes version: 1

[2021-08-25 07:15] zznfly opened #510 "awx19.3 can't use external postgres"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

i use secrets to config an external postgres, and  i found there is no error of PG in the operator logs , but in the logs of awx-task show waiting for database migrations .

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: 1.19.8
* AWX install method:  k8s

##### STEPS TO REPRODUCE

Run the following commands on

[2021-08-25 13:46] philipsd6 commented on #509
This seems to be an unintended side-effect of #432. If nothing else, the documentation (README) should be updated to show correctly quoting the values, as the current example doesn't work.

[2021-08-25 20:56] spisakni commented on #510
I am also having this exact issue.

[2021-08-26 13:05] spisakni commented on #402
Also have this error

[2021-08-26 13:46] PMiani commented on #510
To be honest I setup one just today with external pg and I had no issue.. probably related to timing like discussed here: https://github.com/ansible/awx-operator/issues/472#issuecomment-885919502

[2021-08-26 22:18] scott-vick opened #511 "Can't deploy AWX w/ custom database configuration"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I'm trying to deploy a fresh version of AWX but I want to specify my own password for the AWX database. However, when I try to deploy, the AWX pod will  not init and I get an error in the awx-operator logs.

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: 1.21.3
* AWX install method: k8s

##### STEPS TO REPRODUC

[2021-08-27 04:25] mhahl commented on #507
Just confirming I can replicate this issue on the following:

**ENVIRONMENT**
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: v1.21.3+k3s1
* AWX install method: k3s

[2021-08-27 07:41] thorian93 commented on #439
I am not sure if this is still embarrassing or just plain stupid. That did it. The frigging three dashes caused us weeks of headache.
This issue is not a bug then but rather a layer 8 error.
Huge thanks to @t6nisalt for pointing out something now obvious!

I created https://github.com/ansible/awx-operator/pull/512, so others can avoid this issue in the first place.

[2021-08-27 07:41] #439 closed, assigned to nobody

[2021-08-27 08:41] vibinm commented on #481
I see below error in operator logs.

"error":"exit status 2","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\tpkg/mod/github.com/go-logr/zapr@v0.1.1/zapr.go:128\ngithub.com/operator-framework/operator-sdk/pkg/ansible/runner.(*runner).Run.func1\n\tsrc/github.com/operator-framework/operator-sdk/pkg/ansible/runner/runner.go:239"

[2021-08-27 10:42] nicolaibaralmueller opened #513 "AWX https access"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

The operator guide does not describe how to enable https

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: minikube
* AWX install method: docker on linux

##### STEPS TO REPRODUCE

Following this guide works by exposing a random port between 30000-33000 via [example] http://awx.domain.local:32520

[https://gist.

[2021-08-27 14:05] rooftopcellist opened #514 "Docker tests fail because installer assumes AWX object exists"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Molecule[docker] tests run the installer directly, which fails because the installer role assumes an AWX object is created (because it patches labels onto the AWX object).

[code]

Options:
1. Remove docker tests and just use minikube tests?
2. Change the installer to only try to patch labels when the AWX object exists.

We probably want to update our

[2021-08-27 17:05] shanemcd commented on #481
I'm afraid this isn't enough information to tell what actually went wrong. Can you post more of the error?

[2021-08-27 17:08] shanemcd commented on #494
Confirmed with the operator-sdk team that operators built upon 0.x are not going to work on the newer version of kubernetes. We've prioritized bumping this at some point in the near-term. Any updates will be posted here.

[2021-08-27 17:22] shanemcd commented on #509
The example in the pr description doesn't seem to be valid yaml. I am guessing there is some better type-checking we could do here.

[2021-08-27 17:24] shanemcd commented on #510
I'm guessing this has something to do with deploying initially without specifying the correct variables, and the operator spins up an embedded database. We should check to see what the behavior is when trying to switch _from_ a managed database _to_ an external one.

[2021-08-27 17:56] shanemcd commented on #513
Hello,

This issue tracker is for tracking feature enhancements and bugs in the operator.

If you need help troubleshooting an install, try our mailing list or IRC channel:

#ansible-awx on https://libera.chat/
https://groups.google.com/forum/#!forum/awx-project

[2021-08-27 17:56] #513 closed, assigned to nobody

[2021-08-27 18:00] shanemcd commented on #514
Yeah, let's just remove that option. Too much maintenance for no good reason.

[2021-08-27 19:02] philipsd6 commented on #509
You mean the example in the _issue_ description? Yes, there's a typo in there, without the extra `, it should be:

[code]

For the record, although using YAML block quoting works:
[code]
&hellip;that's not really intuitive, as the value in the first example is already a string &mdash; we shouldn't need to quote the quotes.

[2021-08-28 13:16] lo78cn commented on #507
I face the same issue.

- it no longer works in 0.13.0/19.3.0 (clean install/deploy); ldap login still possible first time; next login username and password are validated against local database
- it does work in 0.12.0/19.2.2 (clean install/deploy)
- existing users after upgrade 0.12.0/19.2.2 -> 0.13.0/19.3.0 still working

there is one required user attribute value missing in the API output (resu

[2021-08-28 13:23] sk-cho-a commented on #506
@daenney Thank you very much for your answer.
I still have these questions:

- Isn't it necessary to add `service_type: LoadBalancer` to the spec if use ALB? I found the default service type is ClusterIP.
- `The controller will find and use the right ACM cert itself` -- Doesn't it need to add the created ACM's arn [alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:us-west-2:xxxx:certificate/x

[2021-08-28 15:56] kurokobo commented on #507
This seems to be an issue on the AWX side; ansible/awx#10883

[2021-08-29 17:14] daenney commented on #506
Yes.

You can, but you don't have to. See https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/ingress/cert_discovery/.

No. The ALB controller needs its own service account which lets it bind an IAM policy in AWS, so that it may create E|C|ALBs. The ALB controller's service account needs a role ARN, not the AWX operator service account. The AWX operator doesn't create the ALB

[2021-08-29 21:21] ggiinnoo commented on #494
I can confirm this issue exists on version 1.22.1.
Going back to version 1.21.3 resolves the issue 🥳

[2021-08-30 02:12] zznfly commented on #510
In facts,  I apply the secrets first

[2021-08-30 02:43] techzilla opened #515 "FATAL: Role "postgres" does not exist, in postgres container logs"
##### ISSUE TYPE
FATAL: Role "postgres" does not exist, in awx-postgres-0 log.

##### SUMMARY
Debugging Kubernetes related problems, after fixing them all postgres database never gets created, and logs repeat the same line.

    FATAL: Role "postgres" does not exist, in postgres container logs

##### ENVIRONMENT

* Operator version: 0.13.0
* Kubernetes version:

[2021-08-30 08:15] zznfly commented on #510
Can I use postgres 11 on awx19? Maybe I found the problem.....

[2021-08-30 09:01] PMiani commented on #510
Does the database and user exist on the extrnal pg?

Otherwise have a look at the README.md https://github.com/ansible/awx-operator#database-configuration.

"It is possible to set a specific username, password, port, or database, but still have the database managed by the operator. In this case, when creating the postgres-configuration secret, the `type: managed` field should be added."

[2021-08-30 17:48] rooftopcellist commented on #494
With the addition of this PR - https://github.com/ansible/awx-operator/pull/508, I am able to deploy the awx-operator and awx app to an Openshift 4.9 cluster (k8s v1.22.0).

[code]

All containers are running and I am able to log in and run a job from the UI.

![image](https://user-images.githubusercontent.com/11698892/131382172-1366636b-41f6-481b-851b-5b5fed94852c.png)

To use this fix, you will

[2021-08-30 17:48] #494 closed, assigned to nobody

[2021-08-30 19:19] duntonr commented on #494
I was also able to deploy 0.19.3 by editing `https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml` to:
[code]

note changes on `image` tag and `OPERATOR_VERSION` to `devel` and applying it

Thanks!

[2021-08-31 02:52] zznfly commented on #510
The problem is I use PG 11 , and I change it to PG 12  , bingo

THANKS  !!!!

[2021-08-31 02:52] #510 closed, assigned to nobody

[2021-08-31 06:42] HarishaAmeen commented on #509
Corrected the typo, thanks @shanemcd

[2021-08-31 06:45] HarishaAmeen commented on #509
Thanks, this works. May be its good if we update the README for the time being so that others wont encounter the same issue.

[2021-08-31 07:15] PMiani commented on #510
Glad it worked!

[2021-08-31 09:33] marc-ledent opened #516 "Install awx-operator with an unprivileged user"
##### ISSUE TYPE
 - Improvement

##### SUMMARY
Lower priority needed to install awx-operator to work insid a project

##### ENVIRONMENT
* AWX version: 19.x
* Operator version: 0.13.0
* Kubernetes version: v1.11.0+d4cacc0
* AWX install method: openshift

##### STEPS TO REPRODUCE

Standard install with unprivileged user

##### EXPECTED RESULTS

To be able to install/use awx-operator inside a project

[2021-08-31 12:17] tomtreffke commented on #489
Hi @VasseurLaurent , since I'm also currently checking out the operator; I noticed there is a significant difference between the doc here in the repo and on [Ansible.com](https://docs.ansible.com/automation-controller/latest/html/administration/operator.html)

Please note, I've not yet restored an instance successfully myself, but I'm also on the problem ;) did you solve it yet?
best of regards.

[2021-08-31 12:36] scott-vick commented on #511
I can't be the only person who has had this issue or if I am, I would really like to find out why this is not working.

[2021-08-31 18:25] #507 closed, assigned to nobody

[2021-08-31 18:26] tchellomello commented on #507
@kurokobo should be fixed by ansible/awx#10965

[2021-08-31 23:43] kurokobo commented on #507
@tchellomello
Thanks for the quick fix!
I look forward to the release of the new version with the fixes included :rocket:

[2021-09-01 02:18] VasseurLaurent commented on #489
Hello @tomtreffke , I still didn't success neither. I hope some will create a documentation clearer about that so you we can make a try

[2021-09-01 07:59] ghost commented on #483
A workaround that I have found is to create a PV:
[code]
The path will be given 777 permission through chmod.
You need to add the attribute `postgres_storage_class` with the same value as the storageClassName.

[2021-09-01 08:03] tomtreffke commented on #489
I noticed, in the [Restores CRD](https://github.com/ansible/awx-operator/blob/devel/deploy/crds/awxrestore_v1beta1_crd.yaml), there are some more fields defined, where its not clear to me if they are mandatory. I now treated them like it and came up with the following Restore Definition:

`  apiVersion: awx.ansible.com/v1beta1
kind: AWXRestore
metadata:
  name: restore-awx
  namespace: default
spe

[2021-09-01 08:05] dimatha commented on #459
@shanemcd, my apologies for the late reply. Yes, I can confirm that with operator 0.12.0 it works just fine. thanks !

[2021-09-01 08:06] #459 closed, assigned to nobody

[2021-09-01 08:06] tomtreffke commented on #489
I noticed, in the [Restores CRD](https://github.com/ansible/awx-operator/blob/devel/deploy/crds/awxrestore_v1beta1_crd.yaml), there are some more fields defined, where its not clear to me if they are mandatory. I now treated them like it and came up with the following Restore Definition:

[code]

Our Backup names iterate, since we create the AWXBackup with a Job. Hence, the name as date (yy-MM-dd)

[2021-09-01 11:33] sk-cho-a commented on #506
@daenney

Do I need to deploy an ingress by myself? Here is what I deployed.

After deployed the awx-demo.yaml

[code]

I also deployed an ingress to find the generated `awx-demo-service` service.

[code]

When I check the ingress, I found two, why?

[code]

[2021-09-01 11:39] daenney commented on #506
You do not deploy an ingress. The AWX operator does it for you. Since you named your AWX `awx-demo`, it automatically created the `awx-demo-ingress` for you.

[2021-09-01 15:06] mibfb23 opened #517 "ldap authentication issue"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
ldap authentication issue

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: 1.20.0
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker

##### STEPS TO REPRODUCE

configured the ldap parameters for ldap authentication and at the first login with an ldap user you are able to log

[2021-09-01 20:14] tchellomello commented on #517
Duplicated of https://github.com/ansible/awx-operator/issues/507

Should be fixed by ansible/awx#10965

[2021-09-01 20:14] #517 closed, assigned to nobody

[2021-09-02 06:59] takuan-osho commented on #291
Is there any progress about this issue?
I also hope this issue would be resolved.

@tchellomello Could you proceed with your reviewing #501 to resolve this issue? (though the PR is not mine)
Thanks in advance.

[2021-09-02 08:40] GeneralFox opened #518 "Kerberos Auth failure on task execution"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Launching a job on AWX console generate an error on Kerberos authentication like this:

"Kerberos auth failure for principal PRINCIPAL with pexpect: Configuration file does not specify default realm when parsing name PRINCIPAL"

This was not expected as kinit on the pod works fine, the kerberos configuration was loaded with a config-map and volume moun

[2021-09-02 09:45] AbhinitMallick opened #519 "ldap user getting created as a local user"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
ldap user getting created as a local user
When an ldap user first tries to login his account gets created as a local user, so the user is able to login for the first time but once he logs out he cannot log back in as his password field is created and set to blank as he is a local user and not an ldap user

##### ENVIRONMENT
* AWX version: 19.3.0
* Oper

[2021-09-02 10:08] antonmatsiuk commented on #420
im my case upgrade for operator fails from 0.10.0 to 0.11.0 without any meaningful message in the log
attempt to upgrade 0.10.0 to 0.12.0 fails with `ERROR:  column main_executionenvironment.managed does not exist at character 375` in postgres log

[2021-09-02 14:11] vibinm commented on #481
Here you go, please let me know if you need more info.

The awx-ee is not being pulled from the internal repo, this issue is there on all operator versions above 10.0.0

awxtest-f6fd46f47-4crdz         3/4     ImagePullBackOff   0          9m20s   10.140.221.206   ya2066.danskenet.net   <none>           <none>

  Normal   Pulling    9m26s (x2 over 9m44s)   kubelet            Pulling image "quay.io

[2021-09-02 16:21] tchellomello commented on #291
Thanks for the heads up @takuan-osho

[2021-09-02 16:32] tchellomello commented on #519
Hello @AbhinitMallick

For the ldap issue you mentioned, its a dup of #517 #507 and should be fixed by ansible/awx#10965

In regards to the `ldap-ca.crt`, I see on your spec that  you passed `ldap_cacert_secret: awx-custom-certs`. Could you share the content of this secret (obfuscate the content).  `kubectl describe secret awx-custom-certs`

[2021-09-02 17:14] eoq opened #520 "Add a quick Uninstall section to README.md"
It could be just me as I am mostly new to Kubernetes and Operator but it took me quite a while to figure out how to uninstall an AWX deployment. Deleting the deployment directly didn't work as awx-operator seems to recreate probably by design.

I found the below command referenced in 1 mailing list entry which did the trick. Not sure if that is the optimal way though.

kubectl delete awxs _deploym

[2021-09-02 19:51] slaurencelle opened #521 "awx pod not creating on new k8s cluster on rhel 7"
Hello,
I seem to have a problem deploying awx on kubernetes wich is install on rhel 7 host.
I have try with th awx-operator 0.10 to 0.13 and same result , the awx-operator is install and working
but when i push my awx install file , i have the database pod create and running but no awx pod.

i did have create my pv and pvc local-storage for the database pod and project pod (awx) to have persitent

[2021-09-02 20:17] slaurencelle commented on #521
I just try with the version 0.9.0 of the awx-operator and same result :(

regards,

Stephane

[2021-09-02 20:30] slaurencelle commented on #521
in the awx-operator pod logs i see this error :
"job":"6842348953158377901","name":"awx-demo","namespace":"default","error":"exit status 2","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\tpkg/mod/github.com/go-logr/zapr@v0.1.1/zapr.go:128\ngithub.com/operator-framework/operator-sdk/pkg/ansible/runner.(*runner).Run.func1\n\tsrc/github.com/operator-framework/operator-sdk/pkg/ansible/runn

[2021-09-03 08:09] hungtran84 opened #522 "AWX configuration as Code?"
##### FEATURE REQUEST
 Is it possible to have AWX configuration as Code where all the configuration, settings, projects, credentials, ...etc....can be defined in AWX CRD?

[2021-09-03 09:41] AbhinitMallick commented on #519
@tchellomello
I create them using the below command ( it is the same file that I use for both bundle and ldap ca crt )

kubectl create secret generic awx-custom-certs \
    --from-file=ldap-ca.crt=/etc/openldap/cacerts/KFPLC_INTER_CA2_V1.pem  \
    --from-file=bundle-ca.crt=/etc/openldap/cacerts/KFPLC_INTER_CA2_V1.pem

[root@lnxs awx_operator]# kubectl describe secrets awx-custom-certs
Name:

[2021-09-03 13:22] tobgen commented on #521
I have the same issue.
Worked like a charm on my pre 1.22.x cluster, then I did a fresh install of 1.22.1 (on ubuntu)
Using the same yaml-files as before. No go Im afraid.

If I use an external postgres, nothing really happens.
If I tell the operator to create a postgres for me, It will, but then it stops.

[code]

[2021-09-03 13:30] tobgen commented on #511
@scott-vick might be the same problem I'm facing. #521

[2021-09-03 14:48] slaurencelle commented on #521
hello Tobgen,
which version of the awx-operator you use on the other kubernetes cluster ?
i have try from 0.9.0 to 0.13.0 and no luck, it was on rhel 7.x
i notice that other peaople had the same issue but on my side the awx pod is not even create and don't know what is happening ...

Stephane

[2021-09-03 17:10] damluji commented on #519
Any updates when a release with this fix (LDAP issue) is coming out please?

[2021-09-03 17:13] chrismeyersfsu commented on #522
We are looking to add more resources over time to our existing AWX Resource Operator. Happy to consider contributions. https://github.com/ansible/awx-resource-operator

[2021-09-03 17:28] chrismeyersfsu commented on #521
duplicate of https://github.com/ansible/awx-operator/issues/511

[2021-09-03 17:28] #521 closed, assigned to nobody

[2021-09-03 17:30] chrismeyersfsu commented on #520
This would make a great PR. We await your contribution.

[2021-09-03 17:32] chrismeyersfsu commented on #519
This issue will be fixed in the next AWX release.

[2021-09-03 17:32] #519 closed, assigned to nobody

[2021-09-05 08:41] tobgen commented on #521
I have tried with the same range of operators as you.

[2021-09-05 11:54] eoq commented on #520
Submitted PR

[2021-09-05 13:09] yuval-g opened #524 "Can't use custom ca-certs in private network"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Trying to install new deployment in private network and add custom ca-certs is impossible because centos8 image is being pulled from quay.io which I can't connect.
For now I edited the awx image to use my private registry...

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 13.0.0
* Kubernetes version: v1.19.0
* AWX install method: openshift

[2021-09-06 07:13] tobgen commented on #511
After some more testing I have found the following.
It seems to work like a charm on "older" versions of k8s.
From what I can tell as well, it the version of the operator made no difference for me.

Works on this one:
[code]

Not so much on this version:
[code]

[2021-09-06 12:54] siju-vasudevan opened #525 "LDAP authentication getting failed when configured via extra setting option.(Setting.py missing LDAPSearch Module)"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
LDAP authentication getting failed when configured via extra settings option.

##### ENVIRONMENT
* AWX version: 0.12.0
* Operator version: 19.0.0/19.2.2
* Kubernetes version:
* AWX install method: k8 cluster
##### STEPS TO REPRODUCE
AWX LDAP Configuration Issue:
Trying to configure ldap setting via extra setting option.
- setting: AUTH_LDAP_USER_SEARCH

[2021-09-07 03:21] rhessing commented on #511
Thank you for posting this bug report, this helped me a lot after hours of trying to install AWX on K8S.

I can confirm that I see the same result: on version v1.22.1 it doesn't work. On v1.21.2 it does work. I tested it without any custom configurations. Deploy yaml:
[code]

[2021-09-07 13:48] slaurencelle commented on #511
Hello,

Don't tell me that the solution is to downgrade my kubernetes cluster just to solve the problem, for me it's not an option.
do you have solve the issue to why it's not working anymore on 1.22.xx

hope you can solve it quickly, i wish you would have left it on docker which was working evry time i put it in place instead of the new way. :(

Regards,

Stephane

[2021-09-07 15:08] dolgovas opened #526 "Pod for run job not use 'node_selector'"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When i run job, awx-operator create a new pod named like automation-job-NUMBER on wrong node. It doesn't use node_selector for choose valid node.
How i can fix it?

##### ENVIRONMENT
* AWX version: 19.2.2
* Operator version: 0.12
* Kubernetes version: k8s 1.21.0

[2021-09-07 17:00] spisakni commented on #402
Is anyone looking into this... I think we're all dead in the water and already followed all the guides.

[2021-09-08 04:48] yurtesen commented on #402
RedHat engineer said `Who told you AWX should be used in production?` implying AWX should not be used in production:
https://github.com/ansible/awx/issues/10166#issuecomment-839680079
and [FAQ ](https://www.ansible.com/products/awx-project/faq)says it can't be upgraded. For more detail see:
https://github.com/ansible/awx/issues/9540#issuecomment-845483459

So I doubt you will get help from develop

[2021-09-08 07:41] stevensim226 opened #530 "Default AWX Configuration causes postgres invalid password"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am trying to deploy AWX Operator and one instance of AWX but for some reason it keeps having problems with the postgres credentials despite it being a clean and default install [given in here](https://github.com/ansible/awx-operator#basic-install).

I applied the `awx-operator` manifest with `0.13.0` as `<TAG>` and also used below manifest to deploy

[2021-09-08 09:28] natsumi12 opened #531 "Accessing AWX outside of localhost"
Hello guys,
I am new to AWX/kubernetes. I am trying to have the AWX web gui accessible from other servers via the servers IP:AWX port.
I have basic latest AWX install deployed on Minikube v1.21.0.
On the GUI server where the AWX is running I can access the AWX via link provided by "minikube service awx-demo-service --url", but not outside of the server. I did also try to use "kubectl portforward"

[2021-09-08 12:25] mrcetinel opened #532 "NFS Issue with AWX operator on OKD 4.6 (ValueError: ZIP does not support timestamps before 1980)"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](http://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx/issues) for duplicates.
- [X] I understand that AWX is open source software provided for free and that I am not entitled to status updates or other assurances.

###

[2021-09-08 12:33] tobgen commented on #511
@scott-vick do you have the option to test on a 1.21.2 cluster and see if you face the same issue?

[2021-09-08 12:42] p4rancesc0 opened #533 "Unable to complete deployment with awx-operator on FC34 and minikube v1.23.0"
##### ISSUE TYPE
 - awx-operator pod logs looping forever, not completing installation

##### SUMMARY
can't connect to awx service as it doesn't seems available.
If connecting via bash to the awx operator pod awx doesn't seems to be installed.

##### ENVIRONMENT
* AWX version: X.Y.Z
* Operator version: 0.13.0 0.12.0 devel
* Kubernetes version: v1.22.1
* AWX install method: minikube v1.23.0 with do

[2021-09-08 13:48] sdigit commented on #454
Hi,

I would also like to use CloudSQL for my AWX database. If I can help test a fix for this, please let me know.

[2021-09-08 13:48] stanislav-zaprudskiy commented on #510
Just for others running into similar issues - in my case the issue with unmanaged PostgreSQL was caused by AWX not trusting the certificate bound to PostgreSQL endpoint. The `awx-web` container runs [`wait-for-migration`](https://github.com/ansible/awx/blob/devel/tools/ansible/roles/dockerfile/files/wait-for-migrations) script, which in turn executes `awx-manage check`, which was generating this e

[2021-09-08 13:53] tobgen commented on #511
I have done some more testing, and at least for me, things works in 1.21.x.

Did the following, started out with a 1.21.2 cluster, installed the operator and then applied the demo-config.
AWX pods tries to start (will not start because no db is configured nor a PVC is created)

Deleted everything, upgraded to 1.21.3. Rinse and repeat.
AWX pods tries to start (Expected)

Deleted everything, upgrade

[2021-09-08 14:52] slaurencelle commented on #511
Hello Tobgen,

That's exactly the result i got on my 1.22.x kuberntes cluster.
Don't see the awx pod tryning to start nor appear.

if you need me to do more testing just let me know, if we could solve the issue quickly it would be very nice.

Regards,

Stephane

[2021-09-08 15:08] slaurencelle commented on #511
Hi,
just been talking with a coworker about change on kubernetes cluster between 1.21.x and 1.22.x and is it possible that something use by the awx operator have been remove in kubernetes and that is what causing this issue ?
Stephane

[2021-09-08 17:08] nathan-march commented on #489
Just in case anyone stumbles across this thread and actually needs to do a restore, I was able to load in a backup manually by restoring the tower.db into the postgres container and then manually insert all the kubernetes secrets from secrets.yml. Restarting the containers got it stuck on waiting for a migration (I also had to do a version upgrade at the same time), at which point hopping into the

[2021-09-09 07:16] tobgen commented on #511
@slaurencelle Yea, my guess as well.

[2021-09-09 07:18] tobgen commented on #533
Yea, more reports that it does not work in 1.22.x.
Something has clearly changed in later versions of k8s that makes the deployment not working anymore.

[2021-09-09 08:22] p4rancesc0 commented on #533
Thanks,

please let me know if you are going to fix the issue.

BR
Francesco

[2021-09-09 09:02] twobombs commented on #483
let's say one would declare
`  storageClassName: pgdata`
And place the declaration right underneath
`  postgres_storage_class: pgdata`
It would be handy to do so because of maintainability of the next versions of awx-oprator
on top of that working with a PV on statefull pqdata would be a good idea anyways, right ? :)

[2021-09-09 16:20] PotentialIngenuity commented on #533
I have the same setup and problem. Here is another error i see:

`failed: [localhost] (item=service_account) =>
{
  "ansible_loop_var": "item",
  "changed": false,
  "item": "service_account",
  "msg": "Failed to find exact match for rbac.authorization.k8s.io/v1beta1.RoleBinding by [kind, name, singularName, shortNames]"
}`

[2021-09-09 16:20] mnhan3 commented on #402
I'm trying to upgrade from 17.1 docker to 19.3 openshift and its stuck on the db migrate.   Running the awx-manage migrate manually throws an error applying 0144_event_partitions.

---- edit---
I was able to get the migration to work after manually going version by version up to 19.2.1 which didn't include the 0144 migration.   Next, install and new 19.2.1 installation via the operator with an int

[2021-09-09 16:58] PotentialIngenuity commented on #533
I have dug into this further and found that 1.22.x removed several beta api endpoints, see [link](https://www.p3r.one/kubernetes-1-22-notes/)

Changing v1beta1 to v1 yields the following results. Using the [service_account](https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/service_account.yaml.j2) template

[code]
[code]

[2021-09-09 20:43] tomsozolins commented on #532
I have the same error when trying to sync host inventory from git repository.
Using Longhorn as storage backend on K3S cluster.

Found out that the problem starts to happen when i have community.windows collection in requirements.yml.
If i remove the community.windows collection then the sync is working ok again.

[2021-09-10 14:24] ChaotX commented on #482
I have similar issue
The old db is surely accessible from the cluster, because if I use it as postgres_configuration_secret the awx deployment start.

[2021-09-10 14:47] ghost commented on #533
Hi,
Same problem here.
Also ried with Minikube 1.20.0 and 1.21.0.
This is the final test with 1.20.0
[code]

[code]

[2021-09-10 14:56] p4rancesc0 commented on #533
Hi,

I switched back on centos 8.4.

I managed with this:

`minikube start --addons=ingress --cpus=6 --cni=flannel --install-addons=true     --kubernetes-version=stable --memory=12g --kubernetes-version 1.20.2`

`minikube.x86_64                      1.20.0-0 `

Got an error on start, really odd path...

did

[code]

than start again.

BR
Francesco

[2021-09-10 14:57] p4rancesc0 commented on #533
The problem really seems to be kubernetes version.

[2021-09-10 15:11] gatboccia commented on #533
I am seeing the same issue in GKE Version  1.20.8-gke.2100

[2021-09-10 15:17] p4rancesc0 commented on #533
I managed with kubernetes 1.20.2 and minikube 1.20.0-0 on Centos 8.4

Br
Francesco

[2021-09-10 15:18] gatboccia commented on #533
So perhaps the api's were changed around >=1.20.3

[2021-09-10 17:42] chrismeyersfsu commented on #533
@tchellomello can you look at this?

[2021-09-10 17:46] chrismeyersfsu commented on #531
Can you ask this question on the mailing list @natsumi12 ?

[2021-09-10 17:46] #531 closed, assigned to nobody

[2021-09-10 21:30] tobgen commented on #533
I have done some more testing, and at least for me, things works in 1.21.x. (Note that I'm not using Minicube)

Did the following, started out with a 1.21.2 cluster, installed the operator and then applied the demo-config.
AWX pods tries to start (will not start because no db is configured nor a PVC is created)

Deleted everything, upgraded to 1.21.3. Rinse and repeat.
AWX pods tries to start (Exp

[2021-09-10 21:41] tchellomello commented on #533
@chrismeyersfsu  I'll take a look  :+1:

[2021-09-12 16:12] techdiaters opened #537 "ansible-controller is not creating"
{"level":"error","ts":1631461497.2144506,"logger":"controller-runtime.controller","msg":"Reconciler error","controller":"awx-controller","request":"default/ansible-awx","error":"event runner on failed","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\tpkg/mod/github.com/go-logr/zapr@v0.1.1/zapr.go:128\nsigs.k8s.io/controller-runtime/pkg/internal/controller.(*Controller).reconcileHandler\

[2021-09-13 03:32] AlekseiSaff opened #538 "change postgres settings"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
need to change postgres settings

##### ENVIRONMENT
* AWX version: 19.3
* Operator version: 0.13
* AWX install method: minikube

##### STEPS TO REPRODUCE

I need to change postgres setting to avoid production failures
https://github.com/ansible/awx/issues/10996#issuecomment-917686258

##### EXPECTED RESULTS

postgres should be run with modified setting

[2021-09-13 07:29] ghost commented on #533
As a side note, I am using Debian 10 but I don't think that this really matters in this case.

[2021-09-13 11:44] tomsozolins opened #539 "Kerberos auth failed: Can't find client principal in cache collection"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Unable to run WinRM based job via AWX Web UI. All hosts show Kerberos auth failure.
When ansible playbook is ran manually with command inside awx-ee container everything works fine and the job completes successfully.
[code]
##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: K3s v1.21.4
* AWX install method: awx-op

[2021-09-13 12:37] JonathanG3 commented on #467
Hey, I also had this issue, I've gone from 0.13.0 to 0.12.0 because I understood that there is an issue with the External DB configuration in 0.13.0 which is something I plan on doing on the future.

After downgrading to 0.12.0, I added ingress configuration using NGINX and it seems like that since then my jobs couldn't run anymore.

Returning to 0.13.0 fixed the issue for me.

[2021-09-13 14:21] tomtreffke commented on #489
it seems like the AWX restore is not working as an in-place restore of the existing instance.

As stated in the [Restore Role](https://github.com/ansible/awx-operator/tree/devel/roles/restore):
**Note that the deployment_name above is the name of the AWX deployment you intend to create and restore to.**

Note: 'Deployment' is not a Deployment Resource in K8s, it rather is another AWX Instance:

![

[2021-09-13 14:39] beenje opened #540 "automation pod resources limit"
##### ISSUE TYPE
 - New feature

##### SUMMARY
We upgraded AWX to version 19.2.2.
By default, AWX is now creating a new pod named "automation-job-xxxx" to run jobs.

Our OKD cluster require every containers to have some limits set.
We currently have to use a LimitRange to set those limits.
Would it be possible to have a variable, like `ee_resource_requirements`, that could be used to assign resour

[2021-09-13 15:18] slaurencelle commented on #537
Hello techdiaters,

Are you trying to install it with the awx operator on kubernetes cluster 1.22.xx ?
if yes there is another ticket open for that and you are not alone i have the same bug it'seem to be working well on kubernetes cluster 1.21.2 but not with the 1.22 version where are still waiting for a solution.

Regards,

Stephane

[2021-09-13 15:20] slaurencelle commented on #537
Here is the other ticket that is open for that bug

Can't deploy AWX w/ custom database configuration #511

Hope other can help with a solution

Stephane

[2021-09-13 15:34] slaurencelle commented on #511
Is it possible to have a status on this byg to know if it can be resolve quickly or not ?
After having the info i will decide if i need to reinstall everything on an older version or if i will wait for you to solve the issue.

Any feedback would be greatly appreciated !

Regards,

Stephane

[2021-09-13 16:19] techdiaters commented on #537
I am installing in minikube ansible-controller is not creating

i will refer that issue

[2021-09-13 16:36] slaurencelle commented on #537
which version of minikube ? since minikube permit you to run kubernetes on single node cluster, i suppose that it could be having the same issue depending on the kubernetes that you run on minikube.

Stephane

[2021-09-13 16:43] slaurencelle commented on #537
i just check and you can not use minikube 1.23 but you can use minikube 1.22 and lower version since on 1.22 it's kubernetes 1.21.2 that is deploy by default and on 1.23 it's 1.22.x.

Stephane

[2021-09-13 16:56] slaurencelle commented on #511
Just to let you know, that people will encounter the same problem when they will use minikube 1.23 since the default kubernetes version that will be deploy is 1.22.x

Stephane

[2021-09-14 12:28] suukit opened #542 "Post Install operations to AWX instance"
##### ISSUE TYPE
 - Feature request

##### SUMMARY
After having the operator running to setup the AWX instance it would be good to be able to run additional ansible code to configure the instance (e.g. add git repos). This ansible code could be provided as config map and be included by the operator for the instance.

[2021-09-14 12:50] slaurencelle commented on #533
Hello achrjulien,

i can confirm you that it is not your OS causing the problem but more the kubernetes version 1.22. There is around 4 or 5 discussion here about this bug, but still nothing yet from the developper, hope they can solve it soon. Don't want to have to reinstall all my kuberntes cluster because of that :(

Stephane

[2021-09-14 14:07] sam-sre opened #543 "awx-demo.yml Pods are stuck in Pending state"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
awx-demo.yml Pods are stuck in Pending state.

##### ENVIRONMENT
* AWX version: 0.13.0
* Operator version:  0.13.0
* Kubernetes version:  v1.20
* AWX install method: local K8s cluster booted with Kubeadm

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

##### AWX-OPERATOR LOGS

----------------------

[2021-09-14 19:21] slaurencelle commented on #543
Hello,
I suppose it is stuck because you did not configure any pv and pvc for the postgress storage ?
you did not gave us too much information to what is happening.

can you do a kubectl get all of the specific namespace where you install the awx operator and awx-demo

Stephane

[2021-09-15 09:28] tomsozolins commented on #539
I found that the problem happens when windows credential username does not match exactly case as it is in the Active Directory.
When i changed from user to User - the problem went away and awx connected successfully to kerberos.

[2021-09-15 09:28] #539 closed, assigned to nobody

[2021-09-15 10:07] yurtesen opened #545 "Basic install not seem to be working"
I am following the basic install manual

The `$ kubectl get pods -l "app.kubernetes.io/managed-by=awx-operator"` should list 2 pods. But one of them is missing... hmm?

The full output is below:

[code]

[2021-09-15 11:41] yurtesen commented on #545
In operator logs I saw
[code]

[2021-09-15 13:46] tobgen commented on #545
@yurtesen as of now, The operator does not seem to work with kubernetes version 1.22.x
 Please see #533

[2021-09-15 14:05] yurtesen commented on #545
@tobgen wow thank you! I will close this issue as it is a duplicate. I tested with 1.21.4 and it looks much better. This is actually good because I could not deploy container group on my docker based AWX also.

Thank you IBM for making the life harder!

[code]

[2021-09-15 14:05] #545 closed, assigned to nobody

[2021-09-15 14:52] neilneyman opened #546 "AWX Operator installer pod crash-loop on Openshift 4.7 crashes during secret_key_configuration.yml"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Attempting to follow the install instructions on openshift, I am able to create the awx-operator pod, but as it runs through the ansible installer scripts, it keeps crashing and restarting during the:
TASK [installer : Check for default secret key configuration]

##### ENVIRONMENT
* Operator version: 0.13.0
* Kubernetes version: v1.20.0+558d959
* AWX i

[2021-09-15 19:12] sam-sre commented on #543
@slaurencelle  Thanks for the fast reply.
I thought the Operator will take care of the PVC/PV creation if using Kubeadm
Now it is working after I deployed an nfs-provisioner with a storage class that AWX can consume.

BR
Anas

[2021-09-15 19:48] neilneyman commented on #546
**Update:**

We have resolved this issue by setting this environment variable to the value of the project namespace:
WATCH_NAMESPACE = awx-test

Unfortunately we are having another issue with getting the build to complete.  The PostgreSQL and the application pods are created, but the application container is unable to start.  Using default values, I find this error message in the pod yaml

[code]

[2021-09-16 07:29] tomsozolins commented on #532
I made k8s configmap for Python internal zipfile.py file with "strict_timestamps=False" .
I mounted it to AWX task container and then the error with git sync and community collections is not happening anymore and jobs run fine.

Anyone has an idea on what may be the problem?

Here is the mount config:
[code]
ConfigMap:
[code]

[2021-09-16 12:50] derdude000 opened #547 "Can't use the parameter nodeport_port with apiVersion awx.ansible.com/v1beta1"
Why doesn't work the parameter nodeport_port ?

 error validating data: ValidationError(AWX.spec): unknown field "nodeport_port" in com.ansible.awx.v1beta1.AWX.spec;

AWX Operator: 0.13
 AWX Version 19.3.0

  apiVersion: awx.ansible.com/v1beta1
   kind: AWX
   metadata:
     name: awx-01
     labels:
   spec:
     service_type: NodePort
     nodeport_port: 30080
     ingress_type: none

Which apiV

[2021-09-16 13:54] cerberek opened #548 "AWX operator fails create awx service pod on kubernetes 1.22"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Deploy with latest minikube and stable kubernetess failles create awx pod

Erros are censored:
TASK [installer : Apply Resources] *******************************************************************************************************************************************************************************************************************************

[2021-09-16 14:35] slaurencelle commented on #548
Hello Cerberek,

so since now we know what is causing the problem does that mean that the awx-operator will be repair to work with kubernetes 1.22 ?

regards,
Stephane

[2021-09-16 14:38] slaurencelle commented on #543
i thought so too but it's not,

glad i could help you on this one  :)

Stephane

[2021-09-16 14:50] cerberek commented on #548
I don't know. I was only figuring out last days why it failed. Solution for me is doing AWX deploy on kubernetes v1.21.

[2021-09-16 15:00] slaurencelle commented on #548
i don't think it's a solution, it's have to be resolve because we won't be able to update the kubernetes cluster in the future because of that.

Can a developper give us a little feedback about that ?
Stephane

[2021-09-16 16:07] cnukwas commented on #483
Created a PV with storageClassName and used that SC name as above, but getting following error in Postgres pod log.
`chmod: changing permissions of '/var/run/postgresql': Operation not permitted`
Is there a way to fix this without giving 777 permissions to the pg data directory when the pod is running as a non-root user, in OpenShift clusters?

[2021-09-17 03:42] rooftopcellist opened #549 "Add pre-flight check for Route used but API is not available"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Currently, if deploying on a k8s cluster without the Route API (for example minikube locally), if you specify `ingress_type: route`, it will fail, but the error gets hidden by a no_log.  If `no_log: false` is set, this is the error:

[code]

We should add a pre-flight check to see if the `route.openshift.io/v1.Route` is available before attempting to c

[2021-09-17 05:06] #549 closed, assigned to nobody

[2021-09-17 10:32] twobombs commented on #483
Funny, I see deltas in behaviour on the 0.13 vs the 0.12;  DB working, but other pods not starting.
Got this kinda working with a lot of tinkering on k3s with the help of Rancher 2.6, leveraging some volume swap magic.
Have done and will do some more work on reproducing and working around issues.

<img width="1413" alt="Screenshot 2021-09-17 at 14 18 22" src="https://user-images.githubusercontent.

[2021-09-17 10:36] chris93111 commented on #538
+1 same problem with production tunning, need to change max_connections

maybe allow args params for postgresql launch , or mount configmap with name defined by user in operator

[2021-09-17 11:20] ghost commented on #530
Saw Exactly the same on k3d v4.4.8 and docker 20.10.2

[2021-09-17 16:58] neilneyman commented on #546
Wanted to follow-up on this. Looks like we had some resource limits set for the namespace itself that were affecting this, we were able to build it using a completely new project/namespace.    Probably can close this issue.   I did want to note if anyone else is experiencing issues getting this to build on openshift, the additional steps we needed included:

- Manually creating the awx-operator se

[2021-09-17 17:46] chrismeyersfsu commented on #515
@techzilla do you have any more information?

If you explicitly delete all the postgres things and then re-run the operator does it fix it?

[2021-09-17 18:12] leociociano opened #550 "AWX login with LDAP doesnt work after first login"
**Environment:**
AWX-Operator: v0.13.0
AWX: v19.3
Infra: OpenShift 4.6
Authentication Type: LDAP with ActiveDirectory

**Settings:**
LDAP Authentication
Logging Aggregator Level Threshold: DEBUG

**What Happens:**
LDAP Authentication works fine on the first user login.  After logout, I try to relogin with the same user and I get "Invalid username or password".

**What should happen:**
LDAP Authent

[2021-09-18 00:14] jsalatiel opened #553 "operator 0.13 awx 19.3.0 blank ui"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After installing a clean 19.3.0 version using operator the URL returns a blank screen

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13
* Kubernetes version:  1.21
* AWX install method: kubernetes

##### STEPS TO REPRODUCE
deployed the operator ( changing the namespace references from default to awx )
Deployed this:
[code]

##### EXPECT

[2021-09-18 10:56] ggiinnoo commented on #548
Check out this issue, perhaps it can help you: https://github.com/ansible/awx-operator/issues/494

[2021-09-19 12:06] kurokobo commented on #550
This is a known issue for AWX 19.3.0 deployed with AWX Operator 0.13.0 (ansible/awx#10883, #507). This should be fixed in the next release.

As a current workaround, use AWX Operator 0.12.0 to deploy AWX 19.2.2.

[2021-09-20 08:22] derdude000 commented on #547
Has someone any idea ?

[2021-09-20 13:08] leociociano commented on #550
Thank you very much. I'll just close this issue.

[2021-09-20 13:08] #550 closed, assigned to nobody

[2021-09-20 21:21] mrwiora opened #554 "operator 0.13 - no awx pod deployed"
Hi all,

I struggle with my deployment - currently no awx pod is being deployed, but no error shows up at all...

my kube nodes - onpremise installation:
[code]

Details about installation
[code]

Cluster has been set up with:
[code]

and the following flannel config:

kubemw1
[code]

kubemw2
[code]

my kubectl events:
[code]

my kubectl overview
[code]

operator logs the following output:
[code]

[2021-09-20 21:48] pbrisson73 opened #555 "Running older version of Ansible"
AWX operator is running an older version of Ansible causing module issues that I use in 2.11, is there a near future updates that will include Ansible core 2.11 or higher?

`kubectl exec --stdin --tty awx-operator-69c646c48f-9jkcs -- /bin/bash`
bash-4.4$ `ansible --version`
ansible 2.9.13
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/usr/share/ansible/openshift']

[2021-09-21 12:22] craph opened #557 "Enhance documentation for Migrating data from an old AWX instance"
I was reading the documentation about "Migrating data from an old AWX instance" and I think something is missing in the Deploy part [here](https://github.com/ansible/awx-operator/blob/devel/docs/migration.md#deploy-awx)

In the spec `old_postgres_configuration_secret` is set but the `secret_key_secret` is not.

How AWX can get / know / retrieve the "Secret Key" if this is not mentioned in the belo

[2021-09-21 12:31] slaurencelle commented on #554
Hello, no you are not missing anything, this is a bug with the kubernetes 1.22.x version which is explain in the other ticket and it's about old api not available in the latest kubernetes version, multiple ticket have been open , there is a kind of solution that are being test right now but it did not work for me.

Just check the other ticket talking about problem with awx pod not being create.
Ho

[2021-09-21 12:43] mrwiora commented on #554
oh - I didn't thought it's related to the latest version of kubernetes. Thatswhy I was not looking for these tickets. Thanks actually for pointing out - I'll try to either apply the hotfix or to switch back to version 1.21 - THANKS!
ref: https://github.com/ansible/awx-operator/issues/494

[2021-09-21 12:43] #554 closed, assigned to nobody

[2021-09-21 12:57] vrubiolo commented on #533
I am seeing the same issue here too (this is also Fedora 34, using Minikube `1.23.1` and K8s `1.22.1`).
I have redeployed w/ K8S 1.21.3 as a workaround and confirms this works (I can reach the AWX homepage via the Minikube service URL)

[2021-09-21 13:05] slaurencelle commented on #554
Yes i am still waiting for the patch to work because don't want to reinstall everything and be stuck at version 1.21 until the bug is solve.
hope they can solve it this week or i won't have the choice to go back with the old version of kubernetes.

Stephane

[2021-09-21 15:01] marcoatenway commented on #454
This bug is fixed in 0.13.0 using the documented spec.bundle_cacert_secret

Thank you @tchellomello

[2021-09-21 15:01] #454 closed, assigned to tchellomello

[2021-09-21 15:59] slaurencelle opened #558 "awx-pod stuck in pending state"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: 1.21.3
* AWX install method:  using the awx-operator on my kubernetes cluster with docker on linux

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

That everything install and be able to access my new awx service with awx pod running state
##### ACTUAL RESULTS

[2021-09-21 22:29] cnukwas commented on #395
having a similar issue when tried to use NFS share for storing projects and PostgreSQL data. Would like to know what needs to be changed to make this work in OpenShift/Kubernetes environment.

Thanks

[2021-09-21 22:34] cnukwas commented on #383
Any idea if this would be part of a future release, to avoid manual changes to the deployment YAML?
OpenShift wouldn't allow pods to run as root by default, ideal to know or set up SCC as part of the AWX instance or pre-requisite step.

[2021-09-22 00:10] jsalatiel commented on #553
One thing I have noticed is that it works if I use nginx  ingress controller, but always a blank webui when using aws alb as ingress controller. Is there any extra required annotation for running awx behind aws alb?

[2021-09-22 07:52] felipe4334 commented on #395
#413 pr has a fix for this

[2021-09-22 09:16] craph commented on #399
@shanemcd Sorry to answer this very late. Can you reopen this issue please ?

ie : When I deploy AWX it's on a dedicated namespace "awx".

@tchellomello I create the `awx-certificate` in Rancher -> Certificates -> add certificates
I added the domain : awx.10.81.110.118.nip.io and add my certificate.
[code]

Here are the output for the ingress
[code]
[code]

When I inspect the certificate I see :
!

[2021-09-22 10:13] craph commented on #399
I created from scratch a new ingress in rancher with the name : awx-demo3.10.81.110.118.nip.io with the dedicated certificate and I always see : Kubernetes Ingress Controller Fake Certificate

[code]

[2021-09-22 13:52] cnukwas commented on #546
@neilneyman I was going to say check LimitRanges settings, good to know that was the case. I installed 0.12 version of the operator and CRDs in a separate namespace in OpenShift 4.7 cluster and don't see any issues other than having to use dynamic storage for storing PostgreSQL data as we were seeing permission errors with NFS share based PV/PVC.
I noticed that by default WATCH_NAMESPACE value is

[2021-09-22 15:01] ShaLLx64 commented on #533
seems like it wouldn't work for me creating it on K3 under a namespace called awx but it worked when I created it in the default namespace instead.

[2021-09-23 02:11] oliverf1 opened #560 "Redis pod crashloop with a permission error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Redis container crashloop with an error: `chown: changing ownership of '.': Operation not permitted`

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: k3s v1.19.3+k3s3
* AWX install method: operator

##### STEPS TO REPRODUCE

- Deploy a kubernetes cluster and create a PodSecurityPolicy that drops all privileges b

[2021-09-23 03:25] oliverf1 commented on #558
Hello Stephane,

You usually get this error when you try to create pod with a cpu and/or memory reservation but you don't have enough resources.
In your case it's CPU only. You can use the `kubectl describe node` to check your available resources in your cluster.
To solve it, you can either add nodes to your cluster or modify the reservation so that your deployment fits in your cluster.
See https:

[2021-09-23 14:04] kimbernator commented on #540
`ee_resource_requirements` is a variable currently but it only applies to the EE container that runs in the AWX pod constantly. I would also not be against this option in the operator but it is possible to define these limits from within AWX - Under "Instance Groups", select "Default" and then edit it and "customize pod specification". I've got the following in mine for limits and node selection:

[2021-09-23 15:24] toby181 commented on #383
I'm using the postgres and redis image from bitnami as a workaround since they run as non-root.
https://hub.docker.com/r/bitnami/redis/
https://hub.docker.com/r/bitnami/postgresql/

From my awx-demo.yaml file:

spec:
  postgres_image: bitnami/postgresql
\#  postgres_image_version: 12
  redis_image: bitnami/redis
\#  redis_image_version: latest

[2021-09-23 16:57] slaurencelle commented on #558
Hello Olivie,

tks for the solution, yes it did work but now i am not able to access the awx web console from outside or inside the cluster even if i am in nodeport configuration.

Will work to solve this now.

Stephane

[2021-09-23 18:29] slaurencelle opened #561 "unable to reach awx web gui after being able to deploy awx opearator and awx database + apps"
Hello,

i was able to manager with help of the community here to deploy my awx operator and awx apps.

but now i am unable to reach the awx web gui, i have define the service_type has nodeport for the moment to be able to reach it outside of the kubernetes cluster. When this part will work i will change the access with an ingress.

Do you have any idea what could cause my issue ?
I have been worki

[2021-09-23 20:00] beenje commented on #540
I didn't think about that. Thanks!

[2021-09-24 07:37] Helios-23 commented on #347
getting the following error:
log: true' was specified for this result\", \"changed\": false}\nok: [localhost] => (item=None) => {\"censored\": \"the output has been hidden due to the fact that 'no_log: true' was specified for this result\", \"changed\": false}\nfailed: [localhost] (item=None) => {\"censored\": \"the output has been hidden due to the fact that 'no_log: true' was specified for this

[2021-09-24 09:53] mick1627 opened #562 "[RFE] Add node_selector, tolerations setting for automation-job-X pods created by AWX"
##### ISSUE TYPE
We have node_selector, tolerations settings for the AWX pods but this setting are not applied for pods automation-job-X  created by AWX.

##### SUMMARY
Be able to set  node_selector,  tolerations for pods  automation-job-X pods created by AWX

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: v1.20.9-gke.300

[2021-09-24 17:03] chrismeyersfsu commented on #511
We think we've fixed this in devel but have yet to release a new version of the operator. @slaurencelle could you see if devel fixes this for you?

[2021-09-24 17:16] shanemcd commented on #516
Should have been addressed in https://github.com/ansible/awx-operator/pull/541, which will go out in the next release of the operator sometime within the next week or so.

[2021-09-24 17:33] chrismeyersfsu commented on #518
@GeneralFox Can you try adding your kerberos configuration as a volume mount on the `podspec_override` field on the default container group? You can do this through the UI.

![image](https://user-images.githubusercontent.com/722880/134717082-473edba3-3931-4880-b294-820bf9438b99.png)

[2021-09-24 17:38] chrismeyersfsu commented on #524
@yuval-g you've found a less than ideal user experience. We should instead use one of our existing containers to do this init work. https://github.com/ansible/awx-operator/blob/302957e5095429bcf0c84bb3b4726fd292f99da0/roles/installer/defaults/main.yml#L115

[2021-09-24 17:59] chrismeyersfsu commented on #525
@siju-vasudevan could you test if quoting the value below results in it working?
[code]

Otherwise, LDAP can be configured via the AWX API/UI post deploy.

[2021-09-26 08:24] hungtran84 commented on #509
Thank you, it works for string. Do you how to make it work with list of strings like below:
[code]

Turn into
[code]

How can i protect the double quotes?

Thanks

[2021-09-26 08:57] locmai commented on #509
@hungtran84 have you tried to escape the "?:

[code]

[2021-09-26 21:57] jsalatiel opened #563 "[Feature Request ] Add support for custom pod labels"
We have several global network policies based on labels, currently the only way that I can make the awx accessible is edit the awx deployment after being created by the operator and set the correct label for allows access. Would it be possible to set the awx pod label directly on the operator ?

This request is similar to the https://github.com/ansible/awx-operator/issues/269 , but that one is abo

[2021-09-27 13:39] craph commented on #557
@shanemcd @wenottingham @tchellomello  If I'm right would you like I open a PR for this ?

Thank you.
Best regards,

[2021-09-27 17:29] MateuszKuchniak-TomTom opened #564 "Postgres version 12 is required when updating from 0.10.0 to 0.11.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I am using external managed Postgres 10 db and trying to update  operator from 0.10.0 to 0.11.0 and AWX to image_version: 19.2.1 I get following message from the AWX pod, container awx-task ( check logs bellow )

Is it really necessary to update Postgres to version 12 when updating operator to 0.11.0 and AWX to 19.2.1?

##### ENVIRONMENT
* AWX version:

[2021-09-27 19:11] eherce opened #565 "Backup role failing if awx_postgres_pass contains exclamation mark"
Hi all,

I believe there's an issue with the backup role of awx-operator (maybe extended to the restore role as well) when awx_postgres_pass contains an exclamation mark

The solution seems to be pretty easy on file roles/backuptasks/postgres.yml, task "Write pg_dump to backup on PVC", which is using single quotes on PGPASSWORD:
PGPASSWORD='{{ awx_postgres_pass }}' {{ pgdump }} > {{ backup_dir }}/

[2021-09-27 19:32] cnukwas commented on #518
@GeneralFox , I am getting following error even with the domain added to the user name defined for the credential.
I do see that kinit command works from the task terminal when tested manually, so not sure what the issue is.

Error:
fatal: [windows_server_name.org.com]: UNREACHABLE! => {
    "changed": false,
    "msg": "Kerberos auth failure for principal windo...@CORP.ORG.COM with pexpect: KDC h

[2021-09-28 05:00] abj03 opened #566 "Backup Role on Operator 0.13.0 does not create secrets.yml, where it does on 0.12.0. Causing Restores to fail."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running the Backup Role on AWX Operator 0.13.0 it is not creating the secrets.yml in the PVC. When using AWX Operator 0.12.0  it does. This causes restores to fail.

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version:  1.22
* AWX install method: minikube on RHEL 8 with external postgres DB.

##### STEPS TO REPR

[2021-09-28 05:07] hungtran84 commented on #525
@chrismeyersfsu  I tried it and experienced the same issue. Anyway, LDAP should be bootstrapped with awx cluster to make it declarative way (similar to the deprecated awx helm). Using api post deploy is imperative and not visible as code.

[2021-09-28 14:25] cnukwas commented on #518
@chrismeyersfsu , is there a reason to add it here since krb5.conf is already added as ConfigMap for the task container?

[2021-09-28 14:32] bartowl opened #568 "Operator 0.13.0 fails new installation with 'relation "conf_setting" does not exist at character 158' GUI reports 502 error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
As already reported by someone at the end of https://github.com/ansible/awx/issues/1618
The installation goes smooth, but postgresql initialisation fails with following error:

2021-09-28 14:14:31.589 UTC [1] LOG:  database system is ready to accept connections
2021-09-28 14:14:51.042 UTC [84] ERROR:  relation "conf_setting" does not exist at character

[2021-09-28 22:10] shanemcd commented on #130
This is being done in https://github.com/ansible/awx-operator/pull/569

[2021-09-28 22:12] shanemcd commented on #511
Seems like I gave @chrismeyersfsu some bad information here and we had not done this yet. Will be resolved with #569.

[2021-09-28 22:13] shanemcd commented on #533
Will be fixed in #569

[2021-09-29 07:01] arunsoman12345 opened #570 "Unable to configure loadbalancer"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: X.Y.Z
* Operator version: 1.3.0
* Kubernetes version: 1.2.0 eks
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ADDITIONAL INFORMATION

##### AWX-OPERATOR LOGS

[2021-09-29 08:08] marekzebro opened #571 "Installation fails when PodSecurityPolicy applied with readOnlyRootFilesystem set to true"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Operator and AWX Installation fails, when pod security policy is applied prohibiting pods running as root user, and write access to filesystem.

[code]

##### ENVIRONMENT
* AWX version: 19.3.0
* Operator version: 0.13.0
* Kubernetes version: v1.21.2
* AWX install method: minikube on linux

##### STEPS TO REPRODUCE

Apply PSP policy to the cluster and f