[2020-06-09 21:07] geerlingguy opened #2 "Update AWX to 12.0.0, unify AWX images"
See: https://groups.google.com/forum/#!topic/awx-project/rxUjrWsfO9A

This is a major new release of AWX, and the images for the web/task containers are now unified (like in Tower downstream). There might need to be one or two other small changes, not sure, but the main one is the new image source/structure.

[2020-06-09 21:26] ryanpetrello commented on #2
@geerlingguy I imagine you can also lose a bunch of memcached-specific bits, because that's entirely gone as a dependency now, too.

[2020-06-09 21:36] geerlingguy commented on #2
@ryanpetrello - Ah yes... that too. Though is Tower 3.7 still using it? If so we'll have to put it behind a switch.

[2020-06-09 23:21] ryanpetrello commented on #2
Right, all of the above *only* applies to Tower > 3.7.

[2020-06-18 16:22] tima opened #3 "Switch to using k8s_exec module instead of shell module + kubectl"
Filing this issue to keep tabs on [this issue](https://github.com/geerlingguy/tower-operator/issues/8). The use of `shell` when a module exists makes me sad.

[2020-07-02 14:50] tylerauerbeck opened #5 "Single Tower Deployment vs Deployment Per Component"
In the latest release of the operator, it looks like the deployment has gone from each components having its own deployment (task, web, etc.) to all containers being inside a single pod. Was there a technical reason behind this? Seems like this would cause issues if you wanted things to scale independently of each other moving forward (i.e. only scale web due to increased traffic, etc.)

[2020-07-02 14:51] tylerauerbeck opened #6 "Is this operator only supporting AWX"
With the move of this operator, is this only looking to target AWX? Or will this continue to support Ansible Tower as well?

[2020-07-02 14:55] geerlingguy commented on #5
cc @matburt — I know we discussed the reasons for everything being in the same pod and mounting sockets instead of using TCP connections; you may be better at explaining the architecture than I am.

[2020-07-11 00:26] mamercad opened #7 "Operator image not published?"
I don't see the ansible/tower-operator image published on Docker Hub.

https://github.com/ansible/awx-operator/blob/90fa14345355614043da4f9c87a6a7ac778f8774/build/chain-operator-files.yml#L9

[2020-07-11 01:15] geerlingguy commented on #7
It looks like @matburt just published a new operator image at `ansible/awx-operator` (https://hub.docker.com/r/ansible/awx-operator) a few hours ago. The old image should still be there maybe for some amount of time just so that people with existing installs don't get image pull errors though... otherwise the operator will break for any existing installs.

The new code of this operator is here: ht

[2020-07-11 01:23] geerlingguy commented on #3
Since the `k8s_exec` module is now part of the `community.kubernetes` collection (which, I believe, is installed with Operator SDK when using an Ansible operator), we should be able to call it from the role.

We would just need to switch each of the tasks in the role's `main.yml` to use `k8s_exec` instead of `shell` + `kubectl` wherever that usage exists.

This was not easy to do initially because

[2020-07-11 04:30] Mercwri opened #8 "awx-operator cannot deploy instances of awx"
Following the default example given awx-operator fails to create the deployments. The following error is given.

`{
  "level": "error",
  "ts": 1594441722.4744725,
  "logger": "cmd",
  "msg": "Proxy or operator exited with error.",
  "Namespace": "",
  "error": "no matches for kind \"AWX\" in version \"awx.ansible.com/v1beta1\"",
  "stacktrace": "github.com/go-logr/zapr.(*zapLogger).Error\n\tpkg/m

[2020-07-11 04:39] geerlingguy commented on #8
Related: https://github.com/ansible/awx-operator/issues/7

I think this PR will need to be merged and a new operator image will need to be built (like 0.5.0) so the new image deals with the new default CRD parameters.

[2020-07-13 08:59] nicolaibaralmueller opened #9 "enable https"
How is https configured with the awx-operator?

[2020-07-14 20:31] jcomito commented on #7
@geerlingguy Hi Sir! Appears that there isn't the new ansible/awx-operator or ansible/tower-operator images published on DockerHub. I'm getting image pull errors for both. Not able to build the old or (this) new project. Looking forward to this!!

[2020-07-19 15:28] mamercad commented on #7
[code]

[2020-07-19 15:28] #7 closed, assigned to nobody

[2020-07-19 17:00] tylerauerbeck commented on #6
@matburt @geerlingguy Anyway to get some clarification on this?

[2020-07-19 18:20] tylerauerbeck opened #11 "Ability to use external postgres database"
In some use cases, Id like to only run Tower/AWX inside the cluster, but rely on an external set of postgres databases that I'm already operating. As part of the operator, I'd like to be able to point to this database instead of spinning one up in the cluster.

[2020-07-19 18:22] tylerauerbeck opened #12 "Avoid creating service account in default namespace"
Currently the service account for the operator is created in the `default` namespace by default. This should be corrected so that it is created/deployed into the same namespace that the operator is deployed to.

[2020-07-19 18:26] tylerauerbeck opened #13 "Add support for authentication configuration via CR"
It would be nice to be able to configure your authentication system of choice via the tower/awx custom resource. This could look something like:

[code]

[2020-07-19 18:30] tylerauerbeck opened #14 "Add ability to specify Tower license as part of deployment"
Right now, the operator spins up Tower but still has a manual process to supply an appropriate license. It would be great to be able to be able to declaratively supply the license via the existing CR or additional CR's with this operator.

This could then be a good model for other awx/tower components to be supplied declaratively as part of your deployment (inventories, credentials, etc.)

[2020-07-19 18:32] tylerauerbeck opened #15 "Create a contributors guide"
Would be good to have a contributors guide so that folks could understand what kind of guidelines there are for getting involved here.

[2020-07-19 18:33] tylerauerbeck opened #16 "AWX/Tower Clustering"
It would be nice to be able to run a clustered set of AWX / Towers as part of this operator as mentioned here: https://docs.ansible.com/ansible-tower/latest/html/administration/clustering.html.

[2020-07-20 16:53] jcomito commented on #8
Able to pull ansible/awx-operator:0.4.0 again now, but my containers are crashing with the same types of errors:

"Proxy or operator exited with error.", "Namespace": "", "error": "no matches for kind \"AWX\" in version \"awx.ansible.com/v1beta1\"

Docker version: 19.03.8
Kubectl version: 1.18.2

[2020-07-24 01:11] jconallen commented on #8
getting the same error.  when will 0.5.0 be available?

[2020-08-21 13:41] matburt commented on #8
This should be fixed up since my large refactoring/reworking PR merged a few days ago.

[2020-08-21 13:41] #8 closed, assigned to nobody

[2020-08-21 13:45] matburt commented on #16
You can actually do that by adjusting the replica count in your CR

https://github.com/ansible/awx-operator/blob/devel/roles/awx/templates/tower.yaml.j2#L22

Which we should, admittedly, document better if it's not already in the README or example CR.

[2020-08-21 13:45] #16 closed, assigned to nobody

[2020-08-21 13:47] matburt commented on #13
I agree with this, likely better to have this defined as a secret that you can supply to the cluster in order to keep secret bits of this out of the CR itself.

[2020-08-21 13:49] matburt commented on #12
Well, right now we deploy *everything* related to the operator in the default namespace... I'd love to not be strictly opinionated about this but for some reason the role binding *does* have to be in a namespace:

https://github.com/ansible/awx-operator/blob/devel/deploy/role_binding.yaml#L9

I'm not entirely sure how to resolve this. This whole operator needs to be updated for the new SDK so that

[2020-08-21 13:50] tylerauerbeck commented on #13
Agreed. I was thinking something along the lines of non-sensitive information being provided in the CR and then any necessary crednetials being stored in a secret, with the CR just pointing to the secret that should be used.

[2020-08-21 13:53] tylerauerbeck commented on #12
Agreed. I think some of this will be able to be handled with some of those changes/ OLM in the future.

For those that don't necessarily want to rely on OLM though, I had written a kustomize implementation that would allow folks to use the repo as a remote base and specify the namespace there. PR from old repo here: https://github.com/geerlingguy/tower-operator/pull/41/files

[2020-08-21 13:56] matburt commented on #11
This is supported now and the details are outlined in the CRD

https://github.com/ansible/awx-operator/blob/devel/deploy/crds/awx_v1beta1_crd.yaml#L32

[2020-08-21 13:56] #11 closed, assigned to nobody

[2020-08-21 13:57] matburt commented on #6
For the moment yes, I cover this in this PR:

https://github.com/ansible/awx-operator/pull/4#issuecomment-654565855

The plan for Tower is to find a way to stabilize the CRDs and move them under the OLM. The typical pattern for these operators is to maintain them seperately.

[2020-08-21 13:57] #6 closed, assigned to nobody

[2020-08-21 14:01] matburt commented on #13
Yep, I just went through this with the postgres configuration and secret key... it wouldn't be a big jump to get to that point with this.

[2020-08-21 17:57] matburt commented on #2
We're up to 14 at this point.

[2020-08-21 17:57] #2 closed, assigned to nobody

[2020-08-21 17:58] matburt commented on #5
On the Tower/AWX side we actually don't support that at the moment because some of the components just aren't engineered to do that. This change brings this deployment in line with our current official deployment.

Parts of this system are getting rearchitected in the future but for the moment, I want to re-use the system that we already have in the existing Tower and AWX installers.

[2020-08-21 17:58] #5 closed, assigned to nobody

[2020-08-21 18:00] matburt commented on #9
If you are on OCP then the route handles https and ssl termination. On the ingress controller side you'll need to figure that out some other way I reckon.

[2020-08-21 18:00] #9 closed, assigned to nobody

[2020-08-22 15:23] jcomito commented on #11
Can I be a bother and get some more specifics on how to set this up during installation? Do I just add those parameters to my my-awx.yml file and apply it?

[2020-08-24 11:28] matburt commented on #11
You can find the instructions alongside the CRD's external database setting: https://github.com/ansible/awx-operator/blob/devel/deploy/crds/awx_v1beta1_crd.yaml#L32

Set this  value to true in your CR and then create a secret containing the required information.

[2020-09-01 16:43] snooyen opened #21 "Add ability to create AWX objects via CRDs"
The operator would truly be beneficial for users if they could configure projects, job templates, workflows, etc... via K8s CRDs.

[2020-09-02 13:27] matburt commented on #21
Indeed, and we're experimenting with that kind of thing here: https://github.com/ansible/awx-resource-operator

[2020-09-02 13:27] #21 closed, assigned to nobody

[2020-09-09 11:31] neilcameronwhite opened #22 "Incorrect Type for Boolean"
In https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml
Line: 175
Type should be "boolean" and not "bool"

Else you get the error

[code]

[2020-09-11 20:46] frenchtoasters opened #24 "VMware inventory specifies unknown plugin 'community.vmware.vmware_vm_inventory'"
Issue: I am trying to use the VMware inventory plugin `vmware_vm_inventory.py` however when running the sync job for it I am getting the following error:
[code]

Image: awx:14.1.0
Source Variables:
[code]

Full output of debug:
[code]

I have validated that the script is on the box and located here(with `permission denied` messages removed for clarity):

[code]

[2020-09-14 19:40] matburt commented on #24
Recommend hopping over to the main awx repo or mailing list/irc channel and looking for help there.

[2020-09-14 19:40] #24 closed, assigned to nobody

[2020-09-16 23:01] deeco opened #25 "Allow Nodeport as Ingress"
Is it possible to use Nodeport as option to connect to AWX web frontend as per ingress options https://github.com/ansible/awx-operator#ingress-types

[2020-09-16 23:11] deeco commented on #25
# AWX Service.
{% if 'cluster' == tower_service_type|lower %}
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ meta.name }}-service'
  namespace: '{{ meta.namespace }}'
  labels:
    app: awx
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8052
    name: http
  selector:
    app: awx
{% endif %}

{% if 'node' == tower_service_type|lower %}
---
apiVersion: v1
kind: Service
metad

[2020-09-17 00:09] deeco commented on #25
am able to patch with `kubectl patch svc awx-service -n ansible-awx -p '{"spec": {"type": "NodePort"}}'`

[2020-09-25 17:43] dericcrago opened #30 "Add support for Pulling an Image from a Private Registry"
It would be nice to be able to use images from private registries, perhaps something like:

[code]

I already started a [branch](https://github.com/ansible/awx-operator/compare/devel...dericcrago:image_pull_secret) that I think might work if this is something worth considering.

[2020-09-27 11:05] wep4you opened #31 "Add ARM Support to the Operator"
Because of the switch from apple to ARM and also the new Raspberry Pi 4 with 8GB of ram, it would be nice to also have a multi arch image for the operator, that it could be deployed for example on a K3S Raspberry-PI Cluster.

[2020-09-27 23:00] wep4you commented on #31
Started a fork https://github.com/wep4you/awx-operator with build for different architectures is already up and running, but the operator is not running on arm64 have to have a deeper look into the container. Muliarch dockerfiles for other platforms are available on docker-hub, haven't tested them https://hub.docker.com/r/wep4you/awx-operator

[2020-09-28 22:35] wep4you commented on #31
Managed to get the operator with an own build multiarch kubectl both in the latest in the latest version to run on arm64. Now im stuck with some of the images from awx which get started from the operator. Try to get this running

[2020-10-06 14:26] frenchtoasters opened #35 "Operator unable to read kube-system pods"
Version: Latest(0.5.0)

Issue:
The latest commit here, https://github.com/ansible/awx-operator/commit/bd443e33ab92dd5307f34d8efe240db7cdb154ea breaks the operator with the following message:
[code]

Expected Behavior: Operator starts and is working

FIX:
Revert to re-add `default` as the namespace for the `ServiceAccount` and `Deployment`, this could be changed to a different namespace than `defau

[2020-10-06 15:03] frenchtoasters opened #36 "Ansible Collections path still not set ALL Inventory plugins broken"
Version: 0.5.0
Issue:
The `AWX_ANSIBLE_COLLECTIONS_PATHS = '/var/lib/awx/vendor/awx_ansible_collections'` is not being set still in the lastest version of the operator. Without this it is not possible to use the VMware inventory plugin.

FIX:
Ensure that the latest version that is built picks up the changes to the https://github.com/ansible/awx-operator/blob/devel/roles/awx/templates/tower_config.

[2020-10-07 14:28] jcomito opened #38 "how to best manage custom python dependencies when using the awx-operator?"
What is the recommenced approach to adding custom modules (ex, PyWinRM) or making other needed changes in the containers without modifying the image itself?

[2020-10-11 17:49] #3 closed, assigned to nobody

[2020-10-11 21:03] #22 closed, assigned to nobody

[2020-10-11 21:05] shanemcd commented on #14
This will come with a downstream operator sometime next year. Not going to track this upstream.

[2020-10-11 21:05] #14 closed, assigned to nobody

[2020-10-12 14:31] #35 closed, assigned to nobody

[2020-10-13 16:46] jconallen opened #44 "Installing operator: `selector` does not match template `labels`"
Brand new openshift cluster, run the command:

`kubectl apply -f https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml`

and get the following output:

[code]

[2020-10-14 13:58] Mercwri commented on #44
My PR should resolve that https://github.com/ansible/awx-operator/pull/45

[2020-10-15 01:08] frenchtoasters commented on #24
@matburt well the fix should already be in the latest branch it just doesnt seem to have made it to the latest image yet. I guess that isnt very clear in the issue. Fix was merged here https://github.com/ansible/awx-operator/pull/27

[2020-10-22 19:22] kylecurtis-od opened #46 "Persistent Volumes for projects folder"
If you are trying to use a persistent volume on kubernetes, and then mount it to /var/lib/awx/projects, it is a requirement to mount it to both the awx web and task containers. can we update the docs to reflect this?

[2020-10-26 11:25] ghost opened #47 "Issues deploying to Kubernetes version 1.19.2"
Im getting this error when running apply as readme suggests.
[code]
i know about the pgo error, so just ignore it for the sense of this ticket.

After changed v1beta1 to v1, i got this error since they are not compatible.

[code]

I guess it will be updated when refactor to the new sdk as i have read in other tickets, so this ticket is just to leave the error here.

[2020-10-26 14:55] fr33f411 opened #48 "External DB issue: migrations not running"
Hello, guys!

I tried to run AWX Operator in K8s with external DB but I got an error on a step "Create preload data if necessary"

Logs from operator pod, ansible container:

https://dpaste.org/gZz7

Logs from ansible pod, aawx-task container:

https://dpaste.org/SJrp

What this error stands for and how can I fix it?

Thanks in advance!

[2020-10-26 15:50] shanemcd commented on #48
Strange. I noticed:

[code]

Implies that migrations didnt run / didnt finish. Can you grab the operator logs a little further up? These tasks:

https://github.com/ansible/awx-operator/blob/f4b619a185ac0cb5736b229c61e56ed91237d16a/roles/awx/tasks/main.yml#L91-L114

[2020-10-26 15:53] shanemcd commented on #48
Actually it seems like the logic there might not be sufficient. I see now that check is only looking for the presence of a specific db table.

As a workaround, you can try exec'ing into the task container and running `awx-manage migrate --noinput`.

I'll leave this issue open until we identify and implement a proper solution.

[2020-10-26 17:30] fr33f411 commented on #48
Sure, here they are https://dpaste.org/aFKm.

But I want to notice that it is not a migration. I setup a new instance with external DB.

[2020-10-26 17:33] fr33f411 commented on #48
https://dpaste.org/oLCW

[2020-10-26 17:45] fr33f411 commented on #48
And its working now :) you save my day, thanks a lot. But what was the problem?

[2020-10-27 14:02] fr33f411 commented on #13
Hi everyone! Any news on this subj? It would be really handy if we can template authentication configuration.

[2020-10-28 02:50] yohanb commented on #9
Leaving this here if ever you want to setup TLS on your ingress in k8s:

1. First you need to make sure your ingress type is set to none in your awx resource:
[code]
2. (optional) If your tls certificate secret resides in a different namespace, create an `ExternalName` service to proxy the requests between namespaces (external name is the FQDN of the awx service):
[code]
3. Create the ingress ress

[2020-10-28 07:20] nicolaibaralmueller commented on #9
Thanks so much. How do you add a certificate though?

[2020-10-28 14:15] yohanb commented on #9
@nicolaibaralmueller https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

[2020-10-28 17:10] frenchtoasters commented on #36
I have tested out the latest build of the operator 0.5.0 and this path is still not being added to the `awx-settings` configmap that is generated. The path is already on the devel branch and the operator container just needs to be rebuilt to reflect the change in this template file https://github.com/ansible/awx-operator/blob/devel/roles/awx/templates/tower_config.yaml.j2

[2020-10-28 17:29] howardjones opened #49 "Ingress annotations/tls?"
What is the intended flow for an Ingress with an awx instance created by awx-operator?

For the Ingress to be useful, my ingress controller (Azure App Gateway, but I think others are similar) requires specific annotations for it to pick up the newly created service, and then cert-manager also looks for tls config inside the Ingress.

I can add those after the install, but will they "stick"? Is tha

[2020-10-28 17:47] shanemcd commented on #49
Can you take a look at this code and let me know if this variable does what you want? https://github.com/ansible/awx-operator/blob/f4b619a185ac0cb5736b229c61e56ed91237d16a/roles/awx/templates/tower.yaml.j2#L264-L267

[2020-10-28 17:48] shanemcd commented on #49
Usage: https://github.com/ansible/awx-operator/blob/f4b619a185ac0cb5736b229c61e56ed91237d16a/roles/awx/defaults/main.yml#L5-L9

[2020-10-28 17:58] howardjones commented on #49
I was looking at the ansible playbooks just now, and saw that in the template. It doesn't seem to appear in my Ingress if I use it though, so I was trying to figure out which git revision `awx-operator:0.5` would have come from, to see if I need to build my own.

The end of my `kind: AWX` spec is:

[code]

but my Ingress ends up with no annotations (and no TLS config).

[2020-10-28 18:12] howardjones commented on #49
And that would be it. The 0.5.0 image that is on dockerhub, and referred to by the install instructions doesn't include that. It'd be really cool if there were git tags for the images.

I'll build my own image for now. Thanks!

[2020-10-28 18:26] howardjones commented on #49
Hmmm, except that the build instructions don't seem to match up with current `operator-sdk`. Seems like it is expecting to generate a makefile?

[code]

[2020-10-28 22:55] thedavidwhiteside commented on #36
I ran into this same issue.  Rebuilt the container from source and it resolved the issue.  It would be nice if there was a release that fixed this as it is a major blocker for using awx.

[2020-10-29 13:40] kylecurtis-od opened #50 "unknown field errors applying my-awx.yml"
It appears as though trying to apply a basic file, generates errors about unknown fields.

error: error validating "my-awx.yaml": error validating data: [ValidationError(AWX.spec): unknown field "tower_admin_email" in com.ansible.awx.v1beta1.AWX.spec, ValidationError(AWX.spec): unknown field "tower_admin_password" in com.ansible.awx.v1beta1.AWX.spec, ValidationError(AWX.spec): unknown field "tower

[2020-10-29 19:15] shanemcd commented on #49
I dont think we are ready to update to operator-sdk 1.0+. Can you try downloading the latest 0.x release?

[2020-10-29 19:15] shanemcd commented on #50
Can you post the contents of `my-awx.yaml`?

[2020-10-29 19:37] kylecurtis-od commented on #50
[code]

[2020-10-29 20:32] howardjones commented on #49
Excellent! That builds, and I get my Ingress configured as expected. Thanks! I find this much nicer to deal with than the ansible installer that comes with awx (and faster).

[2020-10-29 20:59] frenchtoasters commented on #36
Ya i know that I could build my own image with it however id rather not do that and have to migrate back to main image later on. This is a simple rebuild of the image and it was already in the repo before 0.5.0 was released. So not sure if RedHat/Ansible has plans too keep the fix out of the project cause they want us to pay for Tower or it was just missed in the update of the image to 0.5.0 cause

[2020-10-31 20:51] thedavidwhiteside commented on #36
I built an image from dev and put it on dockerhub.

docker pull starboarder2001/awx-operator:0.5.1

[2020-11-03 21:23] kylecurtis-od commented on #50
Just curious if anyone has looked at this.  The my-awx.yml example provided is on a real kube environment that is currently at version 1.15.

[2020-11-06 07:17] #48 closed, assigned to nobody

[2020-11-09 01:36] kedark3 commented on #15
There already exists a https://github.com/ansible/awx-operator#development section maybe that's a good start. But sure, I'd love to see a contributors guide as well. In addition to that, if there are any items on the ROADMAP, any enhancements that are desired/planned where external contributors can help, would be awesome addition to the README.

[2020-11-10 11:50] golgotow commented on #8
is anything how to fix this issue ?

operator pod ends with logs like below

{"level":"error","ts":1605008744.4674327,"logger":"controller-runtime.source","msg":"if kind is a CRD, it should be installed before calling Start","kind":"AWX.awx.ansible.com","error":"no matches for kind \"AWX\" in version \"awx.ansible.com/v1beta1\"","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\tpkg/mod/g

[2020-11-10 16:35] afritzler opened #52 "Helm Chart for AWX Operator"
Hi,

is there already a helm chart available for the AWX operator?

Regards,
Andreas

[2020-11-10 16:37] shanemcd commented on #52
Hello. No, there isnt.

[2020-11-11 11:01] howardjones commented on #52
I have one. I will try to figure out if/how I could share it. It's not complicated! (1 CRD, 4 templates)

[2020-11-11 11:21] howardjones opened #53 "awx deploys but never creates user"
awx operator from git (f4b619a185ac0cb5736b229c61e56ed91237d16a)
awx 15.0.1
kubernetes 1.18.8 (AKS)

If I create an awxs resource, the operator does create the postgres database and awx pod, but the task container doesn't seem to seed the database (even after allowing several hours, I still get errors like:

[code]

if I shell into the task container, and manually run migrate, it says there are no

[2020-11-11 12:04] howardjones commented on #53
One thing I have noticed is that the task container comes up before the database. Is the startup script smart enough to wait?

[code]

[2020-11-12 09:24] howardjones commented on #53
Understanding a bit more now about the order of things, I can see that actually the database does get created by the operator, but that at the end of the process, the auth_user table is empty. I am defining tower_admin_user and tower_admin_password in my awx object.

[2020-11-12 09:30] howardjones commented on #53
The only mention of tower_admin_user I can find is in roles/tasks/initialize.yml which looks like it _used_ to be included from main.yml, but isn't anymore since this "lint cleanup": https://github.com/ansible/awx-operator/commit/267741550f3de75a576b7feced0b7b8abf660a93

[2020-11-12 12:48] howardjones commented on #53
After uncommenting the include line again, I get a user! But only sometimes. It seems that the operator doesn't actually wait or check if the database is available before trying to run the migrations:
[code]

[2020-11-16 17:20] frenchtoasters commented on #36
After some additional testing I have found that this issue _also_ effects _ALL_ collections and not just VMware. In testing the openstack inventory I received the same error just with the openstack plugin as the missing plugin. The fix for this is already on master we just need the images updated to actually pull in the changes made to this template, https://github.com/ansible/awx-operator/blob/de

[2020-11-18 17:46] howardjones commented on #53
To make sure that postgres had actually started up, I added an addtional task to the `role/awx-operator/main.yml` near the end, before "Check if database is populated":

[code]

[2020-11-20 14:57] metabsd opened #54 "custom env"
There a way to create custom env like describe here --> https://github.com/ansible/awx/blob/devel/docs/custom_virtualenvs.md#kubernetes-custom-virtualenvs

Thx a lot

[2020-11-20 15:06] shanemcd commented on #54
Negative. That feature is actually going away sometime before this operator GAs. More info here: https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/eYqt8BmxAgAJ

[2020-11-20 15:06] #54 closed, assigned to nobody

[2020-11-20 15:15] fr33f411 opened #55 "uWSGI Harakiri troubleshooting"
Hello Ansible Team!

I use Ansible AWX operator ~1 month and recently I started to get errors with Microsoft oauth (it worked fine before).
When backend receives MS oauth ticket it goes down and I don't know why and how to fix it.

Log example:

[code]

Could you give me any help/advice how to resolve this?

Thanks in advance!

With best regards,
Andrey

[2020-11-22 15:51] kylecurtis-od commented on #50
switched to using eks on aws, which is kubernetes 1.17 currently, and there are no issues doing an apply of the yaml.

[2020-11-22 15:51] #50 closed, assigned to nobody

[2020-11-27 16:19] kenichimilo opened #56 "Operator User and namespace"
Hi,
After trying to test the operator OOTB, i landed into two issues :-
- Namespace that will house awx not available , which is documented, though as there is a service account with cluster credentials wouldn't it be better to check if the namespace exists and if not create it ..
- The operator is looking to run as a certain user..
KeyError: 'getpwuid():
muddled over this for a while and the only

[2020-12-05 17:37] #44 closed, assigned to nobody

[2020-12-08 15:13] metabsd opened #58 "Question: PostgreSQL HA"
Hello, First of all thank you very much for your contribution to an operator for AWX :) I love this project. Now I would like to know if it is possible to deploy postgresql in HA on 2 or ++ node K8s. As proposed by this helm chart provided by bitnami.

https://github.com/bitnami/charts/tree/master/bitnami/postgresql-ha

I know I could use an external DB and use this chart to do PostgreSQL deployme

[2020-12-10 19:49] u849296 opened #59 "Using new Container Instance fails to deploy from template"
After creating a Container Instance and giving OCP credentials then using a template that calls this Instance the Pod never starts up and the awx-task log show the following error:

2020-12-10 19:43:21,612 DEBUG    awx.main.dispatch task 75f3a246-7e1f-4944-b162-920ea6ffcaeb starting awx.main.tasks.awx_periodic_scheduler(*[])
2020-12-10 19:43:21,621 DEBUG    awx.main.tasks Starting periodic schedul

[2020-12-15 13:08] #58 closed, assigned to nobody

[2020-12-17 01:14] metabsd commented on #59
I have a similar problem. I successfully deploy it on a MicroK8s but when I try it in Openshift 4.5.22 it's not working.

I try it by using the PostgreSQL included with the operator and I also try to use external db with Binami helm chart stable postgresql.

In both way I got the same problem.

PostgreSQL with Bitnami
[code]

AWX
[code]

I also try with all deploy by the operator
[code]

I experie

[2020-12-17 01:21] metabsd commented on #59
I believe that the problem is at the PostgreSQL level because after a few minutes everything started working with the Bitnami setup.

@u849296 Can you try and share your result please :)

[2020-12-29 16:04] mamercad commented on #12
I've had success putting everything under its own namespace (`awx` in my case):

[code]

[2020-12-29 16:57] metabsd commented on #12
@mamercad Can you share the yaml file please :)

[2020-12-29 17:09] mamercad commented on #12
Sure, this is what I've been WIP'ing this morning, caveat emptor: https://github.com/mamercad/do-awx-ops/blob/dev/ansible/roles/kubernetes/tasks/awx-operator.yml

[2020-12-29 17:17] metabsd commented on #12
So in short you change default namespace with a variable. You also enforce the namespace.

[2020-12-29 17:21] metabsd commented on #12
To be able to use kubectl the file will be like this one. `https://raw.githubusercontent.com/metabsd/awx-operator/devel/deploy/awx-operator.yaml`

I choose `tower-awx` as the namespace.

[2020-12-29 18:11] mamercad commented on #12
Right, I manually pulled things from that manifest into my role (with the addition of my namespace directives).

[2021-01-12 18:04] barryCrunch opened #63 "Add Custom Virtual Environment Support"
_Not sure if support for this already exists._

Add support for custom virtual environments much the same way the installer in the awx repo does. Create an init container that would build the venv's and then mount the volume to the awx_task and awx_web containers.

[2021-01-16 20:22] bryangruneberg commented on #59
Another example from the field - I've got the same situation using the operator on Digital Ocean K8S

[2021-01-16 20:41] bryangruneberg commented on #59
I think its related to this issue: https://github.com/ansible/awx/issues/1618

[2021-01-29 05:40] #55 closed, assigned to nobody

[2021-01-31 22:35] metabsd commented on #63
I ask this couple week ago.

#54

[2021-02-01 11:35] jglapa opened #75 "Failed to pull image Failed to pull image "quay.io/ansible/awx-operator:0.6.0""
Hi,
I'm trying to get awx running with minikube but after kubectl apply I see the error form the subject.
Do I have to authorize something so it gets access to quay.io?

[2021-02-01 11:40] jglapa commented on #75
Sorry, closing I rushed to quickly with the issue.
It appears my minikube does not have internet access.

[2021-02-01 11:40] #75 closed, assigned to nobody

[2021-02-04 13:10] aporwal3 opened #77 "Provisioning Callback doesnt work when it is pointed to the ingress"
**ISSUE TYPE**
Bug Report

**SUMMARY**
Provisioning callback url is not working as it is pointed to ingress and converting the ip address of the EC2 instances (from where the request is fired) to the ip of worker node of EKS cluster.

**ENVIRONMENT**
AWX version: 9.0.1
AWX install method: kubernetes
Ansible version: 2.8.5
Operating System: Coreos

**STEPS TO REPRODUCE**
curl --data "host_config_ke

[2021-02-04 21:30] thedavidwhiteside opened #78 "upgrade guide"
It would be helpful to have a guide for upgrading the installations after the initial deployment.

[2021-02-12 18:47] metabsd opened #97 "Kubernetes 1.20 --> FailedToUpdateEndpoint"
Kubernetes version : `Server Version: version.Info{Major:"1", Minor:"20+", GitVersion:"v1.20.1-34+e7db93d188d0d1", GitCommit:"e7db93d188d0d12f2fe5336d1b85cdb94cb909d3", GitTreeState:"clean", BuildDate:"2021-01-11T23:50:46Z", GoVersion:"go1.15.6", Compiler:"gc", Platform:"linux/amd64"}`

The ingress is not working properly. Everything else is ok.

![image](https://user-images.githubusercontent.com/

[2021-02-12 20:31] shanemcd commented on #97
Hello. Were you deploying the operator from devel, or did you use a specific tag?

[2021-02-12 20:45] metabsd commented on #97
I used the one in the readme.md and I just see that is the devel. You recommended to use the release ?

[2021-02-13 03:40] metabsd commented on #97
I also try the release 0.6.0 and I have the same problem. If you want me to try couple thing to identify the source of the problem, let me know. Thx in advance for your great work on this Operator.

[2021-02-15 13:05] metabsd commented on #97
I think the problem come from the definition of the service with k8s 1.20. When I use 1.19 everything work fine. I will try to build my own operator and make it work with 1.20.

[2021-02-15 17:59] metabsd commented on #97
Devel also point to release `quay.io/ansible/awx-operator:0.6.0`

[2021-02-15 18:43] metabsd commented on #97
I have redeployed the cluster to K8s 1.19 and everything is fine. The problem is really related to 1.20

[2021-02-17 15:00] kapilkumartrivedi commented on #78
i realized it half way. @thedavidwhiteside were you able to deploy the awx using the operator? i am new and got confused about how the secrets are to be passed...

[2021-02-17 15:57] thedavidwhiteside commented on #78
I was able to deploy using the operator, but ran into issues when I upgraded the AWX version.  Currently just staying on the older version of AWX for now until I have time to work through the issues.

[2021-02-19 09:04] luhahn opened #104 "Current devel version fails at validating"
I had deployed AWX 17.0.1 about 4 days ago with this operator, everything worked like a charm :)

However the current state of develop produces the following error:

error: error validating "/tmp/euwrrk5z": error validating data: [ValidationError(AWX.spec): unknown field "deployment_type" in com.ansible.awx.v1beta1.AWX.spec, ValidationError(AWX.spec): unknown field "tower_admin_password" in com.an

[2021-02-19 11:45] joaogl commented on #104
I have the same, I used the --validate=false to get it up...
If you pay attention not all values are ignored, most of them are, but for example the replicas variable is taken into consideration...

It would be nice to get a reply on this, I was also trying to upgrade mine to awx:17

[2021-02-19 11:46] luhahn commented on #104
Yes I know, the strange part is that everything worked about ~4 Days ago.

[2021-02-19 11:56] joaogl commented on #104
Also, to the collabs on this.. Maybe bumping the versions more often would help :smile:
Right now I believe there's only one version, so even if we wanted to go back and use an old one we can't :face_with_head_bandage:

[2021-02-19 12:55] metabsd commented on #104
Maybe related to that commit ?
https://github.com/ansible/awx-operator/commit/53fd88a4e16ce56d411ca23d61efe38eed233112

That Operator is alpha so this is normal to experience that type of problem.

[2021-02-19 13:22] joaogl commented on #104
Tbh I don't understand much of how this is currently working but looking at it that commit seems to be mostly about resources. Not sure if the resources are working or not but most of the values aren't.

I mean I get it's in alpha :) it's just that more alpha versions would be nicer even for the devs.. I mean being able to backtrack to a specific version to identify an issue... its nice :)

[2021-02-19 15:02] shanemcd commented on #104
Hello all. We are aware of the issue and will open up a PR soon. In the meantime, consider using tagged releases. We are making a lot of changes on devel, so expect things to break if you're tracking that.

[2021-02-19 15:14] joaogl commented on #104
Indeed, my apologies the one in the tag works nicely... thanks using that for now at least

[2021-02-19 15:22] luhahn commented on #104
Okay, weird. I tried again on a fresh cluster. And now the tag 0.6.0 is working. It seems that i got some remnants of devel in my other cluster which caused some weird behavior and caused 0.6.0 to ignore all my values.
That's why i opened up this issue. Because nothing worked anymore

Well 0.6.0 works fine if i delete all remnants from devel :)

Thanks for your good work and sorry for the noise!

[2021-02-19 15:22] joaogl opened #105 "Jobs getting suck"
Hello,

Using this operator I'm getting an issue which I can't really figure out what is going on...
Initially I created this: https://github.com/ansible/awx/issues/9364 but now I'm no longer sure that the issue is on awx side or on this operator side :/

Did anyone see this or can think of anything that could cause this issue?

THanks

[2021-02-22 15:29] Spredzy commented on #104
@luhahn Thanks for opening this issue.

This happens as a result of two different streams of work currently going on.

1. We moved from `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1` in order to be able to benefits from new features https://github.com/ansible/awx-operator/commit/fbae5cf590f964e0ca8deba548de3642fd171698

Link: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-r

[2021-02-22 15:36] Spredzy commented on #49
@howardjones The way I read it is that your issue is solved. Hence I'll be closing this issue. If there is something still not working, feel free to re-open it. Thank you !

[2021-02-22 15:36] #49 closed, assigned to nobody

[2021-02-25 10:04] Spredzy commented on #104
https://github.com/ansible/awx-operator/pull/106 has now been merged. I will close this issue. If you find yourself still facing it, please being us to our attention.

Thank you for reporting the issue.

[2021-02-25 10:04] #104 closed, assigned to nobody

[2021-02-25 10:06] Spredzy commented on #53
Hey @howardjones are you still facing this issue with latest release ?

[2021-02-25 19:43] howardjones commented on #53
I have not tried 0.6 yet - I am currently using my own "0.55" build. I will test soon, so I can stop managing my own fork!

[2021-02-28 14:01] synthe102 commented on #53
Hi,
I have the same issue, I don't have an admin user created, with and without tower_admin_user and tower_admin_password defined. I tested it on 0.6.

[2021-03-01 08:32] Spredzy commented on #53
Thanks for the comment.

1. Do you mind sharing a `spec` file I can apply to reproduce ?

2. What does `kubectl logs -f deployments/awx-operator -n <yournamespace>` provide as an output for the  following task: https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/initialize.yml#L16

Note: on `devel` (does not apply to `0.6.0`) the `tower_admin_password` value is not used anymor

[2021-03-05 18:22] shanemcd commented on #63
Hi. AWX no longer supports custom virtual environments. More info here: https://groups.google.com/g/awx-project/c/47MjWSUQaOc/m/eYqt8BmxAgAJ

[2021-03-05 18:22] #63 closed, assigned to nobody

[2021-03-06 15:52] BonzTM commented on #53
I too, was unable to get authenticated in 0.60.  No secret was created for me, and no combination of manually creating a secret,  `tower_admin_password`, or `tower_admin_password_secret` would get me in.

Logs showed that the initialization of the user task ran, but no output.

I didn't log into the db to troubleshoot further.  I just ended up execing into the task container and creating a 2nd sup

[2021-03-08 18:25] agilleyrh opened #117 "RFE: Add custom LDAP auth using custom "*.pem" file during installation on OCP"
Original issue: https://github.com/ansible/tower-packaging/issues/1052

ISSUE TYPE
Enhancement - provide the option to add a custom LDAP AUTH configuration using a custom PEM file during installation, if desired or required by security policies.
SUMMARY
This solution requires two new custom files, and modifications to two existing files:
New files
roles/kubernetes/templates/EXAMPLE.pem.j2
roles/ku

[2021-03-08 19:08] kladiv commented on #38
+1
But i guess we should check new Container Groups (and Execution Environment) approch:
https://docs.ansible.com/ansible-tower/latest/html/administration/external_execution_envs.html#create-a-container-group

[2021-03-09 07:42] adammike opened #118 "yaml.scanner.ScannerError: mapping values are not allowed here when trying to set extra env vars"
When trying to use this YAML, I get mapping values are not allowed here in the operator logs

[code]

I've tried every version of spacing.. adding spaces, removing spaces, forcing an indent using |2, |4, nothing I do gets the environment variables to work..

[code]

[2021-03-09 17:21] adammike opened #121 "Postgres database statefulset created/deployed even if external database settings are defined"
I've configured an external database. I've confirmed that the DB is populated with my AWX data, but the operator still deploys postgres on my cluster.

I don't see a parameter I can set to prevent that statefulset from being deployed. Am I missing something?

[2021-03-10 09:14] billett83 commented on #121
Seeing the same issue. External database is up and running yet a postgres-0 pod is running after deployment

[2021-03-10 17:17] howardjones commented on #53
Initial feedback - the 0.6.0 README says to use the deploy manifest from the devel branch. Looks like the manifest has changed substantially since 0.6.0 was tagged (new apiVersion and other things).

Using the 0.6.0 manifest with the 0.6.0 README *did* get me a working awx instance with a password I knew though!

The *devel* README, which is the default view in github talks about secret creation,

[2021-03-11 08:10] cmasopust opened #122 "Support custom Security Contexts"
Please forgive me if that's a dumb question (new to Kubernetes), but...

I want to add an additional volume to my awx-task container. This simply can be done by configuring the operator and the volume gets mounted. But... with the default permissions (root:root).

So I think it would be fine to have an initContainer that sets proper permissions on the additional volumes.  Or am I completely wrong?

[2021-03-11 21:15] mijenki commented on #30
Hi @dericcrago I took a look at your branch and that's the solution I was thinking of too. Is there a reason you didn't PR your branch?

[2021-03-12 10:40] pvitty commented on #121
I am seeing the same issue.

[2021-03-12 12:21] k-harutyunyan opened #123 "Can't log in after deployment"
After deploying AWX (using awx-operator) there is no secret `awx-admin-password`, there is a secret `awx-secret-key` which is not accepted for the password. I tried to give `tower_admin_password_secret` variable, but the secret isn't created either.
So the AWX  is deployed, the login page is opened, but there is no  way to login.

[2021-03-12 12:28] jeffpascal commented on #123
Hey, I reset the password for my installation using:

http://vcloud-lab.com/entries/devops/reset-ansible-awx-tower-admin-password

awx-manage changepassword admin

If the user does not exist, you need to:

awx-manage createsuperuser --user admin

To ssh into the awx_task container you can install lens, and get your kubeconfig from:

kubectl config view

[2021-03-12 12:38] k-harutyunyan commented on #123
I tried this way to create a superuser not with name admin, but it doesn't work, will try with admin. Thanks.
Anyway the documentation doesn't reflect the reality.

[2021-03-12 23:58] OlhaTuranska commented on #123
Hi, I faced the same issue and found out a solution after several hours inspecting awx-web and awx-task containers :)

It seems that the current version of awx from the devel branch is not stable and doesn't create the admin user at all.

Therefore, this command from Installition Guidline with AWX Operator and Minikube doesn't work:
`minikube kubectl -- get secret awx-admin-password -o jsonpath='{

[2021-03-13 15:30] k-harutyunyan commented on #123
Thank you all, I already created the admin superuser from inside the awx-web.
Just let this open, as there is a bug with admin user creating.

[2021-03-15 11:01] veekrum commented on #123
Thanks it works,
on kubernetes cluster : ``` kubectl exec pod/<awx_pod_name> --container awx-web -it awx-manage createsuperuser```
on minikube : ```minikube kubectl exec pod/<awx_pod_name> -- --container awx-web -it awx-manage createsuperuser```

[2021-03-15 11:10] Spredzy opened #124 "Publish a build of the Operator on quay.io after each merge"
As a new user lands on the README today, she it pointed to go and run the following command:

[code]

This file currently, makes the operator image points to

[code]

They have been drastic changes between `0.6.0` and current operator in `devel` leading to some uncompatible deployment scenarios.

Having a post-merge build developer/contributor could point to in order to be able to deploy latest ev

[2021-03-15 11:15] Spredzy commented on #123
Hello all,

My guess is that you might be affected by this https://github.com/ansible/awx-operator/issues/124

TL;DR: Current `devel` of the CRDs and logic does not necessarily work with `0.6.0`. If you want to fix this *now* while the above issue is addressed, follow this pattern:

1. Download and install `operator-sdk==0.19.4` https://v0-19-x.sdk.operatorframework.io/docs/install-operator-sdk/
2

[2021-03-15 11:15] Spredzy commented on #121
Hello all,

My guess is that you might be affected by this https://github.com/ansible/awx-operator/issues/124

TL;DR: Current `devel` of the CRDs and logic does not necessarily work with `0.6.0`. If you want to fix this *now* while the above issue is addressed, follow this pattern:

1. Download and install `operator-sdk==0.19.4` https://v0-19-x.sdk.operatorframework.io/docs/install-operator-sdk/
2

[2021-03-15 11:27] Spredzy commented on #53
@howardjones yes, other community members have been bitten by it to.

Plan is to address https://github.com/ansible/awx-operator/issues/124, so at least, the manifest provided should always be on par (and point to the actual proper operator that matches `devel`) - This way those kind of mismatch should not happen anymore.

I will close this issue as the root is solved, and will try to get the one

[2021-03-15 11:27] #53 closed, assigned to nobody

[2021-03-15 11:59] Spredzy commented on #118
The above PR (https://github.com/ansible/awx-operator/pull/125) fixes this issue.

Thank you for providing the exact spec file you used, it made it easy to reproduce and fix :+1:

If you want to test it locally, you will have to rebuild the operator container, and update the locally downloaded version of https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml to make

[2021-03-15 15:23] dericcrago commented on #30
hi @mijenki - I was just trying to judge interest; I'll get a PR submitted.

[2021-03-15 16:26] #30 closed, assigned to nobody

[2021-03-15 18:04] keyz182 commented on #78
We need to upgrade our deployment (15.0.0) as we're running into a bug that's been fixed in a newer version (17.1.0). Is there any path to upgrade?

[2021-03-15 18:18] deztin commented on #78
I was able to edit the my-awx.yml to include:

spec:
  tower_image: ansible/awx:17.1.0
  tower_image_pull_policy: Always

kubectl delete -f my-awx.yml
kubectl apply -f my-awx.yml

[2021-03-15 20:43] shanemcd commented on #122
You are most likely looking for securityContext / fsGroup. This operator does not support this at the moment. I'll reword your issue to properly capture this request.

[2021-03-15 20:44] shanemcd commented on #122
More info: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

[2021-03-15 21:50] adammike commented on #118
Does this automatically get pushed to the image posted on quay? How do I get these changes into my awx-operator once they're merged?

Sent from my iPhone

On Mar 15, 2021, at 5:00 AM, Yanis Guenane ***@***.***> wrote:

﻿ The above PR (#125) fixes this issue. Thank you for providing the exact spec file you used, it made it easy to reproduce and fix 👍 — You are receiving this because you authored th

[2021-03-16 01:22] tylerauerbeck commented on #124
@Spredzy Any preference on the "how"? I've got an example that does this with github actions that can be pulled over if that helps.

[2021-03-16 14:42] k-harutyunyan commented on #123
Hi @Spredzy, thanks. I built and replaced the image and it works.
I hope this inconsistency will be fixed shortly.

[2021-03-16 16:28] billett83 opened #127 "Support for Ingress type 'LodBalancer'"
Currently the ingress template only supports CluterIP and NodePort. Could you please add support for LoadBalancer

[2021-03-16 16:35] shanemcd commented on #127
Would be happy to review and test a PR for this.

[2021-03-16 19:45] adammike commented on #121
I did this, and now awx can't connect to my DB at all. It's connecting to the right DB, but It seems to be ignoring `ca_trust_bundle: /etc/ca-bundle/ca_bundle.pem`

[code]

[2021-03-17 09:50] #118 closed, assigned to nobody

[2021-03-17 12:11] keyz182 commented on #78
I was finally able to do it. I needed to ssh into one of the containers and run `awx-manage migrate --noinput`. There was a migration in 15.0.x > 16.0.0 that wasn't being run for some reason.	I also needed to pin the postgres db to 10.

[2021-03-17 13:01] billett83 commented on #127
@shanemcd  could you please link PR #128

[2021-03-17 19:37] tylerauerbeck opened #129 "Simplify Ingress Logic"
I believe for a majority of OpenShift 4.X releases, you can use an ingress object to generate a corresponding Route. So in theory, we should be able to simplify the current logic in place and then  only have to maintain a single template for creating ingress (vs. the current Route v. Ingress templates and logic that are in place now).

I guess the only question here is there a targeted version of

[2021-03-17 20:33] shanemcd commented on #129
I know that we're _not_ supporting OCP 3.x with this Operator, but don't know how far back we want to support 4.x. What's the oldest version that has this functionality?

[2021-03-17 20:52] tylerauerbeck commented on #129
Let me dig up the docs. But from a few quick chats it's been available from some of the later 3.X releases.

[2021-03-17 22:46] tylerauerbeck opened #130 "Update Operator-SDK version"
Currently using v0.19.4. Currently users/maintainers need to have an old version of operator-sdk in order to follow the build instructions here (`operator-sdk build...`) as this was removed in the 1.X version of operator-sdk.

[2021-03-18 22:44] shanemcd commented on #130
We won't be able to do this until we drop OCP 4.6 support.

[2021-03-19 00:53] tylerauerbeck commented on #130
What's the dependence on 4.6?

[2021-03-19 06:42] jandradap opened #131 "OpenShift 4.7.2 (K8s 1.20) Operator CrashLoopBackOff"
I have installed the operator from the devel branch and it does not finish booting.

**OCP Version:**
[code]

**Operator POD log:**
[code]

A few seconds later the pod restarts.

**Events:**
[code]

[2021-03-19 12:29] Spredzy commented on #124
@tylerauerbeck not at the moment, open to any suggestion. If you have an example of something working with github actions, sure share it here, would love to look at it and see how that can be enabled

[2021-03-21 18:45] tylerauerbeck opened #134 "Molecule Tests"
Is anybody else having issues running the molecule tests? When trying to run them against the devel branch, I seem to get stuck on waiting for the CR to get created (which looks to be because the operator pod gets stuck in a crashloopbackoff because the liveness probe is failing). Trying to figure out if this is a user issue or if others are seeing this as well.

[2021-03-21 20:03] tylerauerbeck commented on #134
Hmm. Not quite sure exactly the issue here, but looks like it has something to do with ubuntu 18.04 -> ubuntu 20.04 (was running into this while testing something out in github actions and they recently just finished flipping ubuntu-latest between those two versions)

[2021-03-21 22:01] shanemcd commented on #134
You might be encountering https://github.com/bsycorp/kind/issues/44

[2021-03-22 00:48] tylerauerbeck commented on #129
@shanemcd Here's the docs as far back as OCP 3.11: https://docs.openshift.com/container-platform/3.11/architecture/networking/routes.html#architecture-routes-support-for-ingress . Would be happy to pull together a quick PR for this if interested.

[2021-03-22 05:04] veekrum commented on #121
Hello @adammike, is it fixed? how did you manage to attach the .crt file inside pods. i am also having same issue.

[2021-03-23 13:49] #127 closed, assigned to nobody

[2021-03-23 22:25] lingenavd opened #139 "Internal Server Error after deployment with new awx-operator version 0.7.0"
Yesterday (22nd of march 2021) I deployed AWX fine with awx operator version 0.6.0.
Today I got the new awx-operator version 0.7.0 and all pods start, but the awx-web is full of errors.
the ingress url to AWX now gives me the only line: Internal Server Error

what I also noticed that yesterday I only had 3 containers in the awx deployment, now I have 4. awx-ee is now also the 4th container in the

[2021-03-24 00:30] shanemcd commented on #139
Did you supply your own `tower_image`? You'll either need to use the latest, or use an older version of this operator.

[2021-03-24 08:36] lingenavd commented on #139
Tower image was the vanilla version 15.0.  (I did not confige it in my yaml)
I will give it a go with the latest tower image today.
Thanx for the feedback.
Grtz,
Andre

[2021-03-24 09:41] lingenavd commented on #139
Sorry to say it does not make a difference :-(
Clean K8s cluster.
Only line I get on the URL to AWX is: Internal Server Error

kubectl -n awx get pods
NAME                  READY   STATUS    RESTARTS   AGE
awx-968dd9cc8-85l7n   4/4     Running   0          35m
awx-postgres-0        1/1     Running   0          35m

my-awx.yml:
#######################################################
---
apiVersion:

[2021-03-24 10:07] billett83 opened #140 "Allow for private hosted awx-ee image"
Running private k8's private clusters without the ability to pull from public repositories. The ability to repoint the awx-ee image to a private repository will be required.

PR to follow shortly.

[2021-03-24 10:13] billett83 commented on #140
PR #141 raised for this issue

[2021-03-24 11:11] lingenavd commented on #139
I tested it again with new clean k8s cluster.
I changed the following line in the awx-operator.yaml after download:
cat awx-operator.yaml | grep 0.
          image: "quay.io/ansible/awx-operator:0.6.0"
I used the same: my-awx.yml

kubectl -n awx get pods
NAME                 READY   STATUS    RESTARTS   AGE
awx-8b89d69f-xd259   3/3     Running   0          19m
awx-postgres-0       1/1     Running

[2021-03-24 11:43] Zokormazo commented on #139
Wich registry is resolving that `tower_image: ansible/awx:latest` ? I would say that your k8s is pulling that from dockerhub, where `latest` is 17.1.0 and not 18.0.0

Try using fqdn: `tower_image: quay.io/ansible/awx:latest`

[2021-03-24 12:04] MaximilianMeister opened #142 "[0.7.0] password authentication failed for user "awx""
Trying the new 0.7.0 release with awx 18.0.0 and running into this issue, any ideas? Haven't changed the config:

Here's the generated spec of the `awx` resource:

[code]

## postgres container logs

[code]

## awx-web container logs

[code]

[2021-03-24 12:21] lingenavd commented on #139
I just checked, the installed version is indeed 17.1.0

Grtz,
Andre

[2021-03-24 13:06] MaximilianMeister commented on #142
issue resolved, there has been an old pvc still around. after removing it things work as expected

[2021-03-24 13:06] #142 closed, assigned to nobody

[2021-03-24 13:14] #140 closed, assigned to nobody

[2021-03-24 15:54] Spredzy commented on #131
I have myself faced a similar issue with 4.7 - this happens because the value here are too low https://github.com/ansible/awx-operator/blob/devel/deploy/awx-operator.yaml#L146-L147 this needs bumping

Will provide a PR

[2021-03-24 15:55] #123 closed, assigned to nobody

[2021-03-24 20:04] #131 closed, assigned to Spredzy

[2021-03-24 23:09] lingenavd commented on #139
Final test from me, because it works now :-)

again with new clean k8s cluster.
I used the 0.7.0 for the awx-operator
I changed the line in my-awx.yml to get the image from quay.io/ansible/awx:latest
This resulted in version 18.0, so @Zokormazo was right that my k8s cluster got the latest version from dockerhub.

kubectl -n awx get pods
NAME                 READY   STATUS    RESTARTS   AGE
awx-889

[2021-03-25 01:27] ryanpetrello commented on #38
Hey folks 👋, AWX 18.0.0 is out now, and supported via this operator; Execution Environments are *the* sanctioned approach for customized Python dependency management.

[2021-03-25 01:27] #38 closed, assigned to nobody

[2021-03-25 06:42] balonik commented on #139
I agree with @lingenavd here. If version of awx-operator requires specific version of AWX it should be written somewhere.

[2021-03-25 09:07] bergmannf opened #146 "awx-ee container uses wrong project path"
In my current setup I have a project and an inventory that uses an inventory source based on this project.

Inside the project the structure looks like this:

[code]

So the inventory source is configured to use the file `inventories/<my_inventory>.yml`.

When trying to update the source the runner always seems to use `/runner/project/` as the path it expects the project to be, however when inspec

[2021-03-25 09:47] balonik commented on #46
It is currently not possible to mount persistent volume on `/var/lib/awx/projects`, because there is a hardcoded volume mount in https://github.com/ansible/awx-operator/blob/0d6980b9b4db535dec6f271bbe634ebdbc10de27/roles/installer/templates/tower_deployment.yaml.j2#L182 which uses `emptyDir` https://github.com/ansible/awx-operator/blob/0d6980b9b4db535dec6f271bbe634ebdbc10de27/roles/installer/templ

[2021-03-25 13:36] shanemcd commented on #146
cc @AlanCoding for when you are back.

[2021-03-25 15:17] tylerauerbeck opened #147 "awx-operator.clusterserviceversion.yaml still references 0.6.0"
After the recent release to 0.7.0, I noticed that 0.6.0 is still being referenced in `./deploy/olm-catalog/awx-operator/manifests/awx-operator.clusterserviceversion.yaml`. Should this be updated as well?

[2021-03-25 15:19] shanemcd commented on #147
That _should_ get fixed the next time we regenerate the olm-catalog directory... cc @Spredzy

[2021-03-25 15:58] kladiv commented on #146
+1 same issue (i hope high priority)
I open an issue in AWX project: https://github.com/ansible/awx/issues/9704

[2021-03-25 16:12] Spredzy commented on #147
That got fixed yesterday with https://github.com/ansible/awx-operator/commit/76092c366e77cbeb7b15191d6f62935ed1fad4be

Specific line: https://github.com/ansible/awx-operator/commit/76092c366e77cbeb7b15191d6f62935ed1fad4be#diff-07c80681d716a98ea263b011447ec8106142ebca5e52b68cdde239cdfb9bc97aR364

[2021-03-25 16:13] #147 closed, assigned to nobody

[2021-03-25 16:21] shanemcd commented on #146
Going to close this in favor of the AWX issue.

[2021-03-25 16:21] #146 closed, assigned to nobody

[2021-03-26 07:03] balonik opened #148 "Add option to specify additional environment for EE container"
Currently I can specify additional Environment for `awx-web` and `awx-task` containers using the `tower_task_extra_env` and `tower_web_extra_env` properties.
I would like to specify additional env also for the `awx-ee` container.
This is useful for example if I need to specify `https_proxy` variables.

[2021-03-26 08:53] Slim-Rush opened #149 "Missing inventory script tab"
AWX version: 17.0.1
AWX install method: docker on i,

I have recently installed the AWX through the docker-compose method. In version 17.0.1 the functionality of dynamic inventory is unavailable. In the left pane, the inventory script is missing.

Is this expected? If so, any plan to release this in the near future?linux

[2021-03-26 09:19] billett83 commented on #149
@daichenge Please could raise AWX image issues on the AWX github repo https://github.com/ansible/awx - This repo is for the awx-operator

[2021-03-26 09:41] billett83 opened #150 "SSL Termination at Load Balancer"
I'm running into an issue whereby I'm terminating SSL at the Load balancer level. This is causing 400 Bad Request errors during CallBacks from newly provisioned servers.

Reading through the Ansible documentation (https://docs.ansible.com/ansible-tower/3.8.2/html/installandreference/proxy-support.html#ir-proxy-support) It advises the following:

[code]

Is there a current method to get these param

[2021-03-26 10:18] Spredzy commented on #150
`USE_X_FORWARDED_PORT = True` is set here https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/tower_config.yaml.j2#L85 - but no, there is no mechanism to specify it at that point.

In order to provide more flexibility, and not have to support each and every possible config from an operator perspective, I think we should provide a way for the user to provide a settings conf

[2021-03-26 10:27] gdelanoe opened #151 "Handling HTTP loadbalancer"
Hello,

At job, we plan to deploy awx using awx-operator. Everything works great except one thing : we want to deploy awx using an HTTP loadbalancer. I tried to find in the documentation the way to do that but it's look like it's not implemented.

I use this YML code to describe the AWX CR :
[code]

This configuration led me to this error in the awx-operator pods :
[code]

Looking in "awx-operator

[2021-03-26 10:52] billett83 commented on #151
Have you tried adding:

`tower_loadbalancer_port: 80`

This should be the default is not specified.

[2021-03-26 10:57] Spredzy commented on #151
The problem is here https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/tower_service.yaml.j2#L15-L32, it gets into no `if` statement (based on OP configuration)  leading to this section to be empty

@billett83 we missed this use case when analyzing the original PR. Do you mind providing a fix ?

[2021-03-26 11:00] billett83 commented on #151
I have reviewed the awx-operator/roles/installer/templates/tower_service.yaml.j2 file and see the following

`spec:
  ports:
{% if tower_ingress_type | lower != 'loadbalancer' and tower_loadbalancer_protocol | lower != 'https' %}
    - port: 80
      protocol: TCP
      targetPort: 8052
      name: http
{% endif %}`

The conditional statement is incorrect. I will fix this shortly with PR

[2021-03-26 11:03] billett83 commented on #150
Thank you @Spredzy . I did come across this one setting whilst trawling through the POD yesterday.

Yes, this approach sounds feasible

[2021-03-26 11:07] gdelanoe commented on #151
Thank you a lot @billett83 and @Spredzy for your quick answers !
Waiting for the PR.

[2021-03-26 11:18] Spredzy commented on #149
As @billett83 raised, this repo is for the `awx-operator` only. Please refer to https://github.com/ansible/awx for any question regardding the `docker-compose` installation method.

[2021-03-26 11:18] #149 closed, assigned to nobody

[2021-03-26 11:18] Spredzy commented on #148
@balonik do you mind giving the above PR a whirl ?

[2021-03-26 13:54] #151 closed, assigned to billett83

[2021-03-26 20:19] ghost commented on #117
+1.. Having custom ldap trust certificates really needs to be a feature

[2021-03-29 07:25] Spredzy commented on #150
@tchellomello something you are interested working on ? If not let me know andd I'll assign myself.

[2021-03-29 19:52] tchellomello commented on #150
@Spredzy yes, I'll work on it

[2021-03-30 02:48] tchellomello commented on #121
I tested it today and it worked for me when using an external database. I basically created the secret  `<resource_name>-postgres-configuraton` as noted at https://github.com/ansible/awx-operator#external-postgresql-service and then created the `awx` kind.

If you connect to your <resourcename>-web container, what are the contents you see at the `/etc/tower/conf.d/environment.sh` and `/etc/tower/c

[2021-03-30 02:50] tchellomello commented on #121
@adammike there is a chance of your PostgreSQL using the same `PVC` from an old deployment, therefore the `awx` credentials will fail. I had the same issue when using a `storageClass` on my lab that had `retention` enabled.

[2021-03-30 09:12] gdelanoe opened #158 "Create and use custom admin password"
Hello,

I tried to deploy an awx in a green field environment using awx-operator. As I am waiting for a newer docker image of awx-operator, I had to create manually a loadbalancer service to fix [this issue](https://github.com/ansible/awx-operator/issues/151). Once the service is up I can access to my awx instance's login page, unfortunately, I can't log in awx using the admin/mypassword values.

[2021-03-30 18:54] tylerauerbeck commented on #158
@gdelanoe I agree. That template looks like the culprit there.

@Spredzy I see you made this change. Would it be alright to make this template a bit smarter and apply the given password if it is provided and then only autogenerate if it hasn't been provided?

[2021-03-30 19:09] Spredzy commented on #158
The description you made of the behaviour `tower_admin_password_secret` is accurate and working as expected.

`tower_admin_password_secret` is not supposed to be a password, but a secret *containing* your password. As per the documentation https://github.com/ansible/awx-operator#admin-user-account-configuration

This is what worries me a bit. If you run the command (`kubectl get secret <resourcena

[2021-03-30 19:19] tylerauerbeck commented on #158
@Spredzy Ahh. I missed the update on this needing to be specified in a secret beforehand otherwise it creates the random password. Completely agree then. This addresses the security concerns that you mention and some of the sharp edges I had in mind that pop up around not being able to specify your password.

[2021-03-31 02:15] tchellomello commented on #150
@Spredzy, @gamuniz and I spoke today to provide a `custom.py` to override the configmap and allow users to modify it. Originally his suggestion was for `insigths*` but it can be extended for any option pretty much. Since he already started working on this PR, @gamuniz++ will submit the PR

[2021-03-31 02:46] tchellomello commented on #105
@joaogl  it seems the ansible/awx#9364 was been closed as dups for ansible/awx#9401 which has been fixed by `awx 17.0.0`. Please try it using the latest `awx-operator` version and let us know if you have any issues.

@Spredzy @shanemcd it seems we are good to close this one.

[2021-03-31 03:18] tchellomello opened #161 "Service label selector are not unique and conflict when 2 or more `AWX` deployments share the same namespace"
Service label selector is not unique and conflict when 2 or more `AWX`  deployments share the same namespace, which can conflict when using an `IngressRoute` kind from `Traefik` for instance.

Recipe to reproduce the problem:

1. Create 2 `awx` instances on the same namespace
[code]

2. Verify the service selector attribute is not unique
[code]
So now we have a problem if we expose this via an Ing

[2021-03-31 09:06] gdelanoe commented on #158
Hello,

Thank you both for your help. I really appreciate.

To resume what you said :
 - the tower_admin_password_secret variable is not the clear text password but a k8s secret, if set awx-operator create the awx-admin-password secret using the value of tower_admin_password_secret
 - if tower_admin_password_secret is not set or invalid, awx-operator generate a password

Does this summary is corre

[2021-03-31 12:38] Spredzy commented on #158
Yes, this is correct.

No. If set, the awx-operator will look for the password field within that secret and use that value as the admin password.

Correct. It generates a secret that embed the password that is used for that deployment.

No.

You should create a Secret within your namespace (example below) and use the name of this secret as the value of `tower_admin_password_secret`

[code]

[2021-03-31 19:38] shanemcd opened #163 "Operator crashing after upgrade"
Not exactly sure what's causing this yet, but creating this issue for us to track it:

[code]

To fix it I needed to delete and recreate my `awx` CR.

[2021-04-01 03:37] tchellomello commented on #163
@shanemcd I´ve noticed this as well while working on the labels issue. It looks is related to changes on the `statefulset`.

[2021-04-01 07:56] #117 closed, assigned to nobody

[2021-04-01 16:46] tchellomello commented on #163
@shanemcd I hit something similar during the upgrade, however, that was during the rollout process
[code]

On the next cycle, the operator catches up and finished as expected

[code]
So it was not exactly the same issue

[2021-04-02 10:19] minyor commented on #36
Can I meanwhile, somehow update generated by minikube AWX installation using master latest?
@thedavidwhiteside I tried your image but it gives me error in the logs about non-existent private key or something and I'm not qualified enough to try and resolve it myself..

[2021-04-02 10:41] gdelanoe commented on #158
Ok, I get it.

Thank you for your help. I create a k8s secret with my clear password inside and change the tower_admin_password_secret variable to the name of the k8s secret.

[2021-04-02 10:41] #158 closed, assigned to nobody

[2021-04-03 15:19] shanemcd commented on #163
I _think_ we need to use `k8s_info` to check for the presence of the Postgres statefulset before trying to `apply` it?

[2021-04-03 15:58] #124 closed, assigned to nobody

[2021-04-03 16:44] #161 closed, assigned to nobody

[2021-04-05 15:34] tchellomello commented on #97
Adding on my plate to test it. I´ll upgrade my cluster to `1.20` tonight and test it.

[2021-04-05 15:39] tchellomello commented on #46
Working on patch for it

[2021-04-05 20:39] shanemcd opened #175 "Provide way for additional configmaps to be mounted on the control plane"
There have been several cases where folks want to be able to bind-mount random stuff into the control plane:

- https://github.com/ansible/awx/issues/9807
- https://github.com/ansible/awx/issues/9753

We should come up with a generalized solution for these kinds of use cases.

[2021-04-05 20:40] shanemcd commented on #150
@Spredzy @tchellomello @gamuniz Opened up https://github.com/ansible/awx-operator/issues/175 to capture the last part of this thread.

[2021-04-06 02:42] tchellomello commented on #163
Yes, we will need to enhance the `statefulset`  apply as the task `Apply Resources`  sometimes fail for that statefulset. I'll work on that.

[2021-04-06 13:49] guntis-liepins opened #178 "fail to deploy awx - Error from server (BadRequest): a container name must be specified for pod"
First time attempt to deploy simple AWX instance with awx operator

    ---
    apiVersion: awx.ansible.com/v1beta1
    kind: AWX
    metadata:
      name: awx
      namespace: awx
    spec:
      deployment_type: awx
      tower_ingress_type: Ingress
      tower_hostname: awx.test.org
      tower_ingress_tls_secret: awx-tls
      tower_admin_user: admin
      tower_admin_email: admin@test.org

[2021-04-06 14:18] shanemcd commented on #178
As you can see, it says `choose one of: [redis awx-web awx-task awx-ee]`

So you'll need to do something like:

[code]

[2021-04-06 14:18] #178 closed, assigned to nobody

[2021-04-06 14:25] guntis-liepins commented on #178
[z@alpha awx]$ kubectl logs -n awx awx-768cc86749-4r8pw
    Error from server (BadRequest): a container name must be specified for pod awx-768cc86749-4r8pw, choose one of:
    [redis awx-web awx-task awx-ee]
    [guntis@alpha awx]$ kubectl logs -n awx awx-768cc86749-4r8pw -c redis
    [guntis@alpha awx]$ kubectl logs -n awx awx-768cc86749-4r8pw -c awx-web
    [guntis@alpha awx]$ kubectl logs -n aw

[2021-04-06 21:10] MrAmbiG opened #179 "Install a specific version of awx"
We need to install a specific version of awx  since all of our existing code depends and works with that version of awx but there is no way of mentioning the version of awx with the operator.

[2021-04-06 21:27] ryanpetrello commented on #179
@MrAmbiG,

AWX 18.0.0 is the first version that reliably works with this operator.

If you want to install an older version of AWX, follow version-specific instructions:

https://github.com/ansible/awx/blob/17.1.0/INSTALL.md#installing-awx

[2021-04-06 21:27] #179 closed, assigned to nobody

[2021-04-06 23:00] MrAmbiG commented on #179
@ryanpetrello That is what i had to do, is there any future plans to support older versions? Would you also please have an option in the awx config to mention a version (supported versions ) so that when this operator+awx grows, users will have an option to choose from.

[2021-04-07 12:42] Uzzi opened #181 "Container Error after restart"
**ENVIRONMENT**

    AWX version: 18.0.0
    AWX install method: minikube, awx-operator
    Operating System: Debian Buster

I've to restart VM, than I've restarted minikube by  minikube start --driver=none --addons=ingress
awx-postgres-0                 0/1     CreateContainerConfigError

In  minikube kubectl logs -- -f awx-postgres-0:
`failed to try resolving symlinks in path "/var/log/pods/defa

[2021-04-07 13:37] shanemcd commented on #181
This doesn't look like a problem with our operator. This is an issue tracker, not a tech support hotline 😄

[2021-04-07 13:37] #181 closed, assigned to nobody

[2021-04-07 14:25] OneHappyForever opened #182 "Please add instructions on how to update awx via awx-operator with kubertenetes without loosing data"
I have only seen instructions on how to install it the first time.

Unless I run minikube delete, which will delete the files as well, is there a way to update awx via awx operator that will keep all the configs, postgresql database, etc. intact?

If there is, please direct me to the page, as I cannot find any easy way to do so, in any wiki/docs, either on github on or the ansible website.

I beli

[2021-04-07 15:06] shanemcd commented on #182
This is kind of already documented here: https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx

But I would caution against doing this. Certain versions of AWX will inherently require a new version of the operator. I think we may want to consider versioning the operator and awx together to make this more apparent.

@Spredzy thoughts?

[2021-04-07 15:14] #46 closed, assigned to tchellomello

[2021-04-07 15:28] Andysimcoe commented on #52
@howardjones I don't suppose you were able to share the Helm chart were you?

[2021-04-07 15:57] no-12 opened #183 "tower_image_pull_secret is no property of AWX CRD"
The AWX CRD is missing the tower_image_pull_secret property, so it's not possible to pass a pull secret to the awx deployment.
This prevents using custom awx images from private docker registries.

[2021-04-07 16:14] no-12 commented on #183
i submitted a pullrequest #184

[2021-04-07 17:36] MrAmbiG commented on #182
@shanemcd What you are suggesting is build and maintain our own custom image, we were hoping something like mentioning the version in the my-awx.yaml file itself. I do understand that an older version of operator may not support an awx release which got released after the operator but from an end user perspective, a backward compatibility with 3-4 versions do make a lot of sense..
[code]
`kubectl

[2021-04-07 20:30] #183 closed, assigned to nobody

[2021-04-07 20:46] ac-obair opened #187 "Pull the operator without building the local awx-postgres-0 db"
I've had no trouble standing up a k8s instance of awx using an external postgres db, locally and in azure but pulling the `awx-operator.yaml` as per the readme still created the local postgres pod even though it's not being used.
[code]
This pod is taking up cluster resources by existing, I've been through the awx and tower docs but I can't seem to figure out how to pull the operator without it bu

[2021-04-07 21:06] shanemcd commented on #187
The Operator should only deploy the Postgres StatefulSet under a very specific condition:

https://github.com/ansible/awx-operator/blob/0043c375d89f27d164519efc4a3bfac641002e39/roles/installer/tasks/database_configuration.yml#L67-L72

You should have a secret named `{{ meta.name }}-postgres-configuration`.

Can you look at it and see if you see `type: managed`? If so, delete that key/value and see

[2021-04-07 21:13] shanemcd commented on #182
@MrAmbiG

- This would not require you to build your own image. Just point to a different tag like `quay.io/ansible/awx:<whatever>`.
- We cannot ever guarantee any kind of backwards compatibility. This is a fast moving upstream project, and you will need to assume the risk of using bleeding edge software.

[2021-04-07 21:43] 01100010011001010110010101110000 opened #188 "Cannot change Postgres SSL mode from operator"
It's currently not possible to change `pg_sslmode` from the operator spec, which is causing trouble when trying to connect to an external Azure managed Postgres instance

[2021-04-08 02:30] crouthamela opened #190 "awx-operator container not available in quay.io"
The container version 0.8.0 is missing from quay.io, causing an ErrImagePull right now.

https://quay.io/repository/ansible/awx-operator?tag=0.8.0&tab=tags

[2021-04-08 07:15] lemmy04 commented on #190
I'm stuck at that too.

[2021-04-08 07:51] DANic-git commented on #190
The same
[code]

[2021-04-08 08:01] JouBr0 commented on #190
I solved this issue by downloading the awx-operator.yaml file and change the quay.io link to quay.io/ansible/awx-operator:devel instead of quay.io/ansible/awx-operator:0.8.0
Save it local and apply this file instead of submitting the link. After that you will be able to follow the usual instructions.

[2021-04-08 08:58] lemmy04 opened #191 "quay.io complains about unpatched security flaws in the awx-operator images"
one of the bigger features of the quay.io registry is the built in vulnerabilty scan which checks container images for unpatched flaws.

As of today, april 8 2021, it complains about 2 high, 25 medium, and 5 low vulnerabilities in the awx-operator image.

What can be done to fix this?

![grafik](https://user-images.githubusercontent.com/664127/113998486-66d9e780-9859-11eb-9584-5fa3d4006b36.png)

[2021-04-08 11:05] shanemcd commented on #191
These are present in the `quay.io/operator-framework/ansible-operator` base image. You may want to ping that team and see if they can address this.

[2021-04-08 11:05] #191 closed, assigned to nobody

[2021-04-08 11:05] shanemcd commented on #190
Oops. Sorry folks. This has been addressed. I'll automate the problem so I don't forget next time.

[2021-04-08 11:05] #190 closed, assigned to nobody

[2021-04-08 13:43] OneHappyForever opened #193 "Fails to update AWX from 18.0.0 to 19.0.0"
I am trying to update AWX to the latest version, 19.0.0. I already have AWX-operator version 0.8.0.

I've edited the my-awx.yml file to add the version like so:

apiVersion: awx.ansible.com/v1beta1
kind: AWX
metadata:
  name: awx
spec:
  tower_ingress_type: Ingress
  tower_image: quay.io/ansible/awx:19.0.0
  tower_image_pull_policy: Always

Then I run: minikube kubectl -- apply -f my-awx.yml

Howe

[2021-04-08 13:45] shanemcd commented on #193
Dupe of https://github.com/ansible/awx-operator/issues/163. See that issue for workaround.

[2021-04-08 13:47] OneHappyForever commented on #163
Um, what does this mean? You mean the my-awx.yml file or?

Edit: if you could type a sample command so I can understand what you mean, it would be much appreciated :)

EDIT 2:
Ok, so CR =  custom resource. But won't deleting it cause the database to lose all the data? Won't it delete the files as well? In this case, how to perform a seemless upgrade without loosing data?

[2021-04-08 14:02] ansible-jenkins commented on #163
No, deleting the CR will not delete the PV.

[2021-04-08 14:12] shanemcd commented on #163
No, deleting the CR will not delete the PV.

[2021-04-08 14:22] #193 closed, assigned to nobody

[2021-04-08 14:26] shanemcd opened #194 "Add stricter validation around tower_ee_images variable"
See https://github.com/ansible/awx/issues/9854

We need to ensure that this is a list of dictionaries that contain both `name` and `image`.

[2021-04-08 14:38] ac-obair commented on #187
Thanks for the reply. Managed was indeed the type, specifying the secret `awx-postgres-configuration` as in the definition below only brings up the `awx-` and `awx-operator-` pods so that's exactly what I wanted to happen. The awx-task container seems to be failing in django with bad username for my "managed" postgres instance with username `psqladminun` but the username is `psqladminun@awx-extern

[2021-04-08 15:04] OneHappyForever commented on #163
For anyone who need it, this is what I did:

[code]

NOTE: the local port will change. The data is still there.

I still made a snapshot of the VPS just in case.

[2021-04-08 16:03] RylandDeGregory opened #195 "Install instructions for LoadBalancer include reference to undefined variable"
Within the default "basic install" instructions, if one chooses to use a LoadBalancer for ingress, the deployment fails due to an undefined variable. See [Ingress Type](https://github.com/ansible/awx-operator#ingress-type).

The documentation currently says to use:

[code]

But, `tower_ingress_protocol` is not a valid variable.

It should (based on the list of configurable LoadBalancer variables)

[2021-04-08 16:10] MrAmbiG commented on #182
@shanemcd
branch tag: 0.8.0
file: awx-operator.yaml line 118 onwards
[code]
result:
error: error validating "awx-operator.yaml": error validating data: ValidationError(CustomResourceDefinition.spec.versions[0].schema.openAPIV3Schema.properties.spec.properties.tower_image): unknown field "tower_ee_images" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1.JSONSchemaProps; if you choose to

[2021-04-08 16:10] shanemcd commented on #195
PRs welcome 😄

[2021-04-08 16:10] RylandDeGregory opened #196 "LoadBalancer ingress type cannot be created without annotations"
Based on the [`tower_service.yaml`](https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/tower_service.yaml.j2#L12) template definition lines 12-15, one cannot deploy a service of type LoadBalancer without defining annotations for it. Based on the [documentation for LoadBalancer type ingress](https://github.com/ansible/awx-operator#tls-termination), the default value for `t

[2021-04-08 16:31] RylandDeGregory commented on #195
https://github.com/ansible/awx-operator/pull/197 :)

[2021-04-08 16:45] shanemcd commented on #195
Amazing!

[2021-04-08 16:45] #195 closed, assigned to nobody

[2021-04-08 16:45] shanemcd commented on #196
Fantastic!

[2021-04-08 16:45] #196 closed, assigned to nobody

[2021-04-08 17:20] MrAmbiG commented on #182
never mind..
it is to be updated in the in the awx.yaml not operator.yaml and it wasnt clear from the documentation.
2 suggestion for the documentation:

1. update the operator url as per the release branch i am in, it always shows the operator from devel branch even though i am at a release branch
2. At the beginning of the advanced configuration heading, please mention that the options can be co

[2021-04-08 17:21] ilijamt commented on #97
I don't have this issue and I'm on k8s 1.20, worked for me with 0.6.0, 0.7.0 and 0.8.0 awx operator.

k8s setup with RKE.

I tried upgrade from 0.6.0 to 0.7.0 then to 0.8.0.
And also blank 0.8.0

[2021-04-08 18:30] tchellomello commented on #188
@01100010011001010110010101110000 what kind of modification is looking for here? Could you provide us an example so can be easier to identify the best way to address this issue?

[2021-04-08 18:35] 01100010011001010110010101110000 commented on #188
Definitely, I'm looking for a way, from the `AWX` CRD, to change `pg_sslmode` in [credentials.py](https://github.com/ansible/awx-operator/blob/a860b0f459eff689239bd662890533d3baaf6d7d/roles/installer/templates/credentials.py.j2)

The other settings in that file derive from a setting in the CRD, but that one isn't set, so it just gets the default value of `prefer`.

[2021-04-08 18:36] tchellomello commented on #188
@01100010011001010110010101110000 yes, I get that.. could you show how the configuration would like in this case so we can see how to change the jinja2?

[2021-04-08 18:46] tchellomello commented on #187
@ac-obair  could you please send us the information below:

1. From your `awx-task`  container, what do you have below: (please obfuscate the pwd)
[code]
2. Still at the `awx-task`  container, what happens if you do:
[code]

[2021-04-08 18:47] 01100010011001010110010101110000 commented on #188
Oh, I was imaging something like this would be added to the CRD:

[code]

As for how to wire that up to the Jinja template, I'm not entirely certain. I started working on a PR yesterday, but I've not worked with Ansible based operators before so it wasn't immediately clear to me how to do it

[2021-04-08 20:09] ac-obair commented on #187
I was just looking at that file it exists in both the `awx-task` and `awx-web` containers. Oddly, the password is quoted more than once singles `'` inside double `"`.  The tls config`'sslmode': 'prefer'`.  I connected to a `postgres` db since I've removed the awx db for now. The quotes seem to be causing the issue same error from the traceback.

[code]

[code]
I redeployed with the deploy definiti

[2021-04-08 20:36] lemmy04 commented on #191
they are present in **old** versions of the base image... devel has no vulnerabilities, latest has one. Maybe the awx operator should be based on one of those?

[2021-04-09 01:45] tchellomello commented on #188
@01100010011001010110010101110000 Added a PR that covers this scenario. You were almost there, but you can look at the PR so you can contribute the next time. Thanks for reporting this issue!

Please let us know your thoughts! :+1:

[2021-04-09 01:50] 01100010011001010110010101110000 commented on #188
Looks fantastic, and indeed the PR was quite instructive. I was unaware the operator shipped a UI. Thanks!

[2021-04-09 02:16] tchellomello commented on #187
@ac-obair thanks for the troubleshooting. I performed a few tests here and none of my `secrets`  password were created with the `single-quote`, but indeed, I can confirm that adding the `quote` will throw the password error.

For example, here are 2 `auto-generated-secrets`  for a `auto-managed`  db instance:

[code]

[code]

As you can see above, `none` of the password strings had `quotes`  added

[2021-04-09 02:36] tchellomello commented on #182
@MrAmbiG, all the changes are expected to be directly to the `AWX` kind via `spec` and not to the `operator` YAML itself.
Having said that, I want to double-check:

I believe you are talking about this section, right? https://github.com/ansible/awx-operator/tree/0.8.0#basic-install

If so, @shanemcd @Spredzy How do you guys want to tackle this? Should we point to the `Release Notes`  for the stabl

[2021-04-09 02:43] tchellomello commented on #121
@adammike  are you still hitting this issue?

[2021-04-09 02:50] tchellomello commented on #13
note: The LDAP certificate piece was addressed by https://github.com/ansible/awx-operator/pull/157

[2021-04-09 03:13] adammike commented on #121
When I built and deployed the operator from GitHub the awx pods blew up and wouldn't validate the db servers SSL certificate anymore, even though I was mounting and defining a CA bundle.

I got sidetracked by other stuff and haven't really had a chance to dig into it again yet, but my AWX instance is still busted.

Sent from my iPhone

On Apr 8, 2021, at 7:44 PM, Marcelo Moreira de Mello ***@***.*

[2021-04-09 06:14] balonik commented on #148
@Spredzy looks fine. worked for me

[2021-04-09 06:55] psalibindla-rubrik opened #201 "Unable to Import Ansible Inventory into AWX"
I am unable to import hosts file into awx inventory

[2021-04-09 08:17] ac-obair commented on #187
@tchellomello I had `type: managed` postgres-0 container working with my original config. I set up a postgres container locally on my laptop outside of k8s to mimic an external connection and that also worked. I also rebuilt my current setup with connection to azure with unquoted password and it was double quote templated resulting in the same issue.

Each time with or without quotes without issue

[2021-04-09 08:48] andy-hcc opened #202 "Is it possible to use service type ClusterIP?"
Is it possible to for the AWX service to be created using type ClusterIP?

I am trying to setup AWX accessed via an ingress however setting the `tower_ingress_type: Ingress` results in the service being created using NodePort which exposes AWX directly from the cluster unnecessarily.

Attempting to patch the service as follows works temporarily but this then gets reverted back to NodePort after a

[2021-04-09 11:53] #105 closed, assigned to nobody

[2021-04-09 13:26] MrAmbiG commented on #182
@tchellomello for some reason the versioning didnt work.
I tried 0.6.0, 0.7.0, 0.8.0 against 18,19,latest. That is a 3*3=9 permutations, 9 installations but it never did take the version i asked it to take. What we wanted was awx15 and it seemed to be the default with the 0.6.0, we are currently sticking with it.

[2021-04-09 14:53] ac-obair commented on #187
@tchellomello As I suspected it has nothing to do with whether the yaml value for key `password:` is initially commented or not. The fix to the jinja I provided above is the correct was to template a string when quotes are required. I'm not sure why the `!` is breaking the templating but it most definitely is. Special characters are required when creating a password for a postgres db in azure. I'l

[2021-04-09 14:54] aubert-aurelien commented on #202
To work around the problem, I blocked on firewall.
There should be an option to disable the NodePort, I don't understand the use when using Ingress.

[2021-04-09 15:38] andy-hcc commented on #202
Looks like this might be configured by the following template:  https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/tower_service.yaml.j2

This looks like the service type will be set as follows based on how the `tower_ingress_type` is specified in the install yaml:

- If specifying `tower_ingress_type: LoadBalancer` the service will use `type: LoadBalancer`
- If specifyin

[2021-04-12 02:04] tchellomello commented on #202
Yes, that makes sense. @andy-hcc  want to send a PR for this change?

[2021-04-12 02:05] tchellomello commented on #201
@psalibindla-rubrik could you please elaborate and provide an example of the steps you performed and the error you are hitting?

[2021-04-12 03:23] tchellomello commented on #187
@ac-obair I gave it a shot and configured 2 instances using an external database. Look at the secrets below:

1. Creating users and database
[code]

2. Creating `secret`  for **awx-special** instance
[code]

3. Creating `secret`  for **awx-complex** instance
[code]

4. Launching `awx-complex` and testing it
[code]
4.1 - Checking database communication
[code]

5. Launching `awx-special` and testing

[2021-04-12 05:53] psalibindla-rubrik commented on #201
Below are the steps that I have executed:.

1. I have successfully created a project using Github.
2. When I am trying to import inventory using Sourced from a Project. it failing with below error:
ansible-inventory [core 2.11.0b3.post0]
  config file = /tmp/pdd_wrapper_40_5jzl17h4/awx_40_tuq_2p_3/project/ansible.cfg
  configured module search path = ['/home/runner/.ansible/plugins/modules', '/usr

[2021-04-12 13:23] techBeck03 opened #203 "Error: Unable to determine if virtual resource"
I'm attempting to deploy an AWX instance using the operator and i keep seeing this error entry in the operator logs:

` TASK [Create broadcast websocket secret] ********************************
fatal: [localhost]: FAILED! => {"changed": false, "error": 500, "msg": "Failed to apply object: b'Unable to determine if virtual resource\\n'", "reason": "Internal Server Error", "status": 500}`

Operator i

[2021-04-12 18:59] andy-hcc commented on #202
@tchellomello pull request #204 has been created as requested.  Hope it looks ok!

[2021-04-12 19:38] bhundven opened #205 "minikube v1.19.0 issues with ingress-nginx validation webhook."
Minikube v1.19.0 updated ingress-nginx to v0.44.0. For what ever reason (still trying to figure it out), I get the following error while following logs on the awx-operator container:
[code]

This may be related to: https://github.com/kubernetes/ingress-nginx/issues/5401

I was able to work-around the issue by running:
[code]
where in my case with minikube, the `[configuration-name]` is `ingress-ng

[2021-04-12 20:22] tchellomello commented on #187
Discussed the issue with @shanemcd  and we will fix this bug by removing the `quotes`  filter. Sending a PR shortly! :+1:

[2021-04-12 20:36] #187 closed, assigned to tchellomello

[2021-04-12 20:56] tchellomello commented on #203
Could you please provide us the full output from the `awx-operator`  for this particular task? If you apply again, do you see this error always on this task or in order tasks as well?

[2021-04-12 20:58] tchellomello commented on #203
Seems to be related with this -> https://github.com/operator-framework/operator-sdk/pull/3112/files

[2021-04-12 20:59] tchellomello commented on #203
In light of the above, could you elaborate and share the steps you followed to get the operator installed?

[2021-04-13 12:04] techBeck03 commented on #203
This seems to be tied to the specific cluster i was deploying on.  I used the exact same approach of installing the operator and using the same AWX deployment yaml on a different cluster and the install worked as expected.

Non-working cluster version: `v1.17.6`
Working cluster version: `v1.19.5`

There could have been other factors in play as well considering the non-working cluster had many othe

[2021-04-13 12:29] mooky31 commented on #205
Same issue here, thanks @bhundven for the workaround

[2021-04-13 13:14] laurence-syree commented on #205
Same issue here as well, Thanks a bunch @bhundven spent an hour looking for the problem and you probably saved me another 2.

[2021-04-13 13:35] billett83 commented on #175
Additional use case - Setting up realms in /etc/krb5.conf

[2021-04-13 17:12] abcqwertz commented on #205
Same issue here, works fine with minikube v1.18.1 and devel of awx-operator.

[2021-04-13 17:36] UnderGrounder96 commented on #205
And I thought I was doing something wrong, everything worked fine last week.
Thank you for the workaround, I hope the Ansible team solves this issue ASAP. 👍🏽

[2021-04-13 18:27] unixplex opened #209 "kubectl logs -f deployments/awx-operator - Error"
{"level":"info","ts":1618338056.0437276,"logger":"cmd","msg":"Go Version: go1.13.15"}
{"level":"info","ts":1618338056.0437598,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
{"level":"info","ts":1618338056.0437663,"logger":"cmd","msg":"Version of ansible-operator: v0.19.4"}
{"level":"info","ts":1618338056.0437725,"logger":"cmd","msg":"Git commit of ansible-operator: 125d0dfcc71fef4f9d7e2a42b1354cb

[2021-04-13 18:28] #209 closed, assigned to nobody

[2021-04-13 18:29] unixplex opened #210 "kubectl logs -f deployments/awx-operator - Error"
{"level":"info","ts":1618338056.0437276,"logger":"cmd","msg":"Go Version: go1.13.15"}
{"level":"info","ts":1618338056.0437598,"logger":"cmd","msg":"Go OS/Arch: linux/amd64"}
{"level":"info","ts":1618338056.0437663,"logger":"cmd","msg":"Version of ansible-operator: v0.19.4"}
{"level":"info","ts":1618338056.0437725,"logger":"cmd","msg":"Git commit of ansible-operator: 125d0dfcc71fef4f9d7e2a42b1354cb

[2021-04-13 20:25] vipamadi opened #211 "Change imagePullPolicy to use a local redis image"
Hi, I'm trying to deploy AWX 18.0.0 using local docker images at a machine without internet connection.

I've some trouble while I'm deploying the awx, postgres and redis containers.

At the awx-operator yaml file I can find some values to change the imagePullPolicy to Never and force minikube to use local docker imagest that I loaded. There're some examples:

https://raw.githubusercontent.com/ans

[2021-04-14 01:26] tchellomello commented on #211
@vipamadi yes, that is a good enhancement to be made and I'll add to my plate to provide a solution for it. Thanks for reporting the issue.

You could also use the `tower_redis_image` and point to an internal registry that does not need access to the internet, but I think you are looking from a different angle, which is not the local registry availability, but you just want to seek the image on th

[2021-04-14 01:37] tchellomello commented on #203
@techBeck03 do you want to check on your end again and report the results or since this worked for you on a fresh cluster, you would be OK in closing this one?

[2021-04-14 14:53] shanemcd commented on #175
Looks like this is already a thing! https://github.com/ansible/awx/issues/9807#issuecomment-819014975

[2021-04-14 14:53] #175 closed, assigned to nobody

[2021-04-15 04:48] unixplex commented on #210
Unable to connect to AWX after deployment on Kubernetes. any idea what is the issue? please assist.

[2021-04-15 04:51] unixplex commented on #211
please share the complete steps you followed using local docker image

[2021-04-15 13:42] daenney opened #213 "Waiting for postgres pod even though external postgres is defined"
[code]

[code]

Operator logs the following:
[code]

Given the postgres connection secrets are defined and passed in, why is the operator seemingly waiting (and thus erroring) on a postgres pod being available?

[2021-04-15 14:27] dsmaugy opened #215 "Use HTTP Proxy"
How do I configure AWX to use a HTTP proxy? With the old installation method I recall it was simply setting a couple variables in the inventory file but I'm not sure how to do it through the operator.

[2021-04-15 15:31] tchellomello commented on #215
@dsmaugy assuming that you want to export the variable to your `AWX` kind instance, you could use the options: `tower_web_extra_env` and  `tower_task_extra_env` to specify the proxy.  For example, take a look at this https://github.com/ansible/awx-operator/blob/devel/roles/installer/defaults/main.yml#L112-L120

[code]

If you want to extend the documentation with a PR it will be very welcome!

[2021-04-15 15:43] tchellomello commented on #213
@daenney  If you look at the code the task " Get the postgres pod information" is part of the https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/migrate_data.yml#L11  which will be imported when these conditions met:

https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/database_configuration.yml#L90
[code]

So are you trying to upgrade from a locally mana

[2021-04-15 15:44] daenney commented on #213
No, there isn't a locally managed postgres. It's remote in both cases (RDS). It wasn't clear to me it could only upgrade from a locally managed instance.

[2021-04-15 15:46] daenney commented on #213
The old instance predates 18.x release, and the migration docs suggested to me this is what we should do. Based on https://github.com/ansible/awx-operator/blob/devel/docs/migration.md there was nothing in there indicating to me it couldn't upgrade from an old, remote, database.

[2021-04-15 17:32] tchellomello commented on #36
worked for me. It's present on the `task_ee` now and worked as expected.
[code]
[code]

Closing but feel free to reopen if needed. Thanks!

[2021-04-15 17:33] #36 closed, assigned to nobody

[2021-04-15 17:37] tchellomello commented on #47
@ghost is this still an issue? I'm going to close this one as it worked for me using the updated `awx-operator.yaml` version. However, if that still happens to you, please reopen the issue. Thanks!

[2021-04-15 17:37] #47 closed, assigned to nobody

[2021-04-15 17:40] tchellomello commented on #52
Since currently, we are using the `operator-sdk`, a Helm chart is not yet in the plans but PR's will be always welcome! Closing this for now!

[2021-04-15 17:40] #52 closed, assigned to nobody

[2021-04-15 18:15] howardjones commented on #52
@Andysimcoe  this is what I did (apologies for thread-reaping a little bit): https://groups.google.com/g/awx-project/c/wBKJri1OvOI/m/JAJ5F_2hAQAJ

[2021-04-15 18:45] dsmaugy commented on #215
@tchellomello

Thanks for your response! I put this in my `awx.yml` config:
[code]

But when I restarted the pods, the environment variable still doesn't seem to be set.
[code]
(same results for awx-task pod)

Am I forgetting anything else?

[2021-04-15 19:56] tchellomello commented on #215
@dsmaugy once you updated the `awx` spec, the operator will do a reconciliation to apply the difference and because there is a new env, k8s should rollout a new replica for you. If you just killed the pod, you will ended up with the same status.

So to troubleshoot it, do this:

1. Double check if you applied `awx` spec has the expected configuration `tower_task_extra_env` and `tower_web_extra_env

[2021-04-15 20:09] tchellomello commented on #56
@kenichimilo  could you please try again with the latest version and then report if that still happens?

[2021-04-15 20:35] dsmaugy commented on #215
@tchellomello  Looks like I'm having trouble at Step 2. The environment variables do not get applied to the deployment.

If I take a look at operator logs, this is what I see:

[code]

I tried this both on the 0.8.0 operator release and the most recent release pushed to dev.

[2021-04-15 21:15] tchellomello commented on #215
@dsmaugy  are you running a `managed` PostgreSQL? Which was that one?

[2021-04-15 21:23] dsmaugy commented on #215
@tchellomello Yep, this is the only custom postgres setting I have defined: `tower_postgres_storage_class: hpe-iscsi`

[2021-04-16 03:52] tchellomello commented on #215
@dsmaugy I was able to reproduce a similar issue on the ` awx-operator`  side, however, after a few reconciliation loops, it worked fine for me. I'm currently working on patch.  If you check your deployment, you don't see the vars despite the error in the `awx-deploy` ? (`kubectl get deployments <NAME>`

[2021-04-16 04:15] tchellomello commented on #163
OK, I think I made some interesting findings. The problem hit with the `statefulset`  above was related to the labels we added as for `statefulsets`  only a few fields can be modified:  `replicas`, `template` , and `updateStrategy` can be updated. Deleting the `awx`  and having it created again will do the job.

Maybe we should add notes as `Breaking Changes`  or something similar in the documenta

[2021-04-16 04:27] dsmaugy commented on #215
@tchellomello Nope, even after a `kubectl rollout restart` the deployment remains untouched

[2021-04-16 04:29] tchellomello commented on #215
Alright, so to reproduce the issue we can do the following:
1. Install an `AWX` instance from scratch using the `devel`  image using a `managed`  DB. You will have something like below:

[code]

2. Once the instance gets deployed, modify the `AWX`  kind and add the following:
[code]

3. Because  of the change in the `AWX`, the `awx-operator`  will apply the changes (rendering the new jinja2 templa

[2021-04-16 10:05] techBeck03 commented on #203
I’m cool with closing it. Thanks!

[2021-04-16 10:05] #203 closed, assigned to nobody

[2021-04-16 10:10] kenichimilo commented on #56
Ok will do and let you know

[2021-04-16 12:17] Tyler-Ouellette opened #218 "Installing awx operator 19.0 Internal Server Error"
ISSUE TYPE
Bug Report
SUMMARY
When installing awx I am getting this error:
[code]

Internal 500 error due to zapper?

ENVIRONMENT
AWX version: 19.0
AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker
Ansible version: ansible 2.9.6
Operating System: Ubuntu 20.04
Web Browser: mozilla

STEPS TO REPRODUCE
From a fresh Ubuntu 20.04 instance with Virtualization enabled

[2021-04-16 12:32] unixplex opened #219 "AWX installation - Required complete steps - REQUEST"
Could anyone please share the complete steps how to install AWX 18 or 19 version? - Any method.

[2021-04-16 12:35] shanemcd commented on #219
- https://github.com/ansible/awx-operator#basic-install
- https://github.com/ansible/awx/blob/devel/INSTALL.md

[2021-04-16 12:35] #219 closed, assigned to nobody

[2021-04-16 13:36] unixplex opened #220 "Please share the complete installation steps for AWX 18/19"
Anyone could you please share the complete installation steps for AWX 18/19

[2021-04-16 17:54] bhundven commented on #218
Duplicate of #205
I also provide a work-around in that issue.

[2021-04-16 18:38] Tyler-Ouellette commented on #218
@bhundven I have used the work around, do i have to then revert minikube? I ran the commands to delete:

$ kubectl get validatingwebhookconfigurations
$ kubectl delete -A ValidatingWebhookConfiguration [configuration-name]

mine is the asame as yours: ingress-nginx-admission

so when i run that, and then redeploy the yaml. still does the same thing.

[2021-04-16 18:39] Tyler-Ouellette commented on #218
[code]
still same error :(

[2021-04-17 01:04] diegoturcios commented on #218
I confirm it works in redhat with this version of minikube: https://storage.googleapis.com/minikube/releases/latest/minikube-1.18.1-0.x86_64.rpm

[2021-04-17 02:23] tchellomello commented on #218
Closing as duplicate of #205

[2021-04-17 02:23] #218 closed, assigned to nobody

[2021-04-17 02:33] tchellomello commented on #213
@daenney I see your point. Having this configuration will enable you to move the  database from one place to another  (see more at https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/database_configuration.yml#L90-L95 and https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/migrate_data.yml#L59-L70)

So in your case, remove from your `awx` kind the old `tow

[2021-04-19 12:23] lovelife100 opened #222 "awx postgres connection time out"
Hi， I follow the instructions in the README to install awx with awx-operator on my k8s cluster `1.20.4`.

but after I finished all the installation steps, I found I can not access the awx web page.

the log in awx-web container show that it could not connect to the postgres, I also try to telnet the postgres port and also get failed.

my awx yaml is as below:
[code]
the image tag for awx operator

[2021-04-19 12:27] kenichimilo commented on #56
Unfortunately the error is still present..

An exception occurred during task execution. To see the full traceback, use -vvv. The error was: KeyError: 'getpwuid(): uid not found: 1000080000'
  | fatal: [localhost]: FAILED! => {"msg": "Unexpected failure during module execution.", "stdout": ""}

perhaps an entrypoint file would help in making sure that the operator is running as the right user..

[2021-04-19 12:54] tchellomello commented on #220
@unixplex  we see that you reported also https://github.com/ansible/awx-operator/issues/219 which was already answered by @shanemcd with the following:

https://github.com/ansible/awx-operator#basic-install
https://github.com/ansible/awx/blob/devel/INSTALL.md

Are you hitting any issues to get it installed?

[2021-04-19 14:29] tchellomello commented on #222
@lovelife100  could you get us the following:
[code]

What do you get in return for the commands below?
[code]

[2021-04-19 14:56] marioncaze opened #223 "problem with the name of the image"
Hi,

When installing my awx, I had the following problem:

`"error": 422, "item": "tower_deployment", "msg": "Failed to apply object: b'{\"kind\":\"Status\",\"apiVersion\":\"v1\",\"metadata\":{},\"status\":\"Failure\",\"message\":\"Deployment.apps \\\\\"awx\\\\\" is invalid: [metadata.labels: Invalid value: \\\\\"5000/awx\\\\\": a valid label must be an empty string or consist of alphanumeric char

[2021-04-19 15:12] Tyler-Ouellette commented on #218
Had to use 1.8 but thank you

[2021-04-19 16:13] daenney commented on #213
Thanks for the explanation. I tried pointing it at an existing external database and everything worked perfectly. I'll send a PR tomorrow with some doc updates!

[2021-04-19 19:10] UnderGrounder96 commented on #220
@unixplex I have created a repo that installs AWX v19.
Maybe that's the answer you're looking for, please have a look at: https://gitlab.com/UnderGrounder96/awx_install

[2021-04-19 21:54] lingenavd commented on #213
@tchellomello and @daenney,
brilliant, you were just a few hours ahead of me in my attempt to upgrade from 18.0.0 to 19.0.0 with external Postgres db!
I had the same issue tonight on k8s........I also have a remote Postgres db that could not be checked:

From the awx-operator (0.8.0) logs

_"msg": "The conditional check 'postgres_pod['resources'][0]['status']['phase'] == 'Running'' failed. The err

[2021-04-20 00:55] lovelife100 commented on #222
@tchellomello
the output of these commands is:
[code]

[2021-04-20 04:48] tchellomello commented on #223
@marioncaze yes, this seems to be a valid bug. Thanks for reporting and PR #224 should take care of it.

If you want to test it on your, please let us know the results. Thanks!

[2021-04-20 05:47] lovelife100 commented on #222
I found it is the network issue with the my k8s cluster, thanks for your comments.

[2021-04-20 05:47] #222 closed, assigned to nobody

[2021-04-20 09:25] evilmonkeyslayer commented on #211
Is there a way to force it to use a local redis image whilst we wait on a proper fix? I was trying to get this working in a no internet environment yesterday and redis was the only thing holding me back from getting it installed and working.

[2021-04-20 10:11] fust opened #225 "Resource request and limit for managed PostgreSQL not defined correctly"
According to the Readme the managed PostgreSQL statefulset supports customized resource requests and limits:
[code]

When applying above configuration the memory request and limit is put under the `volumeClaimTemplates` key which obviously doesn't affect the statefulset pods.

The problem is in the [tower_postgres.yaml.j2](https://github.com/ansible/awx-operator/blob/devel/roles/installer/template

[2021-04-20 11:21] sigarus opened #227 "Add tower_ee_command"
Add то cdr a field tower_ee_command similar in purpose to the tower_awx_command and tower_task_command.

[2021-04-20 11:54] Zokormazo opened #228 "Operator is looping trying to set a secret on a terminating state namespace"
I removed a couple of projects on a OCP cluster without removing the awx instances inside them.

Now the operator is looping trying to create secrets on them:
[code]

[2021-04-20 13:19] rooftopcellist commented on #228
Here is what I _think_ happened:
* you terminated the namespace my-namespace because you realized my old project was conflicting (yes, it was me... sorry :joy: )
* then you tried to create the tower-admin-password secret for your test deployment in the same namespace, but it was not done terminated
* it wasn't done terminating because it was caught up in the finalizer. In the past, when I've run i

[2021-04-20 13:41] #227 closed, assigned to nobody

[2021-04-20 13:42] sigarus commented on #227
I can use another ee

[2021-04-20 13:59] Zokormazo commented on #228
Rereproduced this on a fresh environment.

Steps:

1. Install operator
2. Deploy an awx instance with it on a random namespace
3. Remove the namespace

Finalizer fails trying to remove `the ownerReference`

[code]

[2021-04-20 18:04] ewebcat commented on #201
I get the same error

bash-4.4$ awx-manage inventory_import --inventory-name winservers --source ./test.yaml
    0.995 INFO     Updating inventory 2: winservers
2021-04-20 18:04:21,346 DEBUG    [-] awx.analytics.job_lifecycle inventoryupdate-114 created
    1.287 INFO     Reading Ansible inventory source: /var/lib/awx/projects/_8__mygit/test.yaml
Traceback (most recent call last):
  File "/usr/bin

[2021-04-21 09:11] marioncaze commented on #223
Hi @tchellomello,

I just restarted the installation with your fix and it works!

Thanks

[2021-04-21 09:24] vipamadi opened #229 "Root access at awx-operator container"
Hi, I need a way to access root user at the awx-operator docker container.

[code]

Is there any way to do it?
Where can I find the root password or modify it before deploying the pod?

I need it to modify the file /opt/ansible/roles/installer/templates/tower_deployment.yaml.j2 .  Problem: #211 Resolution: #212

[code]

[2021-04-21 11:19] unixplex commented on #220
Thank you for your response. let me try and update you

[2021-04-21 11:54] UnderGrounder96 commented on #220
@unixplex if you would happen to have any questions regarding my installation approach, please create an issue ticket under my gitlab repo. 😄

[2021-04-21 12:12] unixplex commented on #220
yes sure 👍

[2021-04-21 12:21] daenney opened #230 "ingress doesn't quite work with AWS ALB"
I deployed AWX using the operator without an ingress at first and could succesfully access the web UI etc using `kubectl port-forward`. Having switched to an ingress resource using an AWS ALB I am greeted with a blank page in my browser because it fails to fetch the CSS and JS bundles from `/static`.

My AWX resource looks like:
[code]

This results in an ingress of:

[code]

The rules this genera

[2021-04-21 12:24] daenney commented on #230
An alternative could be something like `tower_ingress_path_wildcard: yes|no`?

[2021-04-21 13:15] #213 closed, assigned to nobody

[2021-04-21 13:19] evilmonkeyslayer opened #232 "Changing redis:latest in main.yml does nothing"
I've recently had the issue [as mentioned here](https://github.com/ansible/awx-operator/issues/211) where no matter what I do awx-operator tries to pull redis:latest from the internet.

On line 130 of awx-operator/roles/installer/defaults/main.yml on line 130 is the text:

`tower_redis_image: redis:latest`

If this is changed to: `tower_redis_image: redis:6.2.1` it still tries to grab the latest t

[2021-04-21 14:37] tchellomello commented on #232
@evilmonkeyslayer  are you setting the `tower_redis_image` on your  `AWX` kind?  For example:
[code]

Then  the  `awx-operator`  will work to reconcile the deployment, which means after this change, you should expect a `rollout`.  Then confirm if the  `awx` has the change you performed and check the deployment.

[2021-04-21 14:49] tchellomello commented on #229
@vipamadi you can´t modify the files once the container is already running. You will need to modify the playbook, then rebuild the `awx-operator` container yourself to get that change applied.  You could do something like:

[code]

Or if you want, in the meantime, you could use the image I hosted here: https://hub.docker.com/repository/docker/tchellomello/awx-operator/

[2021-04-21 15:13] evilmonkeyslayer commented on #232
This is modifying the file mentioned above before running `kubectl apply -f deploy/awx-operator.yaml` and `kubectl apply -f my-awx.yml`

After modifying the files mentioned above I expected it to try and install redis 6.2.1 or from my test lan registry.

Ah.

I just modifed my-awx.yml with:

[code]

And it successfully grabbed redis.

[code]

EDIT: I am now using the change from [this branch](http

[2021-04-21 17:19] RylandDeGregory opened #233 "Use ingress with multiple annotations"
I'm not sure how to provide multiple ingress annotations in my `my-awx.yml` spec. I've tried the following:

1. Using YAML map
[code]
2. Using YAML array
[code]
3. Using folded-block scalar
[code]
4. Using literal-block scalar
[code]

All of them fail for different reasons. What is the correct way to describe a deployment with multiple annotations?

[2021-04-21 17:30] shanemcd commented on #182
@MrAmbiG You cannot install AWX 15 with this operator.

@tchellomello I think we should just remove the section "Deploying a specific version of AWX" from the readme. It's obviously confusing people and making them think they can install any version of AWX with any version of the Operator.

We should document the `tower_image` variable if people want to mirror the image in their own registry, but

[2021-04-21 17:31] RylandDeGregory commented on #233
I found that I need to specify quotes around the `true` in the annotation, but **Literal Block Scalar** notation is the correct one, apparently. See https://yaml-multiline.info/
[code]

[2021-04-21 17:31] #233 closed, assigned to nobody

[2021-04-21 18:04] MrAmbiG commented on #182
Well I just did, I was able to deploy awx 15 with 0.6.0 operator. When I deployed awx with the 0.6.0 operator it deployed the awx 15, on 3 k8s clusters. It will be great if you have an option to mention the version of awx in the awx.yaml, and you can list the supported awx versions in the operator's readme file.

[2021-04-21 18:26] unixplex commented on #220
@UnderGrounder96 I have installed AWX with Kubernetes. It works. Thank you.

Let me try to install using docker way of installation.

[2021-04-21 20:44] #211 closed, assigned to tchellomello

[2021-04-21 20:44] #229 closed, assigned to nobody

[2021-04-21 21:36] RylandDeGregory opened #236 "AWX cannot launch jobs - no available capacity to run containerized job"
Since I've added a new execution environment, I am now unable to launch jobs using any execution environment. I'm not sure why the capacity shows 0...is there a setting I need to configure?

This is the error output from `awx_task`:

[code]
and the same error in AWX web ui: ![Screen Shot 2021-04-21 at 5 34 54 PM](https://user-images.githubusercontent.com/18073815/115623946-e5a63a00-a2c7-11eb-82d9-

[2021-04-21 21:46] shanemcd commented on #236
Very interesting. It looks like maybe your custom EE ran as root? Will need to think about ways to prevent letting you get into this state to begin with.

As a workaround, do things work with the default EE if you delete your AWX pod and let it recreate?

[2021-04-21 21:50] RylandDeGregory commented on #236
It happened because I was following the instructions here https://github.com/ansible/awx/issues/9917, here https://github.com/ansible/ansible-builder/issues/206, and here https://github.com/ansible/ansible-builder/pull/205 to finally get a custom EE up and running that would allow the pod to create. It's been very painful...but adding the `USER root` was the only thing that allowed the custom EE t

[2021-04-21 21:53] tchellomello commented on #182
@shanemcd  @MrAmbiG guys, I've added a draft note on the PR #235 to cover this scenario. Please let me know your thoughts!

[2021-04-22 04:56] tchellomello opened #237 "Implement molecule to test upgrade from current release to latest devel"
Implement molecule to test upgrade from current release to latest devel

[2021-04-22 04:58] tchellomello opened #238 "Modify tower-task container to wait database to populated during initial setup"
During the initial `awx` setup, the `tower-task`  container gets too noisy connecting to the database while what schema is being populated.

We should wait for the db to populate and then let `tower-task` start.

**Logs**
[code]

[2021-04-22 06:37] #139 closed, assigned to nobody

[2021-04-22 07:23] binhvcom commented on #201
i get the same error

~# kubectl exec --stdin --tty awx-b5f6cf4d4-mw4tj --container awx-task -- awx-manage inventory_import --inventory-name master --source /tmp/master --overwrite
    0.957 INFO     Updating inventory 3: master
2021-04-22 07:21:31,988 DEBUG    [-] awx.analytics.job_lifecycle inventoryupdate-58 created
    1.115 INFO     Reading Ansible inventory source: /tmp/master
Traceback (mos

[2021-04-22 10:02] ewebcat commented on #201
yaml was not formatted properly. ignoe my post.

[2021-04-22 10:08] afhtan opened #239 "External Database Password with Special Characters"
When deploying AWX with external database configuration; the password in awx-web:/etc/tower/conf.d/credentials.py has additional single quotes around the password if the password contains special characters.

As a result, the awx-web container is unable to connect to the database and I am getting errors related to invalid credentials.

When the special characters are removed from the password the

[2021-04-22 11:06] unixplex commented on #220
@UnderGrounder96 , I have installed AWX 19 through Docker Compose for Development. but unable to connect AWX GUI.
I have used ports mentioned in the compose file (using http and https)

Could you please assist here?

# docker ps
CONTAINER ID   IMAGE                         COMMAND                  CREATED       STATUS          PORTS

[2021-04-22 14:09] shanemcd commented on #239
@tchellomello We fixed this right? Maybe we just haven't pushed it out in a release yet?

[2021-04-22 14:10] shanemcd opened #240 "Switch to using Red Hat's postgresql-12 image"
Right now we are using the upstream `postgres:12` image. Before we can ship this to customer's we need to start using `registry.redhat.io/rhel8/postgresql-12`.

This is not a simple drop-in replacement like the `redis` image because the environment variables are different.

Upstream postgres uses variables prefixed with `POSTGRES_`. Red Hat's image uses `POSTGRESQL_`

Things we need to figure out:

[2021-04-22 14:38] tchellomello commented on #239
@shanemcd yes, that was fixed by https://github.com/ansible/awx-operator/pull/206

@afhtan if you deploy the devel image, you should be fine.

[2021-04-22 15:42] tchellomello commented on #238
As proof of concept, adding the following on the `awx` kind did the trick:

[code]

Then checking the logs we have:
[code]

So addressing the https://github.com/ansible/awx/blob/devel/tools/ansible/roles/dockerfile/files/launch_awx_task.sh should do the job

[2021-04-22 17:31] #182 closed, assigned to nobody

[2021-04-22 17:31] #223 closed, assigned to nobody

[2021-04-22 17:31] #232 closed, assigned to nobody

[2021-04-22 17:33] #225 closed, assigned to nobody

[2021-04-22 18:37] tchellomello commented on #238
Closing as PR got merged. It should be included on the next release.

[2021-04-22 18:37] #238 closed, assigned to tchellomello

[2021-04-22 23:20] afhtan commented on #239
Thanks. The devel branch awx-operator image does not have this issue.

Note: I downloaded the devel branch awx-operator.yaml file and updated the deployment definitions image version. It is set to 0.8.0 in the image version instead of 'devel'

[2021-04-22 23:20] #239 closed, assigned to nobody

[2021-04-23 00:46] #220 closed, assigned to nobody

[2021-04-23 08:38] TheBigBear commented on #205
Trying to go back to 1.18.1 under Mac OS using brew , but brew removed switch and minikube is not versioned as per brew's understanding of versioning. So how do you guys go back to qinikube 1.18.1 to work mourned this? brew now only supports latest supported versioned version of a software pkg ...

[2021-04-23 17:56] RylandDeGregory opened #242 "Feature request: Ability to add custom labels to EE pods"
I am attempting to use [AAD Pod Identity](https://azure.github.io/aad-pod-identity/docs/) to grant my AWX environment implicit access to Azure Key Vault using a user-assigned Managed Identity.  One of the requirements is that the pods be labeled with the name of the Managed Identity to use, like this:

[code]

The process works as expected, and I was able to validate by performing `kubectl label p

[2021-04-24 16:35] medyagh commented on #205
sorry for this issue, we are aware of this bug, we introduced https://github.com/kubernetes/minikube/pull/10879 that unfortunately was not detected by our integration tests, applogize for all the inconvenience, this will be high priority to be fixed in the version coming next please track https://github.com/kubernetes/minikube/issues/11121 for the updates

[2021-04-24 21:16] govargo commented on #205
Hi awx-operator developers and users,
Sorry for this issue. We will add the workaround by the PR https://github.com/kubernetes/minikube/pull/11189 so that ingress resource can be created.
And we will add integration test pattern to check if the ingress resource can be created.

It seems that the awx-operator uses old ingress version(extensions/v1beta1), but I think https://github.com/kubernetes/mi

[2021-04-25 11:06] lukasertl commented on #242
I'd like to add to this request the ability to add custom annotations to the EE pod.

With a custom annotation the EE could use the Hashicorp Vault agent injector to access secrets in Vault.

[2021-04-25 15:17] sean-m-sullivan opened #246 "Postgres failure when setting requirements"
I tried to edit the requirements on postgress to scale it down for a dev cluster, and found when setting the following part in the awx_def
[code]
That I get this error in the stateful set
`create Claim postgres-awx-postgres-0 for Pod awx-postgres-0 in StatefulSet awx-postgres failed error: PersistentVolumeClaim "postgres-awx-postgres-0" is invalid: spec.resources[storage]: Required value`

I've tr

[2021-04-26 01:59] #202 closed, assigned to nobody

[2021-04-26 02:16] tchellomello commented on #97
I just tested locally and worked for me
[code]

[code]

[code]

Deployed a fresh `awx`  and worked fined.
[code]

Closing since it worked for me. If you still are hitting this issue, please reopen with more details so we can investigate it further. Thanks!

[2021-04-26 02:16] #97 closed, assigned to tchellomello

[2021-04-26 02:18] tchellomello commented on #210
@unixplex are you still hitting this issue? Can you test with the latest devel?

[2021-04-26 02:20] tchellomello commented on #150
Closing this as it was documented on PR https://github.com/ansible/awx-operator/pull/214

[2021-04-26 02:20] #150 closed, assigned to nobody

[2021-04-26 02:23] tchellomello commented on #78
Upgrades should be automatically whenever the `awx-operator` gets upgraded. Please note as the only supported AWX version is the one shipped with the current `awx-operator` version as explained at https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx

Closing this for now since it is already present in the `README`

[2021-04-26 02:23] #78 closed, assigned to nobody

[2021-04-26 02:24] tchellomello commented on #25
Closing as it was included on PR #204

[2021-04-26 02:24] #25 closed, assigned to nobody

[2021-04-26 02:27] tchellomello commented on #31
Closing this for now as there is no bandwidth for `arm` architecture right now but please PR are always welcome.

[2021-04-26 02:32] tchellomello commented on #59
This issue was related to https://github.com/ansible/awx/issues/8454 and the PostgreSQL at https://github.com/ansible/awx-operator/issues/59#issuecomment-747140379 is related to the database being populated during the first time which was fixed as mentioned at https://github.com/ansible/awx-operator#deploying-a-specific-version-of-awx which should be addressed on the next AWX release.

Closing for

[2021-04-26 02:32] #59 closed, assigned to nobody

[2021-04-26 02:33] tchellomello commented on #121
Any updates on this @adammike?  Thanks

[2021-04-26 03:04] tchellomello commented on #246
Just build a fresh image from `devel` and test the following:

1. Created a fresh `awx` without any special values (worked as expected)
[code]

2. Upgraded the PostgreSQL `statefulset` as mention
[code]

Which throws the error below
[code]

I believe my error was different because https://github.com/ansible/awx-operator/pull/226, however, since the `statefulset` has some specials fields that can b

[2021-04-26 03:07] tchellomello commented on #246
Maybe we could extend the https://github.com/ansible/awx-operator/pull/217 to cover this scenario

[2021-04-26 03:38] sean-m-sullivan commented on #246
I'm not able to right now, but will in morning, however, this was in a
github pipeline where it was a fresh mini kube every deploy.

On Sun, Apr 25, 2021, 10:07 PM Marcelo Moreira de Mello <
***@***.***> wrote:

[2021-04-26 11:28] andriktr commented on #246
+1. I Have the similar issue if set the following in the awx.yaml
[code]

Stateful set throws:
![image](https://user-images.githubusercontent.com/25537180/116075492-b0209880-a69b-11eb-9e3d-1094bcb2c996.png)

I believe that recently `storage` request and limits was under the `tower_postgres_resource_requirements` and when it was changed it started to behave like this.

[2021-04-26 14:19] sean-m-sullivan commented on #246
So I tried just from start deploying
[code]
and got this postgres error
[code]

But then I deleted minikube entirely, and did the two part starting with this
[code]
  and then using the other, it looks like postgres is healthy.

[2021-04-26 16:12] tchellomello commented on #246
Hello guys, I generated a fresh image from devel and then deployed the following and I cannot reproduce the same error when deploying a new `awx` kind

[code]

Then the PostgreSQL `statefulset` worked

[code]

Checking the resources:
[code]

[2021-04-26 17:05] shanemcd commented on #205
Hi @govargo - thank you for taking the time to help us out.

FWIW, I tried to update our `Ingress` object to use `networking.k8s.io/v1`, but am still seeing the same error. I will try to test the patch you linked, if I can figure out how to build minikube myself. Otherwise I'll just wait until the next version is released.

[2021-04-26 17:29] shanemcd commented on #205
@govargo The installer now gets past the part where it was failing, but when I try to get the service URL from minikube I see:

[code]

[2021-04-26 17:45] shanemcd commented on #205
Ignore my last comment. It seems like something else has broken on our end. Thanks for your help @govargo

[2021-04-26 21:00] shanemcd commented on #205
Just to condense everything down: this will be fixed in the next version of minikube.

[2021-04-26 21:04] #163 closed, assigned to tchellomello

[2021-04-26 21:04] #215 closed, assigned to tchellomello

[2021-04-27 04:24] govargo commented on #205
Hi shanemcd

If you want to try patched minikube, you can do by following methods.
[code]
[code]

Yes, the next version release will fix this issue.

Thank you.

[2021-04-27 08:43] giskarda commented on #205
does this mean the bug has been fixed? should the bug still be marked as open?

[2021-04-27 17:41] lukasertl commented on #242
Meanwhile I found that you can do this already by changing the pod definition in the tower instances Interface.

[2021-04-27 18:32] RylandDeGregory commented on #242
@lukasertl thank you so much, that worked perfectly!

[2021-04-27 21:14] wiqu85 opened #252 "OKD 3.11 Unable to update the status to mark cr as running"
Hi,
i try to installing AWX on my OKD cluster, and receive this error message from awx-operator pod

[code]
Step to reproduce:
1. deploy https://raw.githubusercontent.com/ansible/awx-operator/0.7.0/deploy/awx-operator.yaml
2. deploy AWX object on two projects (default and awx)
[code]
No other pod was created ;/

[2021-04-28 03:31] tchellomello commented on #246
@sean-m-sullivan I just merged the PR that addresses the part of the problem here. Since was I was not able to reproduce, if you could provide more details so we can get to the bottom of this would be great.

[2021-04-28 03:32] tchellomello commented on #246
Is that because your YAML spec is missing the correct intention?

[2021-04-28 04:19] tchellomello commented on #252
@wiqu85  could you try using the latest devel or the `0.0.8`?

[2021-04-28 05:50] andriktr commented on #246
Nope in case of wrong intention yaml would be not applied at all.
In my original file intention for `spec.` directive is OK.

[2021-04-28 09:35] wiqu85 commented on #252
Yes, i try with deval and 0.0.8. Today I reinstall OKD (version 3.11-323-1). In completely new cluster OKD. I deployed
[awx_operator](https://raw.githubusercontent.com/ansible/awx-operator/devel/deploy/awx-operator.yaml) in default project, I changed only API version from:
[code]
to:
[code]
becouse in orginal version a I was a error:
`error: unable to recognize "awx_operatorde.yml": no matches for

[2021-04-28 10:41] MateuszKuchniak-TomTom opened #254 "[ Instance Groups ] Jobs running on custom instance group fail or are in running state forever"
Hi,

I am trying to setup custom instance group so that we can use multiple Ansible version as needed per job. I've created instance group with ansible 2.10 image. Running any job on this instance group fails with following error:

[code]
Or the job is in running state forever, without any info in stdout. In both cases the pod with image is scheduled. I've tried many custom pod templates, running

[2021-04-28 16:24] RylandDeGregory commented on #254
Getting the same error with a custom EE created using ansible-builder. The official 0.1.1 EE image works fine for me though.

UPDATE:

After doing some testing, if you define anything in the awx spec under `tower_ee_images`, it fails to launch jobs, including if you define the 0.2.0 version of the AWX EE.

[code]
---

Unrelated, but I've also seen that the "Execution Environment" that you specify

[2021-04-28 19:36] tchellomello commented on #246
@andriktr did some testing with @sean-m-sullivan  this morning and using the `devel` and the latest `awx-operator.yml` worked for him.  Would mind trying on your end?

[2021-04-28 19:51] #188 closed, assigned to tchellomello

[2021-04-28 20:57] andriktr commented on #246
Yep, looks ok now. Thanks.

[2021-04-28 21:17] wiqu85 commented on #252
I thinking the problem is in apiVersion. OKD 3.11 supported only v1beta1. Is any way to conver this CRD to v1beta1 version ?

[2021-04-29 05:34] dsmaugy commented on #215
Hey @tchellomello , thanks for looking at this. I tried the newest operator image and version but it still didn't fix it.

It turns out the problem was my yaml. My NO_PROXY variable starts off as a wildcard, so it looked something like this:
 `NO_PROXY: *.example.com` . The `*` at the beginning was the culprit the whole time 🤦

 All I had to do was quote my variable and everything worked fine. Jus

[2021-04-29 12:05] daenney opened #255 "Old execution environments cannot be removed"
If I remove an execution environment from `tower_ee_images` and wait for the pods to relaunch, the execution environment is still shown in AWX -> Execution Environments. It's also not possible to delete them there by hand, even though I'm logged in as an admin.

[2021-04-29 12:06] daenney opened #256 "Cannot update execution environment version in place"
I have this:

[code]

I wanted to update to v0.1.2, so I updated the image. The operator caught on, pods restarted but when going into AWX -> Execution Environments I still see the "my-env" environment using the v0.1.1 tag

[2021-04-29 12:36] tchellomello commented on #215
Thanks for the update @dsmaugy

[2021-04-29 13:00] daenney commented on #236
I'm stuck on the exact same thing right now. @RylandDeGregory did you manage to work around this somehow?

[2021-04-29 13:19] RylandDeGregory commented on #236
@daenney no, I have not. I've basically given up on using a custom EE, as they seem to just not work at all right now even if you can manage to black magic your way to a working ansible-builder image. See: https://github.com/ansible/awx-operator/issues/254#issuecomment-828592473

[2021-04-29 13:22] daenney commented on #236
@RylandDeGregory :sob:.

I need a custom EE b/c based on my understanding that's the only way to get collections installed. Does anyone have a way around either the EE issue or getting collections sorted?

[2021-04-29 13:52] ilijamt commented on #236
I basically did this.

[code]

[code]

I gave up on using ansible-builder as it's missing dependencies in the build process. I even tried running a blank environment to just see if it's going to work nope same error.

[2021-04-29 13:59] RylandDeGregory commented on #236
@daenney you can use a requirements.txt in the root of your git repository. See: https://docs.ansible.com/ansible/devel/user_guide/collections_using.html#install-multiple-collections-with-a-requirements-file

Additionally, the default EE ships with a lot of Collections pre-installed: https://github.com/ansible/awx-ee/blob/devel/_build/requirements.yml

[2021-04-29 14:53] #246 closed, assigned to nobody

[2021-04-29 14:54] sean-m-sullivan commented on #246
Since we've verified that this has been fixed closing issue, thanks for all the help @tchellomello

[2021-04-29 15:05] tchellomello commented on #242
Just for the documentation, here is a screenshot of how you extend  custom labels to your `ee` pods;

Instance Groups --> edit the instance group ---> `Customize pod specification`

![image](https://user-images.githubusercontent.com/809840/116572985-6d003880-a8da-11eb-9869-3709d96fc631.png)

So I guess we already have a place for that in the AWX itself which allows more freedom than setting it on

[2021-04-29 15:11] daenney commented on #236
Yeah. Unfortunately community.general and community.aws are missing, both of which I need :disappointed:. I guess I'll resort to bundling it

[2021-04-29 15:12] daenney commented on #236
@ilijamt Just for my understanding, did doing that and then using it as an EE work for you? Or did you manage to build it that way but then still get stuck?

[2021-04-29 15:17] RylandDeGregory commented on #242
Hey @tchellomello I understand that this is possible, and I've gotten it working using this approach.

But, telling me to go make a pod spec customization in the GUI is not the answer I wanted. This is squarely a code change, not a DB or UI change, and should be possible to set in the code that I use to deploy AWX.

[2021-04-29 16:20] ilijamt commented on #236
It builds and I can run it but it's not detecting the collections. I
manually logged in the container and the collections and roles are there
but not picked up when the ansible runs, which is weird. Haven't had a
chance to take a deeper look into why it's not being picked up.

On Thu, 29 Apr 2021, 17:12 Daniele Sluijters, ***@***.***>
wrote:

[2021-04-29 16:37] daenney commented on #236
Your Dockerfile seems to work for me! It also picks up the extra collections I installed that way. Thanks a lot for the help.

W.r.t collections, it might be worth double-checking if you specify `collections_paths` in any `ansible.cfg`, and make sure it includes the `/usr/share/...` path too.

[2021-04-29 16:38] jamesfreeman959 opened #259 "Issue creating persistent storage for /var/lib/awx/projects in awx-task container"
Hi there

I have deployed AWX via awx-operator 0.8.0 on microk8s 1.20.6 on Ubuntu 20.04 LTS. All seems to be working well except that I cannot figure out how to get the /var/lib/awx/projects directory to live in a persistent storage volume. Right now this is a simple, single node setup, so I have created a persistent volume claim as follows:

[code]

I've been playing around with volumes, but my c

[2021-04-29 21:41] tchellomello commented on #242
I hear you @RylandDeGregory. As this can be overridden by the webUI, this change would need to be coordinated with AWX as to what would happen when you have in both places.

For now, leaving it open with `help wanted` and PR's are always welcome.

[2021-04-30 03:53] tchellomello commented on #259
Hello @jamesfreeman959, I think what is missing you to pass the option below:

[code]

For example:
[code]
Results in this:

[code]

 You don't need to use the `extra_volume_mount` as the `/var/lib/awx/projects`  should be cover that using the options above.

 Check the https://github.com/ansible/awx-operator#persisting-projects-directory and https://github.com/ansible/awx-operator/pull/177 for fu

[2021-04-30 03:57] tchellomello commented on #256
@daenney  could you please elaborate and provide some command outputs from the steps you have taken?  Interested in seeing a pattern to reproduce the same issue. Thanks!

[2021-04-30 05:05] PugTheBlack opened #260 "Issue creating persistent storage for /var/lib/awx/projects and postgresql - using awx-operator 0.8.0"
I am currently testing out Kubernetes, and have set up a 4 node Microk8s Cluster on Ubuntu 20.04.2 LTS with Ceph (using the Rook operator branch 1.16)

4 virtual machines (4vCPU, 16GB RAM, 60GB OS disk + 200GB RAW disk for Ceph)

[code]
[code]

[code]
[code]
[code]
I installed the awx-operator without modifications and created a "my-awx.yaml" file to deploy a fairly basic install using rook-ceph-b

[2021-04-30 05:07] eniomachado opened #261 "Can't access Instance Group from Administration Menu"
Hi,
I installed awx-operator on openshift 4.6.13. When I'm trying to access "Instance groups", I'm getting an error in browser:

**Something went wrong ...**
**There was an error loading this content. Please reload the page. Back to Dashboard.**
**Details >>>
OPTIONS /api/v2/instance_groups/ 500
A server error has occurred.**

Checking the log in the "awx" pod, I get the error:

2021-04-30 04:42:5

[2021-04-30 07:51] Commifreak commented on #193
Re-applying the my-awx is enough? What about the operator upgrade from 0.7.0 to 0.8.0?

[2021-04-30 08:20] ilijamt commented on #236
For me I'm trying to use the collections in the inventory, in the playbook it works but not during a dynamic inventory.

[code]

[2021-04-30 09:13] Commifreak commented on #182
I dont know if this is the correct place, but:

### How to update AWX running in minikube

1. minikube kubectl -- delete -f myawx.yml
2. minikube kubectl -- delete -f awx-operator.yml
3. Download the new awx-operator .yml @ `https://raw.githubusercontent.com/ansible/awx-operator/<tag>/deploy/awx-operator.yaml` or apply by using this url after `-f`
4. minikube kubectl -- apply -f awx-operator.yml
5

[2021-04-30 09:59] daenney commented on #256
I did: `kubectl edit awx/awx` and changed the version of the `image` key without changing the `name`. I waited for the operator to kick in and for the new AWX pods to be started. After that, I navigated to the Execution Environments in the AWX UI and noticed that the EE was still pointing at the old image tag.

[2021-04-30 11:49] jamesfreeman959 commented on #259
Hi @tchellomello

Thanks so much for your awesome help - so progress has been made. I added the missing line to the YAML file defining the `my-awx` service, and whilst I'm not using NFS, I'm just using a local disk store (single node, super simple example), everything looks better:

[code]

So I can see my test file in there, which I know I created within the PVC on my microk8s host, so the persis

[2021-04-30 15:16] tchellomello commented on #259
Great news @jamesfreeman959

 For that, make sure you have the `/var/lib/awx/projects/mydir` and then the playbook inside of that. Makes sure the directory is also owned by the `awx` user.

[2021-04-30 15:26] jamesfreeman959 commented on #259
Thanks @tchellomello - unfortunately I have that set up (though if you can see an error in my setup please let me know!).

This output was taken from a shell inside the `awx-task` container:

[code]

As you can see, I have a valid (albeit Hello World) playbook, the file itself and directory are owned by `awx` and are under `/var/lib/awx/projects`.

Am I missing something or is something invalid in

[2021-04-30 17:35] tchellomello commented on #259
Interesting.. I gave it a try and yes, I was able to reproduce it.

[code]

![image](https://user-images.githubusercontent.com/809840/116731187-61cf0a80-a9b7-11eb-8511-6b1a83750773.png)

So the problem here is because the `awx-web` does not mount the  `/var/lib/projects` and that is a requirement when setting it manually.  Once I created it on the `awx-web` it worked like a charm.

![image](https:

[2021-04-30 17:46] #259 closed, assigned to tchellomello

[2021-04-30 19:45] supremedacos commented on #261
I am also experiencing this.

[2021-04-30 21:15] supremedacos commented on #261
I think there are 2 bugs here, first one is the code is looking for the config name `DEFAULT_EXECUTION_ENVIRONMENT` but awx-operator is creating, `DEFAULT_EXECUTION_ENVIRONMENTS`
https://github.com/ansible/awx/blob/f5c176701b0551e179bb4ef663b57fd3a6ba6f0a/awx/main/utils/execution_environments.py#L7
https://github.com/ansible/awx-operator/blob/8656ee1a1dc9593b2fe9615b390aaad3f852a4f8/roles/installe

[2021-04-30 21:19] FullofQuarks opened #265 "Integrated Postgres storage class variable not respected"
The `tower_postgres_storage_class` (https://github.com/ansible/awx-operator/blob/devel/README.md#managed-postgresql-service) spec property does not seem to be respected.

What should happen: The PVC created should respect the `tower_postgres_storage_class`
What actually happens: The PVC is created with the default storage class

Kubernetes version: 1.19.6
AWX Operator version: v0.8.0

[2021-04-30 21:30] supremedacos commented on #261
This is not Ideal but, I got around this by setting the `managed_by_tower = 't'` directly in the DB
[code]

[2021-05-03 09:46] sfhl commented on #261
Hi there,
i have got this issue too.

i have set `DEFAULT_EXECUTION_ENVIRONMENT = DEFAULT_EXECUTION_ENVIRONMENTS` in `execution_environments.py`

Now the log tells me the following error when accessing the instance page:

[code]

[2021-05-03 10:06] stanislaspiron opened #267 "version 19.1.0 appended to tower_image value / impossible to provide specific version"
## issue description
awx-operator image : "quay.io/ansible/awx-operator:0.9.0"
installation method:

[code]

Kubernetes solution : ubuntu 20.04 / microk8s 1.20

AWX configuration file:
[code]

AWX task & web pods are not created because of following reason:

[code]

Pod events are:

[code]

## workaround to install 19.1.0

To install the 19.1.0, I removed the version in tower_image parameter.

[2021-05-03 12:38] endriu0 commented on #267
@stanislaspiron run into this - it seems one of recent pr's changed the image to be split into two separate fields and
 second one by default picks 19.1.0
[code]

[2021-05-03 12:41] endriu0 commented on #261
Had the same issue and found issue here or on awx gh - not sure where now which said that :

[code]
needs to be true.

I kept it as false since in the past it would create demo templates but it seems it's no longer doing that.

[2021-05-03 12:54] eniomachado commented on #261
Thanks @dacosta89 !

[2021-05-03 12:55] eniomachado commented on #261
@endriu0 where and how can I change to be "true"? Thanks!

[2021-05-03 13:05] endriu0 commented on #261
Hey @eniomachado  depends how you installed it but gonna assume you installed operator and then used kubectl on a awx yaml file with no overrides. If so you will need to add to your my-awx.yaml this line under spec and apply again :

tower_create_preload_data: true

And then kubectl apply -f my-awx.yaml

Example of my-awx.yaml file :

[code]

[2021-05-03 13:06] endriu0 commented on #261
Found the issue : https://github.com/ansible/awx/issues/9851

[2021-05-03 13:44] shanemcd commented on #255
Let's track this in your AWX issue.

[2021-05-03 13:44] #255 closed, assigned to nobody

[2021-05-03 13:49] eniomachado commented on #261
Hi @endriu0 this solution works for me, thanks for your help.

@dacosta89 have a look, what @endriu0 said about "tower_create_preload_data: true", should be a better fix.

[2021-05-03 13:49] eniomachado commented on #261
![image](https://user-images.githubusercontent.com/13068058/116884595-49e8c800-abfd-11eb-9ae4-6de52f84d12f.png)

[2021-05-03 14:30] shanemcd commented on #267
Yep, @endriu0 is correct. There is now a separate `tower_image_version` variable.

[2021-05-03 14:30] #267 closed, assigned to nobody

[2021-05-03 14:32] shanemcd commented on #261
Hi all. Let's track this in https://github.com/ansible/awx/issues/9851

[2021-05-03 14:32] #261 closed, assigned to nobody

[2021-05-03 14:33] stanislaspiron commented on #267
Thanks @endriu0 and @shanemcd... I missed this configuration change.

[2021-05-03 14:44] kimbernator opened #269 "Feature request: Specify custom labels for service"
Our proxy auto-discovers services based on labels, and at this point I don't know of a better way to add the necessary labels other than to create the AWX instance, wait for the service to appear, then to patch the labels in. Is there a more elegant way to include custom labels in the service than this, and if not can we add a property for custom labels?

[2021-05-03 14:44] shanemcd commented on #267
No worries. We'll get better at documenting / communicating changes like this as we leave the alpha phase.

[2021-05-03 15:03] DanRod1 opened #270 "awx installation by awx-operator"
Hi,
i am spending several days to install awx on the my kubernetes cluster.
I try to follow the documentation which is a little light but no result.

I use the awx-operator 0.8.0
My manifest is on the zip attached.

The result of apply is a lot pods in evicted state
**[binfra.ansible.user@s491liak8mstr1 ~]$** kubectl get pod -n awx
NAME READY STATUS RESTARTS AGE
awx-7cc97f7bd-rf45f 0/4 ContainerCr

[2021-05-03 16:17] tchellomello commented on #270
@DanRod1 can you please try again with the latest `0.9.0`.

If you experiece the same issue, please provide the following:

[code]

[2021-05-03 17:06] tchellomello commented on #265
Hello @FullofQuarks. I tested with the latest `0.9.0` and worked for me.

**my storage classes**
[code]

**my awx spec**
[code]

**extra info**
[code]

**PVC created as expected**
[code]

[2021-05-03 17:10] tchellomello commented on #260
@PugTheBlack it looks like a problem on the `storage` provisioner other than the `awx-operator` itself.

[code]

I would investigate the issue related with the `rook-ceph` and the message above which might lead you to the direction on fixing it. I also have `rook-ceph` implemented here and in my tests, it worked fine.

[2021-05-03 17:13] tchellomello commented on #228
Closing this one due to the nature of the error as pointed at https://github.com/ansible/awx-operator/issues/228#issuecomment-823267971

[2021-05-03 18:23] eniomachado opened #274 "How to Backup awx environment"
##### ISSUE TYPE
 - Backup Information

##### SUMMARY

root(ocp:awx-operator) $ oc get pods
NAME                          READY   STATUS    RESTARTS   AGE
awx-b5f6cf4d4-66v24           4/4     Running   0          4d8h
awx-operator-f768499d-rd7dg   1/1     Running   0          4d8h
awx-postgres-0                1/1     Running   0          4d8h

ansible root(ocp:awx-operator) $ oc get pvc
NAME

[2021-05-03 20:49] rwalsh3711 opened #275 "Unable to complete deployment with awx-operator"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
The awx-operator builds the postgres container, but the awx containers never get past 'Pending'.  The awx-operator logs loop through steps and a "Reconciler error" repeats through the process.

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: Minikube 1.18.1
* AWX install method: Minikube deployment on VM running

[2021-05-03 21:21] TheITRx opened #276 "[dumb-init] receptor: No such file or directory"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have created my custom awx-ee image using ansible-builder with super basic parameters. after successfully building the image, I have added it to my AWX (my-awx-yaml) file.

During creation of the containers in the awx-xxx pod, the awx-ee is failing to start.

Error:
vagrant@ubuntu2004:~/ee-build-ansible-builder$ k get pods
NAME

[2021-05-03 21:32] washburnjoe opened #277 "unknown field "tower_ee_extra_volume_mounts" in com.ansible.awx.v1beta1.AWX.spec; if you choose to ignore these errors, turn validation off with --validate=false"
I could be WAY off base as I am new to this deployment model.  I have built an EE environment that has an extra directory that I need to mount.

I am trying to deploy AWX and mount that volume and getting the error:

minikube kubectl apply -- -f my-awx.yml
error: error validating "my-awx.yml": error validating data: ValidationError(AWX.spec): unknown field "tower_ee_extra_volume_mounts" in com.ans

[2021-05-03 21:56] TheITRx commented on #277
Not sure what the trick is. But I usually just --validate=false. This is if Im confident that my yaml is valid with right indentation,etc.

[2021-05-04 05:48] PugTheBlack commented on #260
Yea, it might be a rook-ceph problem more than awx-operator - the reason why I posted it here was mostly the part where the pvc is listed as bound. Will check it out with the rook-ceph guys and see if they can help :)

[2021-05-04 07:56] PugTheBlack commented on #260
@tchellomello like you said the problem was with the rook-ceph implementation. For some reason I had to create the rook operator with the full snap-path /var/snap/microk8s/common/var/lib/kubelet and not /var/lib/kubelet, then the awx-operator ran its course.... so now I have a different set of problems :)

[code]
[code]

[code]
[code]
So basically - the containers can't find awx-postgres

Also - I

[2021-05-04 10:34] fferraro87 opened #278 "Use another user instead root as ansible ee"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Use another user instead root as ansible ee

##### ENVIRONMENT
* AWX version: 19.0.0
* Operator version: 0.8.0
* Kubernetes version:  v1.20.6+k3s1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker

Can i use instead another user instead root on ansible ee environment?

[2021-05-04 12:53] #278 closed, assigned to nobody

[2021-05-04 14:08] emdzej1987 commented on #275
The same issue for me.

[2021-05-04 17:42] FullofQuarks commented on #265
I was having this issue with v0.8.0 (latest at the time of issue creation). It is now working as expected with the 0.9.0 release. Closing.

[2021-05-04 17:42] #265 closed, assigned to nobody

[2021-05-04 18:37] FullofQuarks commented on #275
I too am unable to deploy with the awx-operator.

AWX Operator version: 0.9.0
Kubernetes version: Bare metal 1.19.8

This is the formatted error that I am getting:
[code]

[2021-05-04 19:55] TheBFGNL opened #280 "Feature request: arm64 version."
Hello,

More and more people like mw are building Raspberry PI clusters. AWX might help in maintaining them.

However the images aren't compatible with arm64. Is there any possibility that they can be made compatible with arm64?

[2021-05-04 20:56] etowntec commented on #280
Fully agree with this request. I would love to be able to install this on my turingpi cluster

[2021-05-05 08:15] JoyDistelbrink opened #281 "Allow for explicitly specifying the service type."
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Service Type for AWX should be ClusterIP when tower_ingress_type=Ingress

##### ENVIRONMENT
* AWX version: X.Y.Z
* Operator version: 0.9.0
* Kubernetes version: 1.19.7
* AWX install method: awx-operator

##### STEPS TO REPRODUCE

[code]
[code]
##### EXPECTED RESULTS

service/awx-service should be ClusterIP

##### ACTUAL RESULTS

service/awx-service is

[2021-05-05 12:13] shanemcd commented on #281
We can't change the default here without breaking the nginx ingress controller. This should be a configurable option.

[2021-05-05 13:51] tchellomello commented on #228
After speaking with @Zokormazo, I'm reopening it and I'll work on it.

[2021-05-05 14:20] bandwiches opened #284 "AWX Operator Fails to Install AWX Containers/Instance"
##### ISSUE TYPE
AWX Operator fails to perform installation.

##### SUMMARY
Had an instance of 17.0.1 running, don't care if the data persists either.

Performed data migration following [Data Migration](https://github.com/ansible/awx/blob/devel/tools/docker-compose/docs/data_migration.md) instructions.

Performed install of AWX Operator following [INSTALL.md](https://github.com/ansible/awx/blob/d

[2021-05-05 15:30] eniomachado opened #285 "Playbooks aren’t showing up in the “Job Template” drop-down"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When running through the basic "playbook" example template the "PLAYBOOK: Choose a playbook" dropdown doesn't not populate any playbooks from gitlab. I can add the project but cant see any playbooks inside of it. Using basic "playbook" example template helloworld project from https://github.com/ansible/tower-example, I can add the project and can see p

[2021-05-05 15:49] bandwiches commented on #284
Blew the entire thing away and restarted fresh.  Service pods are stuck 0/4 pending.  It's been an additional 45 minutes now.

This is the exact task that continuously fails over and over again with no real output/log.
[code]

Output
[code]

Logs
`awx-web`: stale after image with the following two lines
[code]
`redis`: stale after image downloads
`awx-task`: nothing
`awx-ee`: nothing

[2021-05-05 19:06] tchellomello commented on #285
@eniomachado the right repo for this issue would be the https://github.com/ansible/awx itself as it is not related with the `awx-operator` directly.  The fact of working for a project and not for another is a good indicator the issue should be located on project.

Having said this, if you look at https://github.com/ansible/awx/blob/devel/awx/main/utils/ansible.py#L42, you will see the method that

[2021-05-05 19:22] tchellomello commented on #260
On the logs provided, you did not show if the PostgreSQL statefulset is running. So what happens if you do:
[code]

Then if you take the IP address from that particular pod, and from your `awx-task` container, are you able to hit that IP?

Furthermore, what happens if you deploy the latest `0.9.0` operator version and try to create a new `awx` instance with a different name?

[2021-05-05 20:14] eniomachado commented on #285
@tchellomello your information works for me, thanks for your help.

![image](https://user-images.githubusercontent.com/13068058/117203306-3c7e3a00-adc5-11eb-8550-75c57f8c2a42.png)

[2021-05-05 20:14] #285 closed, assigned to nobody

[2021-05-05 22:04] tchellomello commented on #285
Feliz em ter ajudado @eniomachado ! :)

[2021-05-05 22:08] tchellomello commented on #284
@bandwiches we will need more information to understand what is going on.
Please send us the following:

[code]

Thanks!

[2021-05-05 22:16] tchellomello commented on #277
@TheITRx the  `0.8.0` version does not have the option `tower_ee_extra_volume_mounts` as you can see at https://github.com/ansible/awx-operator/blob/0.8.0/deploy/awx-operator.yaml.

However, that is present on the `0.9.0` at https://github.com/ansible/awx-operator/blob/0.9.0/deploy/awx-operator.yaml

Update to the latest version and then make sure the documentation steps at https://github.com/ansi

[2021-05-05 22:22] tchellomello commented on #275
I'll install a minikube tonight and investigate this issue. I cannot reproduce it on a vanilla k8s 1.20.6

[2021-05-05 22:27] tchellomello commented on #274
@eniomachado  this PR was added a few days ago https://github.com/ansible/awx-operator/pull/133/files#diff-0d4d815153ba25c9d4dabe30adac405ce39e5acf6cb24b82931fc52fe6f1c267

 You will need to use the `devel` image and then follow the documentation ^. If you find anything that worth changing or enhancement, PR's are welcome!.

[2021-05-06 03:27] exodusprime1337 commented on #284
I'm seeing the same thing in minikube. here is the output from mine. Saw the same error in kubernetes on centos7 as well. Fresh install with all latest binaries.

[describe_awx.txt](https://github.com/ansible/awx-operator/files/6431601/describe_awx.txt)
[describe_stateful.txt](https://github.com/ansible/awx-operator/files/6431602/describe_stateful.txt)
[events.txt](https://github.com/ansible/awx-o

[2021-05-06 05:44] PugTheBlack commented on #260
[code]

So no it's not running.

I will try to deploy a new awx instance with a different name using the 0.9.0 operator later today :)

[2021-05-06 06:02] PugTheBlack commented on #260
But I did a "wipe" of the old awx deployment

[code]

Then cloned the new awx-operator from github - and now it all seems to be working much better :)

[code]

[code]
So hopefully I will have a working deployment sometime today :)

[2021-05-06 06:05] PugTheBlack commented on #260
[code]

[2021-05-06 06:08] PugTheBlack commented on #260
[code]

[2021-05-06 06:20] PugTheBlack commented on #260
Still seems to be something fishy here though ... the regular "awx-" pod is not created, and the awx-operator
[code]

[code]

[2021-05-06 07:10] emdzej1987 commented on #275
I was able to deploy successfully now using default configuration (not using LoadBalancer). I was able to sync the Demo Project but Demo job is not working. It is lunching but it is stuck in Running state. In awx-ee there are those errors:

`INFO 2021/05/06 06:58:03 Client connected to control service
INFO 2021/05/06 06:58:06 Stdout complete - closing channel
ERROR 2021/05/06 06:58:06 Read error i

[2021-05-06 07:28] sfhl opened #286 "Empty instance group "tower""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Instance group "tower" is always empty. Even if the group is "deleted", awx-task will re-create it, but it seems that it will not register itself to this group, instead it appears as ungrouped. Jobs are executed.

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: none
* Kubernetes version: v1.17.9
* AWX install method: custom k8s

##### STEPS

[2021-05-06 11:24] gstorme commented on #121
I'm also seeing this, deployed awx-operator 0.9.0 with an external postgres db.
AWX is connecting to the given external database, but a awx-postgres-0 container is also deployed.
Secret configuration stored:

[code]

When `type` is set to **unmanaged**, the awx-postgres-0 container is not being deployed, but then the awx database is not populated either.

awx-postgres-0 container:

[code]

[2021-05-06 13:43] DanRod1 commented on #270
Thanks for your reply seems to be ok with the 0.9.0 verssion

[2021-05-06 13:43] #270 closed, assigned to nobody

[2021-05-06 14:09] bandwiches commented on #284
For the sake of clarity, I feel I should state that I'm using minikube since it is recommended by the AWX install guide.

[get_awx.txt](https://github.com/ansible/awx-operator/files/6435150/get_awx.txt)
[describe_deployment_awx.txt](https://github.com/ansible/awx-operator/files/6435145/describe_deployment_awx.txt)
[describe_statefulset.txt](https://github.com/ansible/awx-operator/files/6435161/des

[2021-05-06 14:14] exodusprime1337 commented on #284
Here is the snippet of the error i'm seeing which i believe is exactly like @bandwiches error.

{"level":"error","ts":1620310325.2259731,"logger":"controller-runtime.controller","msg":"Reconciler error","controller":"awx-controller","request":"default/awx","error":"event runner on failed","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\tpkg/mod/github.com/go-logr/zapr@v0.1.1/zapr.go:128

[2021-05-06 14:18] bandwiches commented on #284
@exodusprime1337

Spot on.

[2021-05-06 17:27] metabsd opened #288 "error: unable to recognize "ansible-awx.yml": no matches for kind "AWX" in version "awx.ansible.com/v1beta1""
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: Ubuntu 20.04
* Kubernetes version: MicroK8S channel 1.19/stable
* AWX install method: awx-operator

##### STEPS TO REPRODUCE
Deployment of the Operator seem ok
[code]

But when I try to use it.

`kubectl create namespace ansible-awx`

ansible-awx.yml
[code]

I have this error message : `Error

[2021-05-06 17:34] metabsd commented on #288
I tried to deploy an AWX instance without any storage class. I would like to confirm that this is possible. Thank you!

[2021-05-06 21:22] rromanchuk commented on #205
on a fresh `t4g.medium` with `Ubuntu 20.04.2 LTS`  both `minikube_1.18.1-0_arm64.deb`  and `minikube_1.20.0.beta.0-0_arm64.deb`  i'm getting immediate crash  `standard_init_linux.go:219: exec user process caused: exec format error` after `minikube kubectl apply`,  i'm probably just trying to run the wrong/confused arch or something.

Very vanilla reproduction

[code]

[2021-05-06 21:27] washburnjoe commented on #277
The error is gone.  Thank you.  I am struggling a bit with understanding the extra volume mounts.

I have created an EE with an extra volume /var/lib/awx/public/extradir.  That built successfully and I can browse it add files, etc.

Now on the operator side I am trying to understand how I work with that.  Why does the Operator need to know about the EE extra volume mount

[2021-05-07 03:05] TheITRx commented on #277
this is awesome. I just tried it and works like a charm. What I was saying in my previous statement is that I have run into instances in the past where the kubectl apply does not take well on yamls with multi-line values "|". I usually just do --validate-false and things just work fine like how they should.

thanks much for the info. The new EE thing is an amazing feature. Not a lot yet are graspi

[2021-05-07 03:10] TheITRx commented on #276
I got this sorted out. I'm under the impression that I need to supply the ansible-builder definition file (ANSIBLE_RUNNER_IMAGE) the default quay EE image that the operator does pull down. I let it choose itself and its working great now. :)

[2021-05-07 03:11] #276 closed, assigned to nobody

[2021-05-07 04:14] cscal opened #289 "pod has unbound immediate PersistentVolumeClaims"
##### ISSUE TYPE
 - Info Request

##### SUMMARY
With a fresh install of Kubernetes, following the instructions for a fresh install of AWX, the Postgres pod gets stuck in a pending state.

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: 1.21
* AWX install method:  Kubernetes AWX Operator with Docker and Flannel

##### STEPS TO REPRODUCE

On a fresh install of

[2021-05-07 06:16] emdzej1987 opened #290 "Wrong node selected for job pods"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Jobs pods are created on wrong node, despite using nodeSelector for Tower

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: v1.18.14
* AWX install method: Kubernetes on Azure

##### STEPS TO REPRODUCE

Fresh install with below configuration:
[code]

Pods are deployed correctly on linux node. After starting a Demo

[2021-05-07 08:56] abcqwertz commented on #284
I have the exact same error, but on a bare-metal kubernetes cluster:
    AWX version: 19.1.0
    Operator version: 0.9.0
    Kubernetes version: v1.21.0 with containerd 1.4.4
    AWX install method: operator

[2021-05-07 09:01] VladoPortos opened #291 "How to specify NodePort?"
I'm not sure right now how to specify NodePort with AWX operator.  Its not mentioned in documentation.

spec:
  tower_ingress_type: NodePort

Ok, but how to avoid random port assignment,

Usually I can do in service deployment something like:

[code]

[2021-05-07 10:19] Zokormazo commented on #228
Great. Thanks for working on this :)

[2021-05-07 11:27] Zokormazo opened #292 "Restore is failing"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Restore process is failing

##### ENVIRONMENT
* AWX version: 19.1
* Operator version: devel
* Kubernetes version: OCP 4.6
* AWX install method: operator

##### STEPS TO REPRODUCE

Get a backup, and then try to restore it with a AWXRestore object

##### EXPECTED RESULTS

Restored AWX Deployment and operator goes idle after finishing the reconciliation l

[2021-05-07 13:23] #292 closed, assigned to nobody

[2021-05-07 14:21] #290 closed, assigned to nobody

[2021-05-07 14:21] emdzej1987 commented on #290
OK found it in Instance groups and Customize pod specification.

[2021-05-07 16:32] FullofQuarks commented on #275
@emdzej1987 is correct. In order to use the LoadBalancer ingress type, you have to have some annotations set, even if it's an empty line. While this allows the deployment to work, I'm unsure if it's useful if I have no annotations to add (and the documentation does _not_ state that it is required)

[2021-05-07 20:58] jacklikethings opened #298 "Issues Installing AWX Operator On K8s"
Hi and thank you in advance for any help,

I have been trying and failing to install the AWX Operator on K8s. I am currently running a cluster consisting of two nodes, Kubem01 and Kubew02. I am assuming that I have set them up correctly, but it has been a while since I used Kubernetes.

When I run the `kubectl apply -f https://raw.githubusercontent.com/ansible/awx-operator/0.9.0/deploy/awx-operato

[2021-05-10 05:24] lemmy04 opened #300 "Documentation request: How to upgrade existing AWX >= 19.0 without losing tower data"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
I have a working AWX 19.0, I want to upgrade to 19.1 without losing my data
This process is not documented anywhere.

##### ENVIRONMENT
* AWX version: 19.x & 19.x+1
* Operator version: 0.8.0, 0.9.0
* Kubernetes version: K3s 1.20.4 on debian buster
* AWX install method: AWX-operator

##### STEPS TO REPRODUCE

1. install AWX 19.0
2. See that there's AWX

[2021-05-10 07:00] govargo commented on #205
The minikube v1.20.0 was released.
https://github.com/kubernetes/minikube/releases/tag/v1.20.0

This version includes the fix of this ingress(networking.k8s.io/v1) issue.
Thank you.

[2021-05-10 08:51] DanRod1 opened #301 "No way to finalize awx installation with awx-oprator"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Hi,
I am trying to install awx by the way of awx-operator.
After several attempts to figure out what was going on  I finally decide to open this issue to move forward.
I join the manifest of my installation in a zip file. We can see the awx_web awx_task, awx_ee and redis pod to go up but not the postgres !!!
I do not find any explanation of the reason

[2021-05-10 17:21] #228 closed, assigned to tchellomello

[2021-05-10 19:18] #269 closed, assigned to nobody

[2021-05-11 02:14] tchellomello commented on #210
Closing this issue for being stale. Please try with the latest version and if you still have problems, feel free the reopen this issue.

[2021-05-11 02:14] #210 closed, assigned to nobody

[2021-05-11 02:20] tchellomello commented on #252
@wiqu85 with this commit https://github.com/ansible/awx-operator/commit/4706aa9a1e3e79d2671543648ee1965d15c0d296  should take care of the issue you are facing.

You can try using the `devel` version or the `0.9.0` which also includes that fix.

Let us know the results!

[2021-05-11 03:15] tchellomello commented on #256
@daenney  I just tested it on the latest `devel` and worked for me.

[code]

Then this was the result:

![image](https://user-images.githubusercontent.com/809840/117752883-90ce5300-b1e5-11eb-8088-366929d092ee.png)

Please try again with the latest `devel` which should work for you. Please let us know the results.

[2021-05-11 03:29] tchellomello commented on #260
I was able to reproduce the issue by creating the following spec:

[code]

Here is the error:
[code]
It's a bug that must be fixed.

[2021-05-11 03:47] tchellomello commented on #277
If you mounting an extra directory to have like a `venv` directory, you might want to add the dependencies directly to your container specification. That was the main idea of moving to the `ee` to facilitate the deployment.

However, if you are mounting this to save artifacts then it would make (of course there are more scenarios in which mounting an extra dir is applicable).

Since the operator i

[2021-05-11 03:47] #277 closed, assigned to nobody

[2021-05-11 03:48] tchellomello commented on #275
Yes, that is a bug. Added a PR to address this. In the meantime, you can add this on your spec:

[code]

[2021-05-11 03:54] tchellomello commented on #281
[code]

[2021-05-11 04:11] tchellomello commented on #284
For your case, it looks the issue is related with the CPU (like you mentioned)

[code]

Looking at your deployment, we can see it's using the default `resource` limits:

[code]

Please note the suggested values (memory and cpu) are still the same (see https://github.com/ansible/awx-operator/pull/93/files) and you can override it to fulfill your needs.  That should the job for you. Please let us kn

[2021-05-11 04:17] tchellomello commented on #284
Same thing here @exodusprime1337

[code]
If you run `kubectl get nodes  <NODE_NAME> -o yaml`, you shall see the amount of memory for your node:

[code]

[2021-05-11 04:35] tchellomello commented on #288
@metabsd  I tested on my lab and worked as expected.

[code]

Due to the error, what is the output if you do:

[code]

[2021-05-11 04:39] tchellomello commented on #288
Yes. Note that you can set the `tower_projects_storage_class`  which requires `tower_projects_persistence` to be enabled, otherwise you should run it ephemerally.

However, for the `tower_postgres_storage_class`,  the `statefuset` requires a `PVC` to save the database. If you don't pass the `tower_postgres_storage_class`, therefore, the default of your cluster shall be used.

[2021-05-11 04:48] tchellomello commented on #289
You created a `pvc` with the name `postgres-pv-claim` which should be bounded to the `PV` `postgres-pv`.  So if you do, `kubectl get pvc postgres-pv-claim` you should this bounded and ready to go.

However, note that `awx-operator` does not have support for `claimName` and only to specify the expected `storageClassName`. Having said this, it could be the reason for your `local-storage-provisioner`

[2021-05-11 04:54] tchellomello commented on #291
@VladoPortos currently there is no support to manually specify the `NodePort` via operator (see https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/tower_service.yaml.j2#L48-L49)

However, that should be fairly simple to add (https://kubernetes.io/docs/concepts/services-networking/service/#nodeport).

@VladoPortos do want to work on PR?

[2021-05-11 05:01] tchellomello commented on #298
@jacklikethings the error you pointed is related to the k8s trying to `livenessProbe` to check if the operator has started correctly:

[code]
Since you are getting the `CrashBackLoop`, it's expected for the `livenessProbe` to fail because the `awx-operator` did not start as expected.

What is the output if you do:

[code]

On your `kubectl config`, are you binding it using a `admin` user that has

[2021-05-11 05:18] tchellomello commented on #301
I do not find any explanation of the reason why. Coul you explain what I doing wrong ?

@DanRod1  the issue is explained here:
[code]

  Since you configured the your `awx-postgres-configuration` with the data above, the `awx-operator` see this as an external database because it is missing the attribute `type: managed`  (https://github.com/ansible/awx-operator/blob/devel/roles/installer/tasks/data

[2021-05-11 05:47] VladoPortos commented on #291
Hello @tchellomello I might have a look but need to finish some additional work first. I got to this while I was working on ansible role that deploys Minikube ( with docker backend ) and then AWX  which I did and it works fine :) just the HTTPS was point of interest. The classical ingress in kubernetes and minikube is more complicated than it needs to be and most people are just used to more to ng

[2021-05-11 06:37] PugTheBlack commented on #260
Changed the "my-awx.yaml" file to:

[code]

And then the deployment went through as I expected :)

[code]

[code]

[code]
Agree that it's a bug that needs fixing, but the workaround seems to be working fine, so I'm happy :)

[2021-05-11 06:37] #260 closed, assigned to nobody

[2021-05-11 09:17] VladoPortos commented on #291
Quick fix without me doing PR right now.

Deploy with:
`tower_ingress_type: NodePort` as normal ( or with none )

When AWX is deployed create file `awx_svc.yml`

[code]

Change nodePort: to number you like in range: 30000-32767

And apply with:
minikube kubectl -- apply -f awx_svc.yml

This will make new service called awx-service-custom binded to port you have chosen.

Then just get IP with  `min

[2021-05-11 09:21] daenney commented on #256
Did you try to update one in-place? Like change the tag that `ee-020` points at to awx-ee:0.2.1` for example? Right now your config suggests you have 2 execution environments. That works for me too. The problem I'm having is using a generic name, without a version identifier in it, and only updating the image tag (so I don't have to go around AWX and update which execution environment is used ever

[2021-05-11 12:29] Zokormazo opened #304 "Can't set '' as storageClassName value on pvcs"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

As an openshift operator, sometimes I could want to bind my pvc to a pv without any storage class.

To be able to do this on a cluster with a default sotrage class I should set `storageClassName: ''` on the pvc spec:

https://docs.openshift.com/container-platform/4.7/storage/understanding-persistent-storage.html#pvc-storage-class_understanding-persist

[2021-05-11 12:49] duchri66 opened #305 "get status terminating after try to uninstall operator"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

##### ENVIRONMENT
* AWX version: v19
* Operator version: 0.9.0
* Kubernetes version:
* AWX install method:  okd4

##### STEPS TO REPRODUCE

##### EXPECTED RESULTS

##### ACTUAL RESULTS

##### ADDITIONAL INFORMATION

##### AWX-OPERATOR LOGS

[2021-05-11 13:22] #305 closed, assigned to nobody

[2021-05-11 13:22] duchri66 commented on #305
solved

[2021-05-11 13:23] duchri66 commented on #305
solved with info from https://www.redhat.com/sysadmin/openshift-terminating-state

[2021-05-11 13:28] DanRod1 commented on #301
Hi, thanks for the reply.
To be sure to understood your answer this means that all the parameters of the "datasource" are encrypted ?
Is it usefull ?

[2021-05-11 14:33] bandwiches commented on #284
@tchellomello thanks for the update there.  I'm following you, but I have a serious concern about the AWX install tutorial since it gives a bare minimum config and that leads to this result.  Perhaps there should be more cross-communication between the two packages to ensure that the minimal config is actually the bare minimum?  These settings are never mentioned in install doc.

Edit -
Per your l

[2021-05-11 14:45] metabsd commented on #288
I thought my postgresql container would be ephemeral. So I used the operator without specifying a storage class. But the postgresql container was still pending. So I created a storage class and started over and it worked. I will retest ephemeral mode and close this issue for now.

I can't provide what you ask because I purge and reinstall my microk8s instance.

Thank you!

[2021-05-11 14:45] #288 closed, assigned to nobody

[2021-05-11 15:15] #275 closed, assigned to tchellomello

[2021-05-11 15:55] tchellomello commented on #256
Before:
![image](https://user-images.githubusercontent.com/809840/117844254-85af0d80-b24d-11eb-9fab-ea39d54a1741.png)
[code]

Then modified, new deployment rolled out

[code]

![image](https://user-images.githubusercontent.com/809840/117844828-0110bf00-b24e-11eb-9b84-f0cd63cbe469.png)

Looking at the database, it still points to the old one:

[code]

Then checking the `DEFAILT_EXECUTION_ENVIRONMEN

[2021-05-11 16:01] tchellomello commented on #305
That will be fixed by https://github.com/ansible/awx-operator/pull/299 as well

[2021-05-11 16:31] bhundven commented on #205
I'm still trying to get #245 in which will allow for setting the apiVersion of the ingress, but for now it's still using `extensions/v1beta1` and I run into other issues.

[2021-05-11 18:55] tchellomello commented on #284
@bandwiches I hear you, I agree that the documentation has lots of room to improve, and please if you see any place that could use some enhancement, do not hesitate to submit a PR.

In regards to the https://github.com/ansible/awx-operator/blob/devel/deploy/crds/awx_v1beta1_molecule.yaml, that is used on the `molecule` tests here -> https://github.com/ansible/awx-operator/blob/devel/molecule/test-

[2021-05-11 19:10] bandwiches commented on #284
I would love to, except I think the `awx` repo is outpacing `awx-operator` and making the inconsistencies impossible to fix.

In regards to your response about system settings - understood and that's fair, no qualms about that.

I was running into another issue once I was able to resolve the resources issue and I feel it's actually still appropriate here.  The `awx-service` was not externally reac

[2021-05-11 19:11] tchellomello commented on #301
@DanRod1 not really.. that is an encoded string. You could modify yours like:

[code]

The PostgreSQL statefulset  will only be deployed if the `type: managed` is found on the secret. Since you manually created the secret, you have to add it for managed `sts`.

[2021-05-12 09:11] DanRod1 commented on #301
Once again thanks a lot for your time and your anwsers, I appriciate your help.
May I abuse of your time with a other question ? How can I personalize the name of the claim of the persistent volume for postgres I don't see in the documentation the parameter for this ?

[2021-05-12 09:22] #298 closed, assigned to nobody

[2021-05-12 13:27] jacklikethings opened #306 "Exposing The Awx Service"
Hope you are all well,

I am currently trying to rollout the awx-operator on to a Kubernetes Cluster and I am running into a few issues with going to the service from outside of the cluster.

Currently I have the following services set up:

    NAME                   TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)             AGE
    awx                    NodePort    10.102.30.6      <none>

[2021-05-12 14:41] tchellomello commented on #301
@DanRod1  you are very welcome and it seems the issue is now fixed. :fireworks:

In regards to the `PVC` name, on the current architecture, the PostgreSQL is a `statefulset` that claims the storage using a `volumeClaimTemplate`.  As you can see at https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-storage, and looking at our code we are using the snippet below:

[code]

[2021-05-12 18:39] SadFaceSmith opened #307 "OpenShift4/CRC Postgres Permission Denied error"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Attempting to deploy AWX 19 to CRC/OpenShift
##### ENVIRONMENT
* AWX version: 19
* Operator version: 0.9.0
* Kubernetes version:  1.20
* AWX install method: openshift

##### STEPS TO REPRODUCE

Deploy operator

Create and 'AWX' CR

oc get pods
NAME                            READY   STATUS             RESTARTS   AGE
awx-5b58db49c-rkvn7             4/4

[2021-05-12 19:04] #306 closed, assigned to nobody

[2021-05-13 02:45] tchellomello commented on #307
@Smithe2413 can you provide us the following:

[code]

[2021-05-13 15:06] shanemcd commented on #256
We might want to consider updating the image value in this case, in the AWX code where you just linked to.

[2021-05-13 15:22] SadFaceSmith commented on #307
See attached files.

[awx_postrgres_ss.txt](https://github.com/ansible/awx-operator/files/6473441/awx_postrgres_ss.txt)
[events.log](https://github.com/ansible/awx-operator/files/6473442/events.log)
[awx_awx.txt](https://github.com/ansible/awx-operator/files/6473443/awx_awx.txt)

[2021-05-13 15:40] SadFaceSmith commented on #307
Changing the db data path seems to avoid the issue.
[code]

[2021-05-13 19:34] tchellomello commented on #256
I'll work on a patch then. Thanks!

[2021-05-14 15:42] cira-jonathan opened #309 "Can't access AWX Web UI after Minikube Deployment"
I've deployed a new instance of awx using minikube and I can not access the web UI after following the deployment instructions. I've confirmed that all the containers have been deployed correctly (command output below):

minikube kubectl get pods

NAME                                                 READY  STATUS      RESTARTS   AGE
awx-5b58db49c-8d5n9                      4/4        Running    8

[2021-05-16 08:50] Bidhanbst commented on #298
Hi, I had also faced same issue. The requested output is attached herewith.

![Screenshot (28)](https://user-images.githubusercontent.com/34091194/118391344-8aabfc80-b653-11eb-8236-78b999ead4bf.png)
![Screenshot (29)](https://user-images.githubusercontent.com/34091194/118391355-90094700-b653-11eb-9467-de7db10986ff.png)

Yaml of awx crd

[operator.txt](https://github.com/ansible/awx-operator/files/

[2021-05-16 09:24] Bidhanbst commented on #210
yes i am still facing the same issue with below command :-

kubectl apply -f https://raw.githubusercontent.com/ansible/awx-operator/0.9.0/deploy/awx-operator.yaml

[2021-05-17 08:07] DanRod1 commented on #301
Thanks for your answers, may i suggest a new parametre like tower_postgres_storage_claim ?

[2021-05-17 08:53] Zokormazo opened #311 "extra_settings breaks restore"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
When using `extra_settings` on AWX CR the restored awx instance does not work.

Restored extra_settings lost `'`s around the setting, breaking the restored CRs configmap

##### ENVIRONMENT
* AWX version: 19.1
* Operator version: devel
* Kubernetes version: OCP 4.6
* AWX install method: operator

##### STEPS TO REPRODUCE

1. Deploy awx with extra_settin

[2021-05-17 10:02] fferraro87 opened #312 "install galaxy collection on awx ee"
##### ISSUE TYPE
 - Question

##### SUMMARY
add galaxy collection to ansible environment

##### ENVIRONMENT
* AWX version: 19.0.0
* Operator version: 0.9.0
* Kubernetes version: v1.20.6+k3s1
* AWX install method: openshift, minishift, docker on linux, docker for mac, boot2docker

How can i install an ansible galaxy collection in order to use on a template?
I need to rebuild awx ee? and how?
Thanks

[2021-05-17 12:45] Seb0042 opened #313 "Wrong database configuration created for credentials.py"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWX containers can't connect to the database because the name of the database server has an additional carriage return.

##### ENVIRONMENT
* AWX version: 1.17.1, migrating to 1.19.1
* Operator version: 0.9.0
* Kubernetes version:  1.20.6
* AWX install method: operator

* ##### STEPS TO REPRODUCE

Filing an awx-postgresql-configuration as asked, like th

[2021-05-17 13:31] DanRod1 commented on #301
Also I do not understand why the service created is a NodePort type wherease I specify the tower_ingress-type to Ingress and the tower_hostname: awx-k8s.lab-real.local.
Here is the output :
**[binfra.ansible.user@s491liak8mstr1 ~]$ kubectl get all -n awx**
NAME READY STATUS RESTARTS AGE
pod/awx-85d7cbfb8-nfq2m 4/4 Running 0 7m29s
pod/awx-operator-5595d6fc57-4hn55 1/1 Running 4 11d
pod/awx-operator

[2021-05-17 13:51] bergmannf opened #314 "Execution Environments do not set ImagePullSecrets for registry credentials"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

Execution Environments do not use the configured registry credentials, when pulling from a private registry.

This seems to be related to https://github.com/ansible/awx/issues/7066, however the fix of providing login details using the private-data-dir will not work, as the container image the EE will run in can not be pulled before that.

In k8s the I

[2021-05-17 16:32] mothy60 opened #316 "Setting proxy environment"
##### ISSUE TYPE
 - User issue

##### SUMMARY
I cannot find how to get the AWX UI to honour proxy environment vars under Minikube. I can get minikube/docker and the pods all to works like so;

minikube start --cpus=2 --memory=4g --addons=ingress --docker-env http_proxy=$http_proxy --docker-env https_proxy=$https_proxy

vi myawx.yml
[code]

However the UI isn't using the settings, I've also tried s

[2021-05-17 20:25] #300 closed, assigned to nobody

[2021-05-17 22:12] #15 closed, assigned to tchellomello

[2021-05-18 01:55] tchellomello opened #320 "AWXBackup should capture pg_dump result and report in case of error"
cc: @rooftopcellist

##### ISSUE TYPE
 - Bug Report

##### SUMMARY
AWXBackup should capture pg_dump result and report in case of error
##### ENVIRONMENT

* AWX version: X.Y.Z
* Operator version: devel
* Kubernetes version: 1.20.7
* AWX install method: k8s

##### STEPS TO REPRODUCE

`awx-operator`  should be more verbose when a `pg_dump` fails. (**ignore the version mismatch error. This is just to

[2021-05-18 02:05] tchellomello commented on #121
@gstorme  could you send us the `/etc/tower/conf.d/credentials.py` from the `awx-task` container? Also the output from `awx-manage check_db`?

[2021-05-18 02:08] tchellomello commented on #304
Closing this as it was fixed by #315 and #318

[2021-05-18 02:08] #304 closed, assigned to nobody

[2021-05-18 04:26] pythonwood opened #321 "awx-postgres-0 go into CreateContainerConfigError if multi-node-minikube"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY

awx-postgres-0 go into CreateContainerConfigError if multi-node-minikube

##### ENVIRONMENT
* AWX version: 19.0.0
* Operator version: in awx
* Kubernetes version: 1.20
* AWX install method: docker on linux

##### STEPS TO REPRODUCE
[code]

[2021-05-18 06:50] gstorme commented on #121
[code]

Database Version: PostgreSQL 13.2 (Debian 13.2-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit

[2021-05-18 13:53] rooftopcellist opened #322 "Backup TLS secret if specified on the spec"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
We need to conditionally backup and restore the TLS secret if it is specified on the spec or the AWX CR or else the restore will fail.

Bonus: If this can be done in a dynamic way that will make it easier to add new secrets to the backup and restore roles later on, that would be ideal.

Ideas:
* Create a `k8s_dump_resource` module.  Have a step where w

[2021-05-18 14:42] rooftopcellist commented on #314
Hi @bergmannf, thank you for the feedback!  There is already an issue for this https://github.com/ansible/awx/issues/10114.  I think the fix should be on the AWX side, so I will close this issue in favor of that one.

Also, there is a PR up for it which should make it in shortly [here](https://github.com/ansible/awx/pull/10204)

In the meantime, a work-around would be to manually create a pull sec

[2021-05-18 14:42] #314 closed, assigned to nobody

[2021-05-18 18:13] tchellomello commented on #121
@gstorme  I'm a little bit confuse. You mentioned the database is being deployed even when the external database is set. Let me try to clarify a few things.

1. When the `type=managed` that means that `statefulset` will be created. For external databases, you will want that to be set as `type=unmanaged`.
2. The database seems to be communicating correctly as the `awx-manage check_db`  returned cor

[2021-05-18 18:40] gstorme commented on #121
This is working fine if you use an external database which is already populated from a previous awx installation.

Is there a way to use an external database and have that newly database populated, without having the postgres statefulset?
Like if you want to start from scratch without migrating from a previous awx database.
Or is the only way to do this, by setting an external db with `type=manage

[2021-05-18 22:23] duntonr commented on #312
AFAIK there are two main ways:
1) use ansible-builder - https://www.linkedin.com/pulse/creating-custom-ee-awx-phil-griffiths?trk=public_profile_article_view
2) extend an official, existing awx-ee image for your needs - something like https://github.com/ansible/awx/issues/9917#issuecomment-832685056

I started with `ansible-builder` but has issues with galaxy installed collections being found after

[2021-05-19 01:40] tchellomello commented on #256
Closing as PR https://github.com/ansible/awx/pull/10206 was merged on AWX

It will be present on the next AWX version.

[2021-05-19 01:40] #256 closed, assigned to tchellomello

[2021-05-19 02:21] tchellomello commented on #121
@gstorme, yes you can do that. Basically, you will need to create a secret of the `type=unmanaged`.  Once you do it, on your `awx` kind, you have to specify the secret to be used as explained at https://github.com/ansible/awx-operator#external-postgresql-service

So basically, let's assume this is the secret for the external database

[code]

Now on your `awx` kind, you could do:

[code]
Make sure

[2021-05-19 07:04] gstorme commented on #121
Ok this is working as expected indeed, no postgres statefulset is created and the external database is populated.
Don't know why it went wrong before, probably an error on my side then.
Thanks

[2021-05-19 09:19] #301 closed, assigned to nobody

[2021-05-19 09:20] DanRod1 commented on #301
I have still some troubles but the subject is with the network termination so I close this issue to open an another

[2021-05-19 09:59] DanRod1 opened #325 "AWX-OPERATOR NOT DEPLOY A BASIC INSTANCE OF AWX"
[kube-awx.zip](https://github.com/ansible/awx-operator/files/6507712/kube-awx.zip)
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
After deploying an AWX instance with the last awx-operator on an simple K8S cluster every thing seems to be correct with no errors but the awx application do not responding.

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: v1.20.5

[2021-05-19 10:44] Bidhanbst commented on #298
I was able to solve this issue by enabling cni0 interface in firewalld.

`sudo firewall-cmd --zone=trusted --add-interface=cni0 --permanent`
`sudo systemctl restart firewalld`

[2021-05-19 16:41] tchellomello commented on #121
Thanks! I'll close this for now as it worked for both of us.

[2021-05-19 16:41] #121 closed, assigned to nobody

[2021-05-20 01:27] bnaydenov commented on #274
@tchellomello I have successfully installed AWX operator from the latest `devel` branch into EKS 1.18 cluster, and everything was successful. AWX is deployed via the operator and installed into the `default` namespace" with the name `awx`.

I want to test backup, and I created and successfully applied the following AWXBackup to k8s.

[code]

[code]

[code]

Now there are no errors, but the backup

[2021-05-20 04:34] jw-maynard opened #326 "Add Ability to add annotations to AWX serviceaccount"
##### ISSUE TYPE
 - Feature Request

##### SUMMARY

There is currently no way to add custom annotations to the Service Account created by the operator. Being able to annotate the service account is critical to being able to use the IAM integration in EKS. [AWS Docs](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html#service-account-configuration

[2021-05-20 05:00] chapai518 opened #327 "Limits don't work in workflow on 19.1.0"
##### ISSUE TYPE
 - Bug Report

##### SUMMARY
Limits don't work in workflow
Limits work when launching individual templates, but do not work when launched in workflow

##### ENVIRONMENT
* AWX version: 19.1.0
* Operator version: 0.9.0
* Kubernetes version: Openshift 4.6.26
* AWX install method: openshift

##### STEPS TO REPRODUCE

1. create a workflow -
2. add a template specifying one host from th

[2021-05-20 10:05] fferraro87 commented on #236
so @daenney you've solved? because i've also same error
[code]

[2021-05-20 10:14] daenney commented on #236
@fferraro87 this works well enough for me on 19.0, using this `Dockerfile` to build a custom EE:

[code]

Ansible 19.1 with EE 0.2.0 as a base however has broken for me in new and exciting ways though I'm not sure if it's related to the EE or something else.

[2021-05-20 13:48] bnaydenov commented on #274
I figure it out what was wrong. So I deploy wax-opreator from latest `devel` branch as suggested by README.md, but the code in this branch still uses image `quay.io/ansible/awx-operator:0.9.0` see [here](https://github.com/ansible/awx-operator/blob/d0a74edd342506954fbdc88942e9d076f3607535/deploy/awx-operator.yaml#L621)

[code]

This image `quay.io/ansible/awx-operator:0.9.0` does not contain roles

[2021-05-20 15:10] psreddy22 opened #328 "awx deployment with external db issue."
Hello Team,

Can someone look into below issue and un-block us !!

By using awx-operator [ansible/awx-operator:**0.9.0**] trying to install awx with the option of external postgress server. except postgress connection everything is working as expected.

below debugging output.

[code]

is there any relation with the SPEC variable (privilised)

Any leads will be helpful to un-block. Thanks in advan

[2021-05-21 00:49] acelabs88 opened #329 "installing ansible modules"
Can someone tell me how to install ansible modules? I am using winrm to control windows host but getting error like _winrm or requests is not installed: No module named 'winrm'_

[2021-05-21 01:13] metabsd commented on #329
You can build your own execution environment with ansible-builder. So you can use it with AWX. I'm using my own one with 19.1.0.

[2021-05-21 01:20] acelabs88 commented on #329
Awesome - let me check it out. Thanks @metabsd !

[2021-05-21 01:59] acelabs88 commented on #329
I got it working. Looks like the latest awx-ee already has this supported: https://github.com/ansible/awx-ee/pull/54

Thanks @metabsd again for the pointer.

[2021-05-21 01:59] #329 closed, assigned to nobody

[2021-05-21 18:06] shanemcd commented on #240
@Spredzy @Zokormazo We already did this right? Can we move to needs_test? Or close?

[2021-05-22 01:51] tchellomello commented on #328
@psreddy22 I believe the error you are hitting is related to the `SECRET_KEY` (https://github.com/ansible/awx-operator/blob/devel/docs/migration.md#secret-key) not matching with the one when the external database was populated.

If you look on your `web-task` container you will see the following:

[code]

This secret is the one used to encrypt/decrypt the things on your database. For example, if y

[2021-05-23 15:09] psreddy22 commented on #328
@tchellomello

Thanks for your quick reply. Yes, I'm using the old database. I modified the secret. Now I'm able to connect with old database and able to login without any issues.

Ps: If we lost the secret-key !! is there any way to retrive secret_key from database.

Once again thanks for your quick reply.

[2021-05-23 20:58] tchellomello commented on #328
@psreddy22 great that you were able to fix it.  No, besides doing brute force, I don't know  a method to recover it.

Since it worked for you, I'm closing this one. Thank you!

[2021-05-23 20:58] #328 closed, assigned to nobody

[2021-05-24 07:02] Zokormazo commented on #240
I'm fine with closing it

[2021-05-24 10:55] MrBones757 commented on #286
I'm also seeing this issue, is there any known workaround for this?
I'm using a standard AWX operator based deployment using v0.9.0 with awx 19.1.0
Kubernetes v1.16.x

I have been able to register the ungrouped instance by creating an instance group and setting the policy to 100%, however capacity shows as "Unavailable" despite now having an assigned instance in this test group.

Also noted, in th