[2022-10-05 15:17] iuvooneill opened #1074 "Can't create AWX with LoadBalancer in EKS"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-05 17:49] fosterseth commented on #1066
@shanemcd  may have docs on this

[2022-10-06 10:46] chris93111 commented on #1055
Hi i run awx in 21.7.0 in k3s 1.23 and longhorn, is work fine

[2022-10-06 11:16] chris93111 opened #1076 "0.30 bug with task resource and config file"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-06 12:46] leetcarey commented on #1055
I'm having the same issue when using 0.29.0 and above in EKS, have had to revert to 0.28.0 operator.
init container error

chmod: changing permissions of '/var/lib/awx/projects': Operation not permitted
chgrp: changing group of '/var/lib/awx/projects': Operation not permitted_

[2022-10-06 15:27] FlorianLaunay commented on #1055
Same problem with operator `0.30.0`.

Had some hope in #1051 by @rooftopcellist but it not fixed the problem :cry:

[2022-10-06 15:57] f0rkz commented on #1055
Seeing this in rancher as well. Had to roll back to 0.29.0

Edit: Sorry, I meant to say seeing the issue on 0.29.0, rolled back to 0.28.0 to fix.

[2022-10-06 16:02] antuelle78 commented on #1055
I think it's best to stay on 0.29.0 for now since 0.30.0 has this issue:
https://github.com/ansible/awx/issues/13002

Unless inventory schedules are not needed.

[2022-10-06 16:13] FlorianLaunay commented on #1055
Have a working fix with #1078.

Waiting to be reviewed :innocent:

[2022-10-06 20:14] boldandbusted opened #1079 "Add awx-operator to ArtifactHub.io?"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-10-06 20:41] marshmalien commented on #1055
Hello @antuelle78, this issue has been [fixed](https://github.com/ansible/awx/pull/13005) in AWX and will be included in our next release. Thank you!

[2022-10-06 22:41] shanemcd commented on #1079
Hello! We're unlikely to do this ourselves (not a lot of extra time these days), but we're totally willing to review a PR that adds this (as long as it is automated via a GitHub Action, no hardcoded versions or requiring any manual file changes in order to release). The AWX Helm chart itself was actually a community contribution. Maybe read through the discussion on the initial Helm PR to get a se

[2022-10-07 20:47] lerminou commented on #1053
Hi, can you re-open this issue please ? the index.yaml is still containing the latest version @rooftopcellist  @miles-w-3

[2022-10-07 21:20] janorn commented on #1053
There is already a PR to fix this #1075

[2022-10-08 13:02] antuelle78 commented on #1055
@marshmalien
Thanks for the heads up

[2022-10-10 18:28] janorn opened #1080 "$ character in admin password secret > login failed"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-11 16:55] ugurserhattoy commented on #966
#

Did you try adding slash at the end of the url?
It happened to me.
example.com/ansible-awx ---> didn't work
example.com/ansible-awx/ --> worked!

[2022-10-12 08:26] bert-jan commented on #848
Had the same experience deploying into k3s as per https://github.com/kurokobo/awx-on-k3s (tag 0.30.0) on Ubuntu 20.04.
After applying the service workaround as suggested by @phinx110 awx gui started working. I guess the version number should be removed as it might cause future issues when moving to postgres v14/15 etc??

[2022-10-12 14:55] bpedersen2 opened #1081 "Add options in CRD for setting labels on pods"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-10-12 15:08] fosterseth commented on #1081
@rooftopcellist is that > 1 container error a restriction on our end?

[2022-10-12 15:13] DomPolizzi commented on #445
Still seeing this in version 30

[2022-10-14 05:56] craph opened #1085 "Awx notification doesn't take the hostname"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-14 10:22] r0b1ndot opened #1086 "Extend README with external logging examples"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-10-15 09:27] mqufflc opened #1088 "Give a way to connect to external postgres database with client SSL credentials"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-10-15 13:39] cuspofaries commented on #376
@tchellomello  I'm not sure I get the full concept.
I have created de bundle certificate, I added it to my awx.yaml under "spec".
of course I made sure the secret was generetaed inside the awx namespace.
However in still unable to synchronize my git project.
You said to update awx operator in the first place with a version of yours. why should we need to update awx-operator in the first place?
I i

[2022-10-15 14:14] mqufflc commented on #1088
Here is my attempt to implement it : 57b007902f70b460409e49ee4f5f6390b45f6392. But I didn't succeed.
I cannot connect to the database because the key needs to have less permissions on the pod.

The error during installer playbook :

[code]

[2022-10-15 18:16] cuspofaries commented on #849
I am also getting unable to get local issuer certificate.

I installed awx on minikube following the official documentation :https://github.com/ansible/awx-operator

I have created the bundle certificate following the documentation, I added it to my awx.yaml (kind: awx) under "spec".

I made sure the secret was generetaed inside the awx namespace.

kubectl create secret generic <resourcename>-cust

[2022-10-17 07:17] craph commented on #1085
My issue was the `Base URL of the service`.

[2022-10-17 07:17] #1085 closed, assigned to nobody

[2022-10-17 13:32] unbreakabl3 opened #1089 "Ad hoc commands are failing"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-17 14:46] nscblauensteiner commented on #1022
@odgon @rooftopcellist

I have now figured it out. The ansible-playbook creates a wrong claim during the deploy (error: "cache miss: /v1, Kind=PodList err-Index with name field:status.phase does not exist"), which has to be deleted during the deploy and replaced with an own one. This PVC must of course match with name (storageClassName) and storage size, also, at least in my case, the app labels m

[2022-10-17 14:48] #1022 closed, assigned to nobody

[2022-10-17 14:48] nscblauensteiner commented on #1022
@odgon @rooftopcellist

I have now figured it out. The ansible-playbook creates a wrong claim during the deploy (error: "cache miss: /v1, Kind=PodList err-Index with name field:status.phase does not exist"), which has to be deleted during the deploy and replaced with an own one. This PVC must of course match with name (storageClassName) and storage size, also, at least in my case, the app labels m

[2022-10-17 16:02] HGS9761 commented on #1064
There is something strange happening

I have turned on logging in Postgres and all statements are being logged to the logfile.

When I upgrade from 0.21 to 0.29 or 0.30 at once the following is not executed:
 ALTER TABLE "main_project" ADD COLUMN "signature_validation_credential_id" integer NULL CONSTRAINT
 "main_project_signature_validation_41e77a69_fk_main_cred" REFERENCES
 "main_credential"("id

[2022-10-17 17:58] MattMatheus opened #1090 "Execution node - Install_receptor.yml fails on installation of pip3."
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-17 18:43] kurokobo commented on #1090
Hi, I think this issue should be opened (or moved) on [ansible/awx](https://github.com/ansible/awx) repository [since the requirements for `python39-pip` for install bundle is defined on the AWX side](https://github.com/ansible/awx/blob/eeb9d6148827a8da366bf9cbb32fa96684dd4e4c/awx/api/templates/instance_install_bundle/group_vars/all.yml#L18-L19).

For [CentOS Stream 8](http://mirror.centos.org/cen

[2022-10-17 21:33] MattMatheus commented on #1090
I will open an issue against the awx repo given your analysis of the root cause matches my thoughts.

[2022-10-17 21:33] #1090 closed, assigned to nobody

[2022-10-18 04:12] rooftopcellist commented on #1022
I ran into this after bulk deleting a bunch of resources in my namespace
(included "*kustomize build . | kubectl delete -f -*" and  "*kubectl delete
pvc --all*"), then quickly after deploying the awx-operator using the
Kustomization instructions in the Basic Install section of the README.md.

However, after deleting the PVC's and waiting a couple minutes, then trying
to deploy the awx-operator and

[2022-10-19 14:31] Zokormazo opened #1092 "Remove lint from molecule"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-19 17:31] fosterseth commented on #1089
hi @unbreakabl3 do you have this command working on the cli, outside of awx? Can you let us know which command you run in that case, e.g. `ansible ..`

[2022-10-19 18:30] fosterseth commented on #1088
@rooftopcellist does operator support connecting to external db with custom CA and cert? i see in docs you can specify sslmode, but don't see where you can provide private key and cert to use in ssl verification

[2022-10-19 19:55] mateuszdrab opened #1093 "Init:CrashLoopBackOff due to chmod/chgrp on init container"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-19 21:55] kurokobo commented on #1093
Hi, this seems to be a duplicate of #1055

[2022-10-19 21:58] mateuszdrab commented on #1093
Apparently, the other issue was due to image pull backoff.

[2022-10-19 22:03] mateuszdrab commented on #1093
Sorry, seemed like GitHub issue search is a hit and miss. Potentially due to the other issues title

[2022-10-19 22:03] #1093 closed, assigned to nobody

[2022-10-19 22:06] mateuszdrab commented on #1055
I just upgraded from 0.27.0 to 0.30.0 and regretted instantly 😄
Hope this fix is merged soon

[2022-10-20 09:07] a-dawg opened #1094 "Permission denied: '/etc/receptor/receptor.conf.lock'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-20 09:46] ghost commented on #890
Another 3 months later. Any updates on this?

[2022-10-20 14:49] JustOneMoreDog commented on #1074
## Installing Amazon Load Balancer Controller

* Next up we need to install the load balancer controller. Whenever we make an ingress resource, EKS will automatically create an application load balancer for us
* We will be following the instructions found in these links
  * [https://aws.amazon.com/blogs/containers/introducing-aws-load-balancer-controller/](https://aws.amazon.com/blogs/containers/i

[2022-10-20 14:59] JustOneMoreDog commented on #903
@rust84 where did you find documentation for the spec section? Specifically the `ee_image`. I did not even know this was an option

[2022-10-21 11:12] bhrbgk commented on #1022
@nscblauensteiner
Hi!
just ran into the same issue. mind sharing you fix?
thanks in advance!

[2022-10-21 11:20] nscblauensteiner commented on #1022
Hy, sure.

My PV and PVC contain corporate data.
If you leave me your email, I will get back to you via PM.

[2022-10-21 13:19] Sergiodcm00 commented on #530
Same with operator 0.20.0 and 0.21.0.
garbage_collect_secrets not works.

Solution for me was explicitly set  awx-postgress credentials like it was an external db (see README at https://github.com/ansible/awx-operator/blob/devel/README.md#external-postgresql-service but changing type from unmanaged to managed). It seems tha awx containers don't establish credentials ok in some scenaries.

You can

[2022-10-21 13:20] Sergiodcm00 commented on #631
https://github.com/ansible/awx-operator/issues/530#issuecomment-1286952032

[2022-10-23 21:34] miles-w-3 commented on #1053
@janorn or @rooftopcellist in case you want to pick up on this, it does seem possible that we could use chart releaser to make our releases way easier, it will just take some work to figure out the following things:
* the native chart releaser role requires the chart to already be built and present in the chart directory, which means we'd need to build the chart as a part of the release tag branch

[2022-10-23 22:07] miles-w-3 commented on #1053
Updating to reinforce how easy this is once it's working. I have a [sandbox repo](https://github.com/miles-w-3/chart-sandbox/blob/gh-pages/index.yaml) with a dummy helm chart, all it took was me adding the action which calls the cr, and every time I make a change to the master branch and run the pipeline, it automatically updates the index file. The great thing is that it pulls straight from the r

[2022-10-24 00:24] janorn commented on #1053
Just curious what happens if you have a release without a chart? awx-operator has a lot releases without any charts.

[2022-10-24 00:42] miles-w-3 commented on #1053
Well, any change to the operator resources result in a change to the helm chart when it is built. The key problem is that chart-releaser relies on the chart to be built in order to compare the "diff". One option would be to build the chart and commit it to the commit tags, but that's not ideal because you have more drift from the main branch. Another option to consider would be to spin off the hel

[2022-10-24 05:11] bhrbgk commented on #1022
@nscblauensteiner thank you a lot. contact me at b@bnmcn.io.  have a good day!

[2022-10-24 06:07] nscblauensteiner commented on #1022
Got error message back: The DNS has reported that the domain of the recipient does not exist

[2022-10-24 06:14] bhrbgk commented on #1022
@nscblauensteiner  sorry. i should've had a second coffee before typing.
it's b@bncmn.io ;)

[2022-10-24 18:51] iuvooneill commented on #1074
I must still be missing something. I've created the policy, RBAC role, service account, and deployed the controller, but I get in the logs:

and that seems to be before I've tried to deploy AWX.

[2022-10-24 19:38] pstauffer commented on #1022
@nscblauensteiner Can you please also send me your fix? Thanks! temp@nerdherd.ch

[2022-10-25 09:55] krzwiatrzyk opened #1099 "Automation Job isn't created with tolerations from AWX manifest"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-10-26 14:33] testcluedev commented on #489
### Fix Broken AWX

Here is my story: I had to spent 4 days and 4 nights to repair the AWX setup. And it took me combined knowledge of kubernetes, persistent volume, azure disks, postgres and information provided by kind people in this thread to fix the issue.
I have less than a year professional experience with k8s, but this problem was 10% k8s, 30% awx and 60% postgres.

My Existing Setup (which

[2022-10-27 07:12] gdlx commented on #1094
Also have the issue when switching to 21.7.0.
Seems to be related to this change: https://github.com/ansible/awx/pull/12890
But I have this error while being on K8s...

[2022-10-28 05:13] SamuelHornsey commented on #1017
Used the workaround mentioned by @mklitzn to fix our deployment. What is the status of the PR from @digifuchsi? That IPv6 change seems to have affected a fair few users and the error is difficult to debug and not immediately obvious. Thanks.

[2022-10-28 17:47] akus062381 commented on #1019
@albericyao it appears that this issue has been resolved, so we are going to close it. If you would like, please feel free to open a PR to improve our docs! Thank you for your contribution!

[2022-10-28 17:47] #1019 closed, assigned to nobody

[2022-10-28 17:51] akus062381 commented on #1023
Hi @meankit007!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication me

[2022-10-28 17:51] #1023 closed, assigned to nobody

[2022-10-28 17:54] akus062381 commented on #1025
Hi @willzhang!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication met

[2022-10-28 17:54] #1025 closed, assigned to nobody

[2022-10-28 18:15] rooftopcellist commented on #1019
@chuegel @hreidar we can only guarantee what we test.  We test the default Postgres version used for managed databases with a given version of awx.  The default Postgres version with awx-operator 0.30.0 is Postgres 13.  You can find this default for a given version by looking here:
* https://github.com/ansible/awx-operator/blob/0fc145b6aa5b76e4afdb913c0e384da4f16d8290/roles/installer/defaults/main

[2022-10-28 18:16] akus062381 commented on #1043
Hi @rparree,

Perhaps in this case it would be best for you to open a PR, and we can help fill in any gaps. Sometimes it is difficult to replicate what the Github actions will be doing locally, so opening a PR can help get those results.

Thank you!

[2022-10-28 18:54] rooftopcellist commented on #1019
I added a doc PR to help clarify this.
* https://github.com/ansible/awx-operator/pull/1103

[2022-10-30 12:16] adpavlov commented on #1094
I'm facing similar issue with `awx-operator:0.30.0`, but for `/etc/receptor/receptor.conf`

[code]

[2022-10-30 14:47] dark-vex commented on #445
I had run into the same issue while upgrading the helm chart from 0.25.0 to 0.30.0 the service name changed from `awx-postgres` to `awx-postgres-13`. I have changed the hostname on `awx-postgres-configuration` configmap to fix it

[2022-10-31 11:00] vg-mc commented on #1022
I have the same issue. After a while the installation just stalls to

{"level":"info","ts":1667213815.0013413,"logger":"proxy","msg":"cache miss: /v1, Kind=PodList err-Index with name field:status.phase does not exist"}

Env is k8s with openebs storage (postgres container seems happy with it)
Trying with v0.28.0 as latest has issue with init container permissions.

e: might not be the same issue,

[2022-10-31 18:00] samweisgamdschie opened #1106 "CrashLoop in fresh installation with 'ERROR: relation "django_migrations" does not exist'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-01 10:57] wupeng606 commented on #55
The "GET" action is over the uwsgi harakiri timeout 120s, so the worker of uwsgi was killed.
"since 1605883121" in the means since 2020-11-20 10:38:41 CST

I am facing similar issue. I am searching the help/advice.

[2022-11-01 15:28] TheRealHaoLiu commented on #1099
from what i understand the toleration that you set in AWX resource only affect AWX deployment

to configure job's toleration you would need to configure the toleration in the container group's pod spec

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/44379968/199271878-91dc0be4-9344-4233-aa36-638f1ccb4320.png">

[2022-11-01 15:30] TheRealHaoLiu commented on #1094
FYI @fosterseth @shanemcd

[2022-11-01 17:47] fosterseth commented on #1094
@a-dawg @gdlx @adpavlov what does `ls -la /etc/receptor` give you on the awx-task container?

[code]

for me that directory has full read/write permissions.

[2022-11-02 05:58] adpavlov commented on #1094
I did even scratch installation and permissions are almost same except owner of `receptor.conf`. For me owner is `root` and not `awx` comparing to yours.

[code]

I checked my deployments on awx 21.6.0 and operator 0.29.0, owner is `root` for both `receptor.conf` and `receptor.conf`

There are arguments in awx-ee container. MIght be this is causing owner change?

[code]

[2022-11-02 17:32] AlexSCorey commented on #1106
@samweisgamdschie Sometimes things can get stuck on a fresh install.  When this happens stopping and restarting the installation can get you past the stuck point.  The mailing list can be also be a helpful resource. See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-11-02 17:40] rooftopcellist commented on #1106
@samweisgamdschie I see that you have specified a custom postgres image and version.  When doing this, it is recommended to use an external database (managed by you, not the awx-operator).  This can still be a pod in your cluster, it doesn't necessarily have to be on a separate VM, RDS, etc.

[code]

Based on the fact that I don't see a `postgres_configuration_secret` in your AWX spec, I assume th

[2022-11-02 17:42] #1106 closed, assigned to nobody

[2022-11-03 10:47] simonjcarr commented on #919
I am also having the same issue

[2022-11-03 11:57] adpavlov commented on #1094
@fosterseth @shanemcd
if I change `/etc/receptor/receptor.conf` permissions in `awx-ee` container to `777` `awx-task` container successfully starts

[2022-11-03 16:27] jcomito commented on #1039
You need to install the operator again into the second namespace.

"Starting with awx-operator 0.14.0, AWX can only be deployed in the namespace that the operator exists in. This is called a namespace-scoped operator." https://github.com/ansible/awx-operator#cluster-scope-to-namespace-scope-considerations

[2022-11-03 16:28] FlorianLaunay commented on #1055
MR review in progress. Rebase needed then lift off :rocket: :smile:

[2022-11-03 16:49] bpedersen2 commented on #1081
The error is  thrown  from the recptor: https://github.com/ansible/receptor/blob/a65ef6c80ac68c133d2c3d7ccd341758b0185dcc/pkg/workceptor/kubernetes.go#L243

[2022-11-03 17:09] jweiher commented on #1064
This is caused by the migration 0164_remove_inventorysource_update_on_project_update, when you already have a newer version of the application.
Workaround: Deploy 21.5.0 first, and the latest version after that.

[2022-11-03 23:37] #1055 closed, assigned to TheRealHaoLiu

[2022-11-04 01:40] fosterseth commented on #1094
@adpavlov @gdlx @a-dawg which versions of operator are you on?

awx v21.6+ is going to require awx-operator v0.29.0+

can you please try with on later operator versions and see if the problem persists?

[2022-11-04 03:32] adpavlov commented on #1094
I used latest 21.7.0 and 1.0.0

[2022-11-04 09:03] HGS9761 commented on #1064
Can this be fixed ?
In general the documentation suggests that an indirect upgrade is not needed.
If fixing is not feasible, the workaround should be mentioned in the documentation.

[2022-11-04 16:30] FlorianLaunay commented on #1057
I have started to work on a local branch to fix this. I will keep you in touch and open a PR when the fix will be ready.

[2022-11-04 19:30] acas25 commented on #1022
@nscblauensteiner I had the same issue, can you share what you did with the yaml files.

[2022-11-04 21:03] marcos-bonfanti-me commented on #642
Hi! I'm having a similar issue but I cant get what is failing, which are the pods and container logs that I should watch for the troubleshooting
For me it's no clear which should be the value of AUTH_LDAP_GROUP_TYPE in th UI,  i have set in an old installation ActiveDirectoryGroupType,
But in the example of the readme, it says value: 'GroupOfNamesType(name_attr="cn")'

AWX Operator version 0.29.0

[2022-11-06 12:14] Syntax3rror404 commented on #671
Hello, is anyone still there? awx-operator runs fine but we also need to deploy the awx cr to get a awx working. With this repo we only get a awx-operator with argo but not a awx for this we need to create a own repo which holds this custom resource with the values. A kustomize file in this repo will be fine for that.

[2022-11-07 08:12] autofald opened #1112 "Missing extra_nginx_include config in CRD"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-07 09:59] nscblauensteiner commented on #1022
Hy, same rule for you :) - Leave me your mail address here

[2022-11-07 13:59] TheRealHaoLiu commented on #1094
i have not been able to reproduce this problem on kind or OpenShift can someone help test out this PR that @fosterseth tossed up (with instruction to test and reproduce) https://github.com/ansible/awx-operator/pull/1110

also we can be found on https://matrix.to/#/#awx:ansible.com if anyone wanna come collaborate on this issue

[2022-11-07 15:42] rooftopcellist opened #1113 "Init container image is not set correctly in all cases"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-08 08:59] Raptus1 commented on #445
Strange enough I am experiencing this on Rocky 9 deployment, but not Rocky 8 with basically the same setup using only centos9 docker repo instead.

Using latest operator and awx.

@dark-vex Can you elaborate on the configmap you are editing? I and not using helm, but would like to try your bugfix/workaround. :)

[2022-11-08 13:38] FlorianLaunay commented on #1057
After investigations, this problem seems to be caused by `kustomize` during the helm chart generation. This one is managed in Makefile by the `helm-chart-generate` step ([Makefile#L295](https://github.com/ansible/awx-operator/blob/devel/Makefile#L295)) using `kustomize edit set label` to add `commonLabels` field to `kustomization.yaml` containing the `helm.sh/chart` label with the operator version

[2022-11-08 15:12] FlorianLaunay commented on #1057
@andriktr I have a working fix with #1114

Waiting to be reviewed :innocent:

[2022-11-08 17:04] andriktr commented on #1057
@FlorianLaunay sounds great.
Thanks for your effort ;)

[2022-11-09 05:07] praniq commented on #1039
Have the same issue. Looks like it's not possible to deploy multiple awx-operators in different namespaces.

The issue here is that multiple awx-operator helm releases try to manage the same ClusterRole "awx-operator-metrics-reader". And Helm doesn't allow multiple releases to manage the same resource. During a release install Helm checks "meta.helm.sh/release-name" and "meta.helm.sh/release-names

[2022-11-09 10:31] kogarastu opened #1115 "awx-operator crashing on GKE Autopilot"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-11-09 14:36] Audrius13 opened #1116 "Custom awx operator images in helm chart"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-11-09 16:09] fosterseth commented on #1115
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-11-09 16:09] #1115 closed, assigned to nobody

[2022-11-09 16:10] djyasin commented on #1116
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-11-09 16:10] #1116 closed, assigned to nobody

[2022-11-09 16:32] Zokormazo commented on #1112
If we include `include /etc/nginx/conf.d/*.conf` to our nginx.conf, you could do that without new fields in the cr, might be a better approach.

Using a [custom volume mount](https://github.com/ansible/awx-operator#custom-volume-and-volume-mount-options) you can mount extra files in /etc/nginx/conf.d of web container from a `ConfigMap`, we probably just miss the bits to actually read them

Thous @

[2022-11-09 17:04] kogarastu commented on #1115
It could be a bug if awx-operator isn't compliant with GKE Autopilot.
the result is a bug : CrashLoopBackOff on awx-operator-controller-manager-5457cf7b4c-pod

[2022-11-09 19:36] ghost commented on #890
I came across this issue too, since my cluster blocked deployment as well. I changed `templates/deployment-awx-operator-controller-manager.yaml`:

[code]
And redeployed the operator. I then started a new instance of AWX. The only container now that doesn't work is the web container.

[code]
It seems like the `quay.io/ansible/awx:21.8.0` image expects to run as root unfortunately.

It looks like th

[2022-11-09 20:25] ghost commented on #890
Also see https://github.com/ansible/awx/issues/10648

[2022-11-10 08:34] Audrius13 commented on #1116
Hello,
I disagree, question would be how to do it. But now it's not possible to customize image values in helm charts.
And it would be great feature to have.

[2022-11-10 16:42] bewing commented on #1039
The issue are the `awx-operator-metrics-reader` and `awx-operator-proxy-role` defined in `awx-operator/config/rbac/auth_proxy*` being cluster resources.

Does kube-rbac-proxy require a ClusterRole?
Can we wrap deployment of these templates in a values check so we can suppress them after the first controller has been deployed to a namespace?

[2022-11-11 15:04] weironz opened #1118 "Do not use latest image tag in release version"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-11-11 15:16] weironz commented on #1118
In addition, I want to find the default awx image tag used by the operator, but the entire repo does not find `quay.io/ansible/awx:21.8.0`

![image](https://user-images.githubusercontent.com/33590311/201369498-c9ba469c-950b-40b1-9752-caa835313b9a.png)

[2022-11-11 15:55] weironz opened #1119 "ee image tag can not be set"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-11 17:44] weironz opened #1120 "got an unexpected keyword argument 'suppress_env_files'"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-11 19:49] ghost commented on #890
Awaiting approval for https://github.com/ansible/awx/pull/13188 which might fix this.

[2022-11-14 08:39] FlorianLaunay commented on #1057
Got an interesting review from the AWX team. Another solution is now being considered. Awaiting for their response to push :wink:

[2022-11-14 14:13] relrod opened #1121 "Tracking: Prepare awx-operator for rsyslog sidecar container"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-11-14 14:48] AymericP35 commented on #1112
Would appreciate such a feature as I’m also seeking a way to put extra conf to nginx !

[2022-11-14 15:39] MatthieuLeMee commented on #1022
Why is this issue closed but it doesn't seem to have any solution available ?

[2022-11-14 18:39] DFazeli commented on #568
Same errors running `quay.io/ansible/awx:21.6.0` and `quay.io/ansible/awx-ee:latest` and `postgres:12` and `postgres:12` from scratch
[code]

**My demo.yaml**
[code]

[2022-11-14 19:14] pat-s commented on #1039
I also just fell over this. Applies also to clusterrolebinding `awx-operator-proxy-rolebinding`.

[2022-11-14 19:43] pat-s commented on #1050
`ingress_class_name` is listed as a valid config option in https://github.com/ansible/awx-operator/blob/devel/README.md#ingress-type but seems not to be supported in the operator?

v1.0.0

EDIT:

I checked the CRD via `kubectl edit crd awxs.awx.ansible.com` and indeed `ingress_class_name` is missing there. Adding it manually solved the issue.

PS: `no_log` is also missing.

[2022-11-14 20:50] andrewvillano opened #1122 "Unable to create AWX Instance: [digital envelope routines: EVP_DigestInit_ex] disabled for FIPS"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-15 06:17] vg-mc commented on #1022
Try disabling IPv6 on your nodes or go back to v0.24.0 if that works. It did for me.

E: you can try checking the container awx-web if it hangs with nginx trying to get IPv6 address to verify this. You do this by k logs deployment/awx -c awx-web -n yournamespace

[2022-11-15 20:42] akus062381 commented on #1043
Hi @rparree,
Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication method

[2022-11-15 20:42] #1043 closed, assigned to nobody

[2022-11-15 20:54] akus062381 commented on #1079
Hi @boldandbusted,
Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication

[2022-11-15 20:54] #1079 closed, assigned to nobody

[2022-11-15 21:32] #1057 closed, assigned to nobody

[2022-11-15 21:39] boldandbusted commented on #1079
The fact that this was a "heartfelt" robot reply somehow makes it worse than a "WONTFIX". :(

[2022-11-16 18:20] djyasin commented on #1122
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-11-16 18:23] djyasin commented on #1120
Hi @willzhang!

We would like to gather some information from you. Please let us know what execution environment you are running.

[2022-11-16 18:28] djyasin commented on #1119
Hello,
At this time Helm is community supported. @miles-w-3 Can you shed any light on this situation?

[2022-11-16 18:52] djyasin commented on #1099
Hi!

Thank you very much for for this issue. It means a lot to us that you have taken time to contribute by opening this report.

On this issue, there were comments added but it has been some time since then without response. At this time we are closing this issue. If you get time to address the comments we can reopen the issue if you can contact us by using any of the communication methods listed

[2022-11-16 18:52] #1099 closed, assigned to nobody

[2022-11-16 18:55] shanemcd commented on #1122
I think this _is_ a bug report, just not with our code. I would encourage you to go file this over in https://github.com/ansible-collections/kubernetes.core

[2022-11-16 19:08] djyasin commented on #1118
Hello, please use the following command to grab the latest image:
docker run --entrypoint=“”  quay.io/ansible/awx-operator:1.0.0 bash -c “env | grep DEFAULT_AWX_VERSION”
DEFAULT_AWX_VERSION=21.8.0

[2022-11-16 19:08] #1118 closed, assigned to nobody

[2022-11-16 22:04] TheRealHaoLiu commented on #622
we are working on it...

In current implementation of Kubernetes (specifically kubelet) there are hard coded time limit for connections

https://github.com/kubernetes/kubernetes/blob/70e73a6cdaab5dae41357e3a25d6ac60aff62438/pkg/kubelet/server/server.go#L166-L168

At a high level approach to solving this problem is to use Kubernetes `--timestamps=true` when streaming logs and use the last timestamp

[2022-11-16 22:36] miles-w-3 commented on #1119
@djyasin, in most cases, the helm chart just adds any configurations from the values file into an awx resource. This is the output from his values file when using the helm chart. Can you confirm whether this is a valid AWX spec for what @willzhang is trying to accomplish, assuming he used kustomize?

[code]

[2022-11-16 22:47] kurokobo commented on #1119
The spec `ee_images` is not to specify EE image to be used by AWX's pod, but to specify list of EE images to be registered in AWX.
If you want to specify the image for `awx-ee` container in AWX's pod, try `control_plane_ee_image` instead.
If you want to specify the image for EE for your Job, register EE via `ee_images` (or Web UI, or API) and then select EE in your Job Template.

[2022-11-16 22:50] miles-w-3 commented on #1119
^ cool, basically, this boils down to an AWX schema question - as you can see, any value under the `AWX.spec` header in helm get plopped directly into the AWX resource.

The awx-operator chart isn't really a helm-native app, it already has the operator to create/configure/manage resources, therefore the helm chart as a whole and the values schema in particular are just there to make this more wide

[2022-11-17 07:59] Audrius13 opened #1124 "Custom awx operator images in helm chart"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-11-17 13:40] shanemcd commented on #622
Closing as a dupe of the other issues mentioned above.

[2022-11-17 13:40] #622 closed, assigned to nobody

[2022-11-17 16:57] rooftopcellist commented on #385
@willhaines I published the awx-operator on OperatorHub recently with this PR:
* https://operatorhub.io/operator/awx-operator

Currently only operator version 0.30.0 is up there right now, but I am working on getting 1.0.0 published there and will be updating the release automation so that it automatically opens up a PR to the community-operators repo.

As part of that automation, I will add steps

[2022-11-17 20:38] ghost commented on #1050
Searching the repo, the code for this to work has existed for 2 years, but the CRD lacks the field. 🤣

[2022-11-18 11:09] pat-s commented on #917
Setting replicas via

[code]

and enabling sticky sessions in the ingress (e.g. NGINX):

[code]

results in a stable UE so far for us.

[2022-11-18 16:46] krzwiatrzyk opened #1127 "Automation job failed to create fsnotify watcher: too many open files"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-18 16:52] krzwiatrzyk commented on #1127
Additionaly:
[code]

[2022-11-18 17:01] krzwiatrzyk commented on #1127
Setting ` sudo sysctl fs.inotify.max_user_instances=8192` helped

[2022-11-18 17:01] #1127 closed, assigned to nobody

[2022-11-21 04:31] bchutro commented on #1022
@nscblauensteiner I'd be interested in how you fixed this as well.  My email is bchutro@pamperedchef.com

[2022-11-21 06:02] alexbacchin-asx commented on #1119
I have the same issue! the [template file](https://github.com/ansible/awx-operator/blob/devel/roles/installer/templates/deployments/deployment.yaml.j2#L320 ) is interpolating only the default value. No checks and usage for the  `control_plane_ee_image `

[2022-11-21 08:02] kurokobo commented on #1119
@alexbacchin-asx
Refer to:
https://github.com/ansible/awx-operator/blob/61f45147f6b618f44151364efa9e438d6545e253/roles/installer/tasks/resources_configuration.yml#L20-L28

[2022-11-21 09:22] MatthieuLeMee commented on #1022
I had this error when trying to deploy awx 21.5.0 with and recent 1.0.0 awx-operator. I think it's related to awx-ee:latest latest image having problems with old awx:21.5.0 image. Upgrading to 21.8.0 fixed it.

You can check init container logs, it gives some useful information sometimes : kubectl logs awx-767b7d7c7b-72prx init

[2022-11-21 20:54] trippinnik commented on #1022
Why are we emailing someone to get the fix? Could someone just post what they did to fix this?

[2022-11-22 15:30] Vitexus commented on #275
AWX 21.9.0 Operator 1.1.0

[code]

[2022-11-23 16:54] fosterseth commented on #1089
closing due to inactivity for now, please reopen a new issue if you are still experiencing this problem. thank you!

[2022-11-23 16:54] #1089 closed, assigned to nobody

[2022-11-23 16:56] fosterseth commented on #1088
@mqufflc were you able to get this working?

[2022-11-23 17:38] adpavlov commented on #1094
my issue was caused by wrong user in container. I'm building custom image and used root for some commands. Once I add user 1000 issue resolved.

[2022-11-23 18:40] unbreakabl3 commented on #1089
Hi, @fosterseth.

Yes, from the CLI it is working well. Please see an example below:

[code]

In addition. I just did upgrade the AWX to the latest one and it is still not working and the error is the same.

[2022-11-23 18:58] djyasin commented on #1124
Hello, this appears to be less of a bug report or feature request and more of a question. Could you please ask this on our mailing list? See https://github.com/ansible/awx/#get-involved for information for ways to connect with us.

[2022-11-23 18:58] #1124 closed, assigned to nobody

[2022-11-23 20:09] Bhanum1989 opened #1130 "Azure AD Oauth is not working"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-24 06:59] Audrius13 opened #1131 "Custom awx operator images in helm chart"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-11-25 07:59] tanganellilore opened #1132 "BUG on Receptor configuration - No verifysignature param"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-25 10:15] nbisson opened #1134 "Use custom CA for external Postgres encrypted"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that AWX Operator is open source software provided for free and that I might not receive a timely response.

##

[2022-11-25 12:36] nickjmv commented on #1050
+1 on the no_log that is missing. That was a real pain in the *** while I was trying to troubleshoot my deploy 😝

[2022-11-25 13:35] kenichimilo commented on #1017
+1 broken upgrade, as mentioned.. workaround didn't seem to work, 4 me..
A disable ipv6 could come in handy in the CRD

[2022-11-26 16:03] louissegal commented on #919
<tag> is placeholder, change both entries to 1.1.0 (or any other tag) without brackets

[2022-11-27 21:39] mqufflc commented on #1088
I was able to start an AWX instance with these modifications : 3b5ae73dc595a94565c70b8cda3db3e56a873978
The molecule test is in success but I haven't tested the backup and restore playbooks.

It should be noted that I tested this with a local postgresql instance, note a GCP Cloud SQL instance. As Cloud SQL enforce the use of both the client certificate and the user password, I'm not sure yet if th

[2022-11-28 21:49] AndrewSav commented on #879
I just had time to re-test it with operator 1.1.0 and it appears to be working now - sorry for the delay

[2022-11-29 14:04] Alex011274 opened #1136 "Previous helm chart versions not available"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-29 14:37] wupeng606 commented on #1094
I am facing this problem with okd/openshift 4.9.37, awx 21.9.0, awx-operator 1.1.0.

[2022-11-30 15:31] henrysachs opened #1138 "Fresh AWX Operator cant start Jobs on EKS 1.22"
### Please confirm the following

- [X] I agree to follow this project's [code of conduct](https://docs.ansible.com/ansible/latest/community/code_of_conduct.html).
- [X] I have checked the [current issues](https://github.com/ansible/awx-operator/issues) for duplicates.
- [X] I understand that the AWX Operator is open source software provided for free and that I might not receive a timely response.

[2022-11-30 15:45] rooftopcellist commented on #1017
@kenichimilo It is now possible to disable IPv6 in the nginx config from the AWX CR's spec thanks to this PR:
* https://github.com/ansible/awx-operator/pull/1135

This is currently available in the `devel` branch, and will be available in the next released version of the awx-operator as well.

[2022-11-30 15:45] #1017 closed, assigned to nobody

[2022-11-30 16:34] #1138 closed, assigned to nobody

[2022-11-30 16:35] henrysachs commented on #1138
Sorry the issue was network related I found the jobs logs and saw that we can't reach github

[2022-11-30 18:17] djyasin commented on #1136
Hello @Alex011274,
Thank you for bringing this to our attention. We will investigate this further and get back to you!

[2022-11-30 18:56] djyasin commented on #1131
@miles-w-3 what are your thoughts on this issue?

[2022-11-30 19:05] miles-w-3 commented on #1131
The process of building the helm chart is basically taking all of the files from kustomize building them into full yaml files, then putting them in the templates folder. These aren't true "templates" because none of the their fields are customized through the values file, as this issue states.

Since kustomize and helm are somewhat competing solutions, fundamentally only one can be used to manage